[2021-06-01 12:24] fredrikarvas-vertel opened #622 "AFC-2421-[New]-OccupationDemand-module"
**Userstory:**
As a user, I see a list of Occupation Demand because I want to know if I should give a jobseeker advice to search that job or not.

**1 Add a form view with:**
(A module that is fairly similar is https://github.com/vertelab/odoo-base/tree/Dev-12.0/partner_kpi_data)
**SSYK**-group (1 digit level), **SSYK**-code (4 digit level), SSYK-**Name** (looked up value from https://github.com/v

[2021-06-02 05:44] fredrikarvas-vertel commented on #535
@AnilKesariya  - please revisit this module on a "fully installed" system. To see if it works on your server.

[2021-06-02 05:48] fredrikarvas-vertel commented on #615
@rupareliyahemangi145 I have tested this module and it is a good start.
But it does not report all data. Please check again.
I have not checked all fields now, but please Main target and Alternative target - all of the "second level"-values need to be visible in the report as well. It is ok if the report uses more than one page.

[2021-06-02 05:51] rupareliyahemangi145 commented on #615
Ok Sure @FredrikArvas
I will add all data of Mail Goal and Alternative Goal fields in Report. Please let me know which other data you want in report.
Should I need to add all fields in report which are in form view?

[2021-06-02 08:46] Radhika435 commented on #613
Hi @rupareliyahemangi145
Point 3: I have tested it and seems to be not working with the translations.
Translation of EN: "Created By" into SV: "Skapad av" , "Deadline"  to "Tidsfrist" and "Activity type" to "Aktivitet typ".
![image](https://user-images.githubusercontent.com/59916603/120449175-7f650a80-c38f-11eb-86eb-2d9469703841.png)
Could you please check on this.

[2021-06-02 08:48] rupareliyahemangi145 commented on #613
Yes Sure @Radhika435 Let me check.

On Wed, 2 Jun 2021 at 14:16, Radhika435 ***@***.***> wrote:

[2021-06-02 08:49] rupareliyahemangi145 commented on #618
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-mail/pull/61 for this
issue.
Here is videos for testing:
https://www.loom.com/share/e09fdb2f25284db1956991562cd297e1
https://www.loom.com/share/c19d34e085c34c949ad4a0d7634e47f2

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

On Mon, 31 May 2021 at 16:51, Fredrik Arvas, Vertel AB <
***@***.***> wrote:

[2021-06-02 09:07] rupareliyahemangi145 commented on #613
Hello @Radhika435  and @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/234 for translations in search view.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-02 11:18] #613 closed, assigned to rupareliyahemangi145

[2021-06-02 11:25] fredrikarvas-vertel commented on #615
Yes please, add all fields that are in the screenshots of the form view above.

Thanks

[2021-06-02 11:25] rupareliyahemangi145 commented on #615
Yes Sure @FredrikArvas

[2021-06-02 11:44] rupareliyahemangi145 commented on #615
Hello @FredrikArvas

I've created https://github.com/vertelab/odoo-outplacement/pull/235 for latest Final reprot with detail of Goals.
[AKTTEST-9311 - Final Report(1).pdf](https://github.com/vertelab/odoo-af/files/6584170/AKTTEST-9311.-.Final.Report.1.pdf)

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-02 12:14] rupareliyahemangi145 commented on #622
Hello @FredrikArvas

Do you have some time to discuss this module?

[2021-06-02 12:47] rupareliyahemangi145 commented on #622
@FredrikArvas Let me write questions here.

We need to add new tab inside contacts, right?
No not directly linked to the Contacts. See comment below.

With following fields:
 SSYK-Code - Related with selected SSYK-name
 SSYK-Name - Many2one on res.ssyk
 Demand Date - Date field
 Demand value - What should be field type here?Integer, float or Char = Float (since it has two decimals. Or we can trans

[2021-06-02 17:55] AnilKesariya commented on #596
@FredrikArvas : after installing all dafa module got some problem with server_auth module.

https://www.loom.com/share/daba7bd3ffac47f08d0a385630ad50c0

Traceback (most recent call last):
  File "/home/server/workspace_ht/fredrik/DAFA/server-auth/auth_saml_ol/controllers/main.py", line 134, in get_auth_request
    auth_request, request_id = provider._get_auth_request(state)
  File "/home/server/wo

[2021-06-02 17:58] AnilKesariya commented on #596
@FredrikArvas : is there is special lib for this? ModuleNotFoundError: No module named 'onelogin.saml2'
Standard installation for this library does not work.

Regards,

[2021-06-02 18:06] AnilKesariya commented on #596
@FredrikArvas : I managed to install all the app, it works perfectly fine with all installed module. here is the video shared.

https://www.loom.com/share/c6cf5f549e8348f991d8deb1249f324d

Please do let me know if you need more info about this.

Regards,
Anil

[2021-06-02 18:28] AnilKesariya commented on #535
@FredrikArvas : There is an issue with auto sign out module when I load with all modules in DAFA and CRM. this error is reproduced but still couldn't find which modules makes a conflicts, I will update you on this shortly.

[2021-06-02 19:21] fredrikarvas-vertel commented on #535
Thanks for trying to find the reason!

[2021-06-02 19:31] fredrikarvas-vertel commented on #622
@rupareliyahemangi145  -  You are right. I have not been totally clear.

So here is "the bigger picture userstory".

As a "mass mailing"-sender case worker, I want to select all "jobseekers that have a professional experience in one of the Occupations with high demand" and send a news letter to them.

I think this can be done if we:
 a) have a resource module with the OccupationDemand-values for a

[2021-06-02 19:51] fredrikarvas-vertel commented on #615
Great this looks good. Now it is up to our designers to give an opinion about the formatting etc!

[2021-06-02 19:52] #615 closed, assigned to rupareliyahemangi145

[2021-06-03 04:27] rupareliyahemangi145 commented on #615
Ok Thanks @FredrikArvas

[2021-06-03 04:39] rupareliyahemangi145 commented on #622
Ok @FredrikArvas Let's discuss this on standup meeting.

[2021-06-03 09:44] rupareliyahemangi145 commented on #622
Hello @FredrikArvas

I've created new module **res_occupation_demand** that will add Occupation demand's fields in res.ssyk.

Now as we need this fields in Contact's >> **Desired Jobs** tab.
We have 2 options:
1. We can add this module in depends on **partner_desired_jobs** module. And add occupation fields in tab from desire modules.
(This module will install when Partner desire module install)
2

[2021-06-04 06:06] fredrikarvas-vertel commented on #622
Please illustrate

base
- res_partner
-- partner_360
--- parnter_desired_job
---res_occupation_demand
----"res_occupation-demand_glue"

[2021-06-04 06:12] fredrikarvas-vertel commented on #535
We change requirements from tracking session length limitation, into idle time 15 min default.

[2021-06-04 06:46] rupareliyahemangi145 commented on #622
@FredrikArvas
We have **partner_desired_jobs**(Desired Job tab inside Contact added by this module) and **partner_desired_jobs_360**(Desired Job tab inside Jobseeker added by this module) module.

For now we have **res_ssyk** module in depends of **partner_desired_jobs** module. We will use **res_occupation_demand** module in depends of **partner_desired_jobs**.

So whenever **partner_desired_jobs

[2021-06-04 07:29] AnilKesariya commented on #535
@FredrikArvas : As we are setting a default session Ideal time, do we need to load the extra field on sign in? and need to maintain that audit login?

[2021-06-04 07:34] rupareliyahemangi145 commented on #622
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-base/pull/319 for this issue.
Please check it when you can and let me know if anything.

Here is video of result:
https://www.loom.com/share/331d9da919c642feb0da0c53b50fed3e

Thanks.

Regards,
Hemangi.

[2021-06-04 09:18] fredrikarvas-vertel commented on #535
No, I think we can remove that field now. thanks

[2021-06-04 12:02] fredrikarvas-vertel opened #630 "AFC-2441_Add_Pivot-view for interpreter bookings"
**Userstory:**
As a Interpreter Accountant-user, I want see a report of how many interpreters are booked, to follow up bookings.

Add Pivot-view (and other graphical views if they are easy to add).
(x are prio 1)

**Meaures**
x Count
Interpreter time
Interprter Additional time

**Values**
x date
split_start_time
duration
additional_time
x Interpreter _remote_type.name
x Interpreter _language.name

[2021-06-04 12:09] rupareliyahemangi145 commented on #630
Ok @FredrikArvas Let me check this issue.

[2021-06-04 13:27] AnilKesariya commented on #535
@FredrikArvas :
I've pushed the latest changes to **Dev-12.0-AFC-2142-login_reason**

1. Removed length field from login screen

![removed_length](https://user-images.githubusercontent.com/5101994/120807889-14216100-c566-11eb-8fef-7435b6a4e0c4.png)

2. Set default 15 minutes to system parameter for ideal login time for all users, if user will be ideal for 15 minute then system will auto logout use

[2021-06-04 13:49] fredrikarvas-vertel opened #631 "AFC-AFC-2443 [IMP] Hide menues in DAFA"
**Userstory:**
As a user, I only want to see the right menues.

(Note: this module uses exact match on the groups, it does not use inheriance of grups)

1
Discuss = Remove the group "Internal user", add "group_no_one".
Calendar Remove the group "Internal user", add "group_no_one".
Employees =  Remove the group "Internal user"
Leaves =   Remove the group "Internal user", add "group_no_one".
Project

[2021-06-04 15:09] fredrikarvas-vertel opened #633 "AFC-2445 [BUG] Statuses in Interpreter bookings"
1
Please add the status = '5': _('Cancelled by Interpreter'), as a "Interpreter Booking Status " and in "Odoo Widget"
![image](https://user-images.githubusercontent.com/61729317/120822535-cbae7700-c556-11eb-8a6b-fb586342323e.png)

https://github.com/vertelab/odoo-outplacement/blob/55bfe8c72f055aa40106d36795904bc3449a2420/outplacement_order_interpreter/models/mail_activity.py

2
Change the order in

[2021-06-04 16:39] AnilKesariya commented on #631
@FredrikArvas : I've added estimated hours do let me know if i can start work on it.

Regards,

[2021-06-05 05:42] fredrikarvas-vertel commented on #631
HI @AnilKesariya
Please explain why this is so time consuming. I was execting less then one hour. What did I miss?
:-)

[2021-06-05 09:51] rupareliyahemangi145 commented on #633
Ok @FredrikArvas I will check this issue.

[2021-06-07 05:42] fredrikarvas-vertel commented on #618
Thanks for this module.
We need to improve the error management a bit:

1
I got this error:
  File "/opt/af/odoo/odoo_crm/src/odoo-mail/mass_mailing_unsubscribe_af/wizard/import_deregistration.py", line 119, in import_data
    date = str(datetime.strptime(date, DEFAULT_SERVER_DATETIME_FORMAT) - timedelta(hours=2))
TypeError: strptime() argument 1 must be str, not float

When I imported this Excel

[2021-06-07 05:53] rupareliyahemangi145 commented on #618
Ok @FredrikArvas

[2021-06-07 05:57] fredrikarvas-vertel commented on #622
I tried to install this module, but it does not work.
Could you please try to "rebase" it towards a new version of the Dev-12-branch?
(I get very strange errors now.)

[2021-06-07 05:58] rupareliyahemangi145 commented on #622
Ok Sure @FredrikArvas

[2021-06-07 06:17] fredrikarvas-vertel commented on #605
@rupareliyahemangi145  Please give a link here on which version of the branch to start from.

[2021-06-07 06:22] fredrikarvas-vertel commented on #631
@AnilKesariya  Please create the users from the Employee-menu and assign user-rights only from DAFA Groups
![image](https://user-images.githubusercontent.com/61729317/120968722-831ad780-c769-11eb-892a-ac4f9a09d602.png)

[2021-06-07 07:03] rupareliyahemangi145 commented on #633
Hello @FredrikArvas

Can I create one PR for this issue and https://github.com/vertelab/odoo-af/issues/630 issue to avoid conflicts?

Because both issues changes are in One file and one xml record.

[2021-06-07 07:16] fredrikarvas-vertel commented on #633
Yes!

[2021-06-07 07:17] AnilKesariya commented on #631
@FredrikArvas : This changes need to add in sale_outplacement? or somewhere else?

[2021-06-07 07:21] rupareliyahemangi145 commented on #605
Hello @FredrikArvas  and @S-Arnshed-Capgemini ,

@S-Arnshed-Capgemini You have to take outplacement branch code till this commit https://github.com/vertelab/odoo-outplacement/commit/ed08213ceb4764a35210ab23bb642e45fef37851

Here are commands to do this:

1. git reset ed08213ceb4764a35210ab23bb642e45fef37851
2. git checkout .
3. git clean -n
4. git clean -fd

[2021-06-07 07:22] rupareliyahemangi145 commented on #633
Ok Thanks @FredrikArvas

[2021-06-07 07:28] fredrikarvas-vertel commented on #631
Yes please.

[2021-06-07 07:42] rupareliyahemangi145 commented on #622
Hello @FredrikArvas

I've created new PR https://github.com/vertelab/odoo-base/pull/321 for this issue.
Closed previous PR.

Please check it with new PR and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-07 08:09] rupareliyahemangi145 commented on #633
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/238 for this issue and #630 issue.

Here is videos(with voice):
https://www.loom.com/share/7ed82b84070c4bbb8ac3213f04451175
https://www.loom.com/share/06f6e889f88a475394a7cbe985c74a3b

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-07 08:09] rupareliyahemangi145 commented on #630
PR for this issue is with #633 issue.

[2021-06-07 08:49] S-Arnshed-Capgemini commented on #605
Hello! @rupareliyahemangi145 ,
I have tried to follow the instructions but seem to having some issues. Would you have the time to help me with some of my questions?

[2021-06-07 09:03] rupareliyahemangi145 commented on #605
Yes Sure @Simon Arnshed ***@***.***> Let me know
where we can connect.

On Mon, 7 Jun 2021 at 14:19, S-Arnshed-Capgemini ***@***.***>
wrote:

[2021-06-07 11:38] rupareliyahemangi145 commented on #618
Hello @FredrikArvas ,

I've added one more commit in same PR https://github.com/vertelab/odoo-mail/pull/61 for above changes.

Here is videos for testing:
1. https://www.loom.com/share/5250fb4a27ab468099d51e09ce96dd45
2. https://www.loom.com/share/98ac104fa1b64d768d9bbf3855b8fc69
3. https://www.loom.com/share/1afc4b18c9cb4b8792524bb815bbbfe5

Please check it and let me know if anything.

Thanks.

[2021-06-07 20:19] fredrikarvas-vertel commented on #622
Hi @rupareliyahemangi145
I have tested now and your solution is a good first step. It is not as I intended, but I think this is a more simple solution.

We need to find a way to import values for the change in market demand.
Where do you suggest we import it from?
From the Tree-view of SSYK-codes?
In this format?
id,name,description,demand_date,demand_value,previous_date,previous_value

[2021-06-07 20:25] #596 closed, assigned to AnilKesariya

[2021-06-08 04:46] rupareliyahemangi145 commented on #622
Yes @FredrikArvas You can import from SSYK-codes tree view.
And yes format is correct.

[2021-06-08 05:20] AnilKesariya commented on #631
@FredrikArvas : point 1 is completed in 1 hour, point 2 is not clear to me. to create an employee I need a working SSN no. I followed this format but it does not work for SSN. YY-MM-DD-XXXX. today I will test this with Anusha for point 1. point 2 we will discuss on today's scrum meeting.

[2021-06-08 05:30] fredrikarvas-vertel commented on #631
Use this service:
https://www.personnummer.nu/
The format is: YYMMDD-XXXX or YYMMDD-XXXX or YYYYMMDDXXXX or or YYYYMMDDXXXX
Here are a few:

19700101-4260
19750101-0370
19800101-6388
19850101-1699
19900101-6188
19950101-0194

[2021-06-08 05:43] AnilKesariya commented on #631
It gives me this warning when I try any of the following number : Wrong SSN format. Should be 12 numbers (199010241234).

[2021-06-08 05:44] fredrikarvas-vertel commented on #618
@rupareliyahemangi145
I have now got the exact format we are getting from the previous system.
Could you please add that as an alternative import-format?
Pick only column 2 and 3 and for now, only assign the default un-subscription reason.
The date-time needs to be accepted in the format given here.
[Optout_Apsis_2021-06-07_test.zip](https://github.com/vertelab/odoo-af/files/6613708/Optout_Apsis_2

[2021-06-08 05:45] fredrikarvas-vertel commented on #618
Please push these changes to the same branch

[2021-06-08 05:46] AnilKesariya commented on #631
It worked after removing '-' sign from your number list. thanks.

[2021-06-08 05:47] rupareliyahemangi145 commented on #618
Ok Sure @FredrikArvas

[2021-06-08 06:59] AnilKesariya commented on #631
@FredrikArvas @Radhika435

I've created [https://github.com/vertelab/odoo-outplacement/pull/240](https://github.com/vertelab/odoo-outplacement/pull/240) for this issue.

Point 1 is submitted and point 2 is already working. Recorded [video](https://www.loom.com/share/f47c446b51af48ef8e3a42eb537e9fbd)

Regards,
Anil

[2021-06-08 07:23] rupareliyahemangi145 commented on #618
Hello @FredrikArvas
I've pushed new commit in same branch to import with new file format.

Please check it and let me know if anything.

Thanks.

Regards,
Heamangi.

[2021-06-08 09:26] rupareliyahemangi145 commented on #612
Hello @FredrikArvas

Have you got clear requirements for this issue?

[2021-06-08 11:15] Radhika435 opened #636 "AFC-2438 Translate the text box while submitting the GP"
**User story:**

In the outplacement; we have a dependency field Mötestyp(meeting_remote) which needs to be filled in for sending/submitting the GP tasks to the BÄR.
While submitting the tasks we will get a warning message as shown in figure below.

Step :1
Look after the dependency field
![image](https://user-images.githubusercontent.com/59916603/121178103-6dd3a500-c85e-11eb-8845-cb127ef31c34.png

[2021-06-08 13:02] rupareliyahemangi145 commented on #636
Hello @Radhika435 and @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/242 for this issue.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-09 07:54] #633 closed, assigned to rupareliyahemangi145

[2021-06-09 14:24] fredrikarvas-vertel opened #638 "AFC-2468-hide social security number and AFC-2546"
**Userstory:**
As a normal user, I do not want to see my collegues social security number.

Show only SSN No for "DAFA Admin Read". 

Show only Legacy ID for ServiceDesk1 or above.

**Module name:** (added by Nils or Fredrik)
Revert changes in: https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0-Fenix-Sprint-02/outplacement
Add changes in: https://github.com/vertelab/odoo-hr/blob/Dev-12.0-

[2021-06-09 14:37] fredrikarvas-vertel opened #639 "AFC-2465-add-KA-number-to-email-template"
**Userstory:**
Please add the KA-number when clicking on the "Unsubscribe-email".

1 cancel an interpreter booking
2 click on the text in the window

![image](https://user-images.githubusercontent.com/61729317/121374399-27567700-c940-11eb-8999-78189e47bf8f.png)

An email is created with Bokningsreferens **AND** KA-number

https://github.com/vertelab/odoo-outplacement/blob/9c94079a262cc781d86ec4a81

[2021-06-10 05:11] rupareliyahemangi145 commented on #639
Ok @FredrikArvas I will check this issue.

[2021-06-10 05:12] rupareliyahemangi145 commented on #638
Ok @FredrikArvas I will check this issue.

[2021-06-10 05:33] fredrikarvas-vertel commented on #633
Merged

[2021-06-10 05:42] fredrikarvas-vertel opened #640 "AFC-2469 - prepare code for automatic testing"
Please identify reasons for error/warning-messages when installing DAFA

and suggest solutions

Table 'account_move': column 'period_id': unable to set constraint NOT NULL
column "period_id" contains null values

odoodafa odoo.models: The model hr.employee.user.ciam has no _description 

odoodafa odoo.addons.base.models.ir_model: Two fields (operation_ids, operation_id) of hr.employee() have the s

[2021-06-10 05:50] fredrikarvas-vertel opened #641 "AFC-2469 - clean up unused code"
https://jira.arbetsformedlingen.se/browse/AFC-2469

https://github.com/vertelab/odoo-outplacement/pull/239/commits

Actual Hours:

Hemangi - 50 mins: Checked committed code and removed other two unused extra methods.

[2021-06-10 05:51] Bahaa864 commented on #641
https://www.facebook.com/groups/elite.of.iraq

[2021-06-10 05:57] rupareliyahemangi145 commented on #640
Ok Sure @FredrikArvas

[2021-06-10 07:10] rupareliyahemangi145 commented on #638
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/243 for this issue.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-10 07:11] rupareliyahemangi145 commented on #639
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/243 for this issue.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-10 07:44] #639 closed, assigned to rupareliyahemangi145

[2021-06-10 08:02] rupareliyahemangi145 commented on #640
Hello @FredrikArvas

For this issue, Should I need to fix this warnings or need to find tool for automatic testing?

[2021-06-10 08:51] fredrikarvas-vertel commented on #640
I think we can do this in two steps.
1 Fix issues that needs to be fixed that can be found with "automatic qualty testing".
2 set up testing-scripts. Here we need more knowledge about how to do this.

[2021-06-10 23:09] Anushalewis opened #642 "AFC-2465- The KA-number is not part of the automated email for interpreter cancellation"
**User story** : The KA-number is not part of the automated email for interpreter cancellation
As a user of the DAFA-system, when a interpreter booking is cancelled user should be able to see both the reference  number and the KA number on the automated email .

To replicate the issue follow the steps, please refer below for screen shots.
Log in user of dafa , cancel an interpreter booking, click

[2021-06-11 06:12] fredrikarvas-vertel opened #643 "AFC-2471-review the code according to pep8"
One PR for each per repository.
One Repository will come with multiple module-changes.

Add README.rst file
Format code based on pep8

**Done Repositories**
odoo-outplacement - https://github.com/vertelab/odoo-outplacement/pull/246 - Merged
odoo-web - https://github.com/vertelab/odoo-web/pull/66  - Merged
odoo-mail - https://github.com/vertelab/odoo-mail/pull/63  - Merged
odoo-project - https://gi

[2021-06-11 15:23] #636 closed, assigned to rupareliyahemangi145, Radhika435

[2021-06-12 11:08] rupareliyahemangi145 commented on #643
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/246 for Outplacement repo.

- Added README.rst file in all modules of outplacement repo.
- Formatted code based on pep8 in all modules of outplacement repo.
- Updated code to remove warnings from terminal which were came from this repo's modules.

[2021-06-12 12:23] rupareliyahemangi145 commented on #643
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-web/pull/66 for odoo-web repo.
- Formated code according to pep8.
- Added README.rst file.
- Updated index.html file where index.html file added.

[2021-06-15 05:57] rupareliyahemangi145 commented on #643
Hello @FredrikArvas

Yesterday I've created PR for odoo-mail https://github.com/vertelab/odoo-mail/pull/63 and odoo-project https://github.com/vertelab/odoo-project/pull/31. And just now created PR for odoo-base https://github.com/vertelab/odoo-base/pull/329.
- Formated code according to pep8.
- Added README.rst file or index.html file.
- Updated index.html file where index.html file added.

Note:

[2021-06-17 11:45] rupareliyahemangi145 commented on #643
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-af/pull/648 for odoo-af.

- Formated code according to pep8.
- Added README.rst file or index.html file.
- Updated index.html file where index.html file added.

[2021-06-21 20:22] #640 closed, assigned to rupareliyahemangi145

[2021-06-23 04:30] fredrikarvas-vertel opened #653 "AFC-2505 - Extend outplacement with jobseeker category"
1
**Userstory:**
As an Interpreter Accountant, I need to see the "jobseeker-category" of an "interpreter booking"
For this to happen, we need to add one more field from CRM to DAFA. Data is fetched when the Outplacement is created.
(See Kundbild Arbetssökande -> Kundbild Deltagare in the image)
![image](https://user-images.githubusercontent.com/61729317/123038074-084fee80-d3f0-11eb-8adc-5fed2c448b

[2021-06-23 05:19] fredrikarvas-vertel commented on #642
Hi @Anushalewis

Thanks for doing this issue. Here are a few comments:
1 The userstory gives a clear understanding of what needs to happen. In this case the change is small and we can accept a smaller userstory, but it is usually better to give more information then to little.

2 The image is clear!

3 The module-name is easier to get correct if you copy the URL to the module. In this case:
https:

[2021-06-23 05:22] rupareliyahemangi145 commented on #653
Ok @FredrikArvas I will check this issue.

[2021-06-23 07:07] rupareliyahemangi145 commented on #653
Hello @FredrikArvas

**jobseeker_category** is comes from partner_view_360(https://github.com/vertelab/odoo-base/tree/Dev-12.0-Fenix-Sprint-02/partner_view_360). jobseeker_category is based on  jobseeker_category_id, which is Many2one of res.partner.skat.

And res.partner.skat is not added in any module. It was added in partner_view_360_old module.
https://github.com/vertelab/odoo-af/blob/Dev-12.0

[2021-06-23 10:59] rupareliyahemangi145 commented on #653
Hello @FredrikArvas

I've created following PRs for this issue:
During this issue I faced some errors. So also created PRs for those.

1. https://github.com/vertelab/odoo-base/pull/334
- Updated inverse name on partner_id to prevent error when clicking on Jobseeker record from Partner view.
- Improved code to prevent logger warning and for compute method.

2. https://github.com/vertelab/odoo-base/

[2021-06-23 20:40] Anushalewis commented on #642
@fredrikarvas-vertel : Thank you for the well described inputs ,  The comments have been very helpful, have made the corrections and will follow the same when writing future stories .

[2021-06-23 22:36] Anushalewis opened #654 "AFC-2456 -Ignore the value "FALSE" if it is set as default language"
User story : As a user of the DAFA-system, The field temp_lang (Language support requested) on the outplacement view  should not  have False as the default value.

To replicate the issue follow the steps, please refer below for screen shots.
Log in as user of dafa, open outplacement view , filter Language support requested = false.

![image](https://user-images.githubusercontent.com/84374527/12317

[2021-06-24 06:08] fredrikarvas-vertel commented on #653
Please copy partner_360:view from dev-12.0 to dev-12- Fenix-branch and try to apply your changes again.

[2021-06-24 06:11] #642 closed, assigned to nobody

[2021-06-24 06:23] fredrikarvas-vertel commented on #654
Thanks Anusha, This issue works fine now.

[2021-06-24 08:53] rupareliyahemangi145 commented on #653
Hello @FredrikArvas

I've created new PR for odoo-base Fenix. Added partner_view_360 module and partner_co_address(Need as it is in depends).

Here are latest PR's list.

1. https://github.com/vertelab/odoo-base/pull/334
- Updated inverse name on partner_id to prevent error when clicking on Jobseeker record from Partner view.
- Improved code to prevent logger warning and for compute method.

2. ht

[2021-06-24 11:16] rupareliyahemangi145 commented on #654
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/250 for this issue.

Added server action **'Update Language Support Requested'** to keep **Language Supported Request** field empty if there is false for exiting records.
And prevented false value for new records.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-24 15:47] fredrikarvas-vertel opened #656 "AFC-2535 - add error handling in API for Joint planning"
**Userstory:**
As a user of the system, I want to know that the transmission was successful, before I get a "message" in the chatter-log that the JointPlanning was sent
[bar-genomforande-redovisning-1.0.13-raml.zip](https://github.com/vertelab/odoo-af/files/6710534/bar-genomforande-redovisning-1.0.13-raml.zip)

https://github.com/vertelab/odoo-outplacement/pull/252

In this branch I've added a bas

[2021-06-24 20:06] fredrikarvas-vertel opened #657 "AFC-2536 Add SmartButtons to Outplacement and Sales"
The Jira-number should be AFC-2536 not AFC-2356

**Userstory:**
As a ServiceDesk and Accountant - I want to follow up the invoices of our outplacements

1 Please add SmartButtons to the **Outplacement**-form with links to:   (For Accounting Read + ServiceDesk1)
on the **Sales**-form (Display Amount on the Orders)
on the **Invoices**-form (Display Amount on the Invoices)
I think it is done here: ht

[2021-06-24 20:18] fredrikarvas-vertel opened #658 "AFC-2357 Add Visible aid for submitting Joint Planning and Final Report"
**Userstory:**
As a Case Worker, I want to be assisted in what to do in the system:

Add a calculation to allow for filter and visible aid:
1 Add calculated field_ outplacement.time_to_submit_jp:
Display if:
”Today>(Start data + 5 workdays)” AND ”Joint Planning date Submitte = EMPTY”

2 Add calculated field_ outplacement.time_to_submit_fp:
”Today>(End date + 5 workdays)” AND ”Final Report Submit-d

[2021-06-24 20:30] fredrikarvas-vertel opened #659 "AFC-2538 Improvements in interpreter delivery"
**Userstory:**

1 Truncate decimals in Duration
![image](https://user-images.githubusercontent.com/61729317/123328307-bae09800-d53b-11eb-9088-0c18d2eeb6d1.png)

2 If simple, please make "Count" default
![image](https://user-images.githubusercontent.com/61729317/123328477-e6fc1900-d53b-11eb-8f5b-cb3712114bb3.png)

3 Please display a red text on the kanban if the interpreter is not delivered. If pos

[2021-06-25 06:49] fredrikarvas-vertel commented on #653
I would like to avoid dependency to the partner_360_view-module if possible.
Could you see if you can add the functionality you are now depending on in an existing module or in a new extend-module called partner_360_view_dafa which only uses the required code?

Please add the changes in point 4 and 5 in the same pull request, then I can test them all in one go.

[2021-06-25 06:55] rupareliyahemangi145 commented on #653
Hello @FredrikArvas

I've used **partner_360_view** module just for Jobseeker category.
Do you want Job-seekers menu for DAFA?
If not then I can add new module partner_360_view_dafa, and in that module I will add fields for Job seeker category in res.partner.

[2021-06-25 06:59] fredrikarvas-vertel commented on #653
We do not want the "Jobseekers"menu in DAFA.
Yes please create a separate module, and we can use that module for fields that are added in CRM by partner_360_view without installing the partner_360_view

[2021-06-25 06:59] rupareliyahemangi145 commented on #653
Ok @FredrikArvas

[2021-06-25 07:07] #654 closed, assigned to rupareliyahemangi145

[2021-06-25 09:47] rupareliyahemangi145 commented on #653
Hello @FredrikArvas

I've created new PR for odoo-base Fenix. Added partner_view_360_DAFA module.

Here are latest PR's list.

1. https://github.com/vertelab/odoo-base/pull/334
- Updated inverse name on partner_id to prevent error when clicking on Jobseeker record from Partner view.
- Improved code to prevent logger warning and for compute method.

2. https://github.com/vertelab/odoo-base/pull/339

[2021-06-25 13:39] rupareliyahemangi145 commented on #659
Hello @FredrikArvas

I've added new commit https://github.com/vertelab/odoo-outplacement/pull/248/commits/68008d40395330d3a7faa58c32fd324e5154c269 for this issue in PR https://github.com/vertelab/odoo-outplacement/pull/248.

I've skipped Point 2 because didn't found way for it.

Here is video for this issue:
https://www.loom.com/share/badf103c2a9741aa93ce964685a96efb

Please check it when you can

[2021-06-26 06:41] rupareliyahemangi145 commented on #657
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/253 for this issue:
For now I've added only one group **DAFA accounting read**. Because didn't found **ServiceDisk1** group.
**ServiceDesk1** means which group **Support - 1st line** or **Dafa support - 1st line**?

Here is video for that:
https://www.loom.com/share/3c76f25ad8e344b49a4797f2e7118ed8

Please chec

[2021-06-26 08:47] rupareliyahemangi145 commented on #658
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/254 for this issue.

Here is video for result:
https://www.loom.com/share/a3cfa17a1f054055a300bfbe121b1d7b

Please check it when you can and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-27 07:17] fredrikarvas-vertel opened #660 "AFC-2539a - downgrade module_change_auto_install to V12"
**Userstory:**
1 We want to use this module in V12. See if it can be downgraded.
https://github.com/OCA/server-tools/tree/14.0/module_change_auto_install

**Userstory:**
2 As a sysadmin I want to see which modules we have with auto-install enabled based on the "install all module"-list of depends in our system to decide which to keep and which not to keep.

**Development Branch name:**
Dev-12.0-AF

[2021-06-28 06:12] #659 closed, assigned to rupareliyahemangi145

[2021-06-28 06:14] fredrikarvas-vertel commented on #656
@FredrikArvas  books a meeting between @rupareliyahemangi145  and @SebastianGieser-Vertel  to explain the error messages in the APi.

[2021-06-28 06:33] rupareliyahemangi145 commented on #660
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-server-tools/pull/4 to add this module in odoo-server-tool  Dev-12.0 branch.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-28 06:51] rupareliyahemangi145 commented on #641
Hello @FredrikArvas

I've created new PR https://github.com/vertelab/odoo-outplacement/pull/255 for this issue.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-06-28 12:03] rupareliyahemangi145 commented on #643
Hello @FredrikArvas

I've created following PRs to format code.

1. odoo-api
https://github.com/vertelab/odoo-api/pull/19
- Formatted code according to pep8.

2. odoo-hr
https://github.com/vertelab/odoo-hr/pull/72
- Formatted code according to pep8 for installed modules.

3. odoo-account
https://github.com/vertelab/odoo-account/pull/4
- Formatted code according to pep8 for installed modules.

4. s

[2021-06-29 08:22] rupareliyahemangi145 commented on #656
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/257 for this issue.
In this PR updated code for following:
1. This will add logger in odoo log file and raise popup on screen if there will be any connection error.
2. If after connection there is no success response 201 then it will add logger and also raise user error on screen.
With Response status code and r

[2021-06-29 11:16] fredrikarvas-vertel commented on #638
Hi @rupareliyahemangi145

I am sorry, the requirements in this issue leads to the wrong module.
1 We want to show the Social security number in the outplacement-module. (Please revert the changes)
2 We want to hide the SSN in the hr_employee-module.
![image](https://user-images.githubusercontent.com/61729317/123787989-c507eb00-d8db-11eb-81fe-fe61a0d0e2f1.png)

[2021-06-29 11:26] rupareliyahemangi145 commented on #638
Ok Sure @FredrikArvas

[2021-06-29 11:39] rupareliyahemangi145 commented on #638
Hello @FredrikArvas

Inside Employee, You want to hide for all users or want to show only for DAFA Admin Read user?

[2021-06-29 12:40] fredrikarvas-vertel commented on #638
I want to show it for
Show only SSN No for
"DAFA Admin Read",
"DAFA Employee Write", and
"ServiceDesk1 (https://github.com/vertelab/odoo-base/blob/b489f127540767f759e18037b541e5958a720539/base_user_groups_dafa/security/security.xml#L129)
or ServiceDesk2 and ServiceDesk3 (who inherits ServiceDesk1)"
Show only Legacy ID for ServiceDesk1 or above.

[2021-06-29 20:20] fredrikarvas-vertel opened #662 "AFC-2433 - remove "logout" when printing a pdf in DAFA"
**Userstory:**
As a user, I do not want to be logged out when I print a PDF from DAFA.

**Bugreport:** (only for Bug-Issues)
Login with any user.
Go to Invoice
Print Invoice

The same is when we print a Final Report.

**Estimate:** (@developers: Add your times here, not in comments please)
Estimated Hours:
Estimated Date:
Actual Hours: 50 mins

[2021-06-30 05:21] rupareliyahemangi145 commented on #662
Hello @FredrikArvas

This issue may be because of System parameters. In local system with DAFA restored db I am not able to reproduce.
Turn the developer mode on where you are facing this issue.Go to Settings>>Technical>>System Parameters.
Search for "report.url" and "web.base.url". Check these. These should match URL of your Odoo instance.

[2021-06-30 05:26] fredrikarvas-vertel commented on #662
Thanks I will try this

[2021-06-30 08:47] rupareliyahemangi145 commented on #638
Hello @FredrikArvas

I've created PRs for this issue.
https://github.com/vertelab/odoo-outplacement/pull/258
https://github.com/vertelab/odoo-hr/pull/73

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-07-01 13:12] S-Arnshed-Capgemini commented on #535
@fredrikarvas-vertel
PR: https://github.com/vertelab/odoo-base/pull/343
Modules: odoo_base_login

[2021-07-01 15:30] Anushalewis commented on #631
[2443 test results.docx](https://github.com/vertelab/odoo-af/files/6749173/2443.test.results.docx)
Test results , The hidden menues are still appearing

[2021-07-01 16:14] fredrikarvas-vertel commented on #656
Hi @rupareliyahemangi145
I have checked the error log for the integration for Joint planning and found these:

'message': 'Bad request', 'cause': {'system': 'BAR', 'code': '400', 'message': 'case_resolved', 'error': {'pxObjClass': 'AF-Int-Cause'}}}
message': 'Bad request', 'cause': {'system': 'BAR', 'code': '400', 'message': 'case_not_found', 'error': {'code': 'Pega_API_004', 'pxObjClass': 'AF-Int

[2021-07-02 04:40] rupareliyahemangi145 commented on #656
Hello @FredrikArvas

This is response from API which added in log.

[2021-07-02 04:43] fredrikarvas-vertel commented on #656
Great @rupareliyahemangi145

How complex is it to add a function that sends an email to (configurable address in system parameters) team-crm@arbetsformedlingen.se when the API gets an error?

It is important that the email contains:
URL to the database
Name of the API that malfunctions
Error message including some kind of ID to the record.
But no personal data (Name, SSN, email, Phonenr).

[2021-07-02 04:52] rupareliyahemangi145 commented on #656
Hello @FredrikArvas

It will take 2 to 3 hours.

[2021-07-02 05:11] fredrikarvas-vertel commented on #656
Great @rupareliyahemangi145
1 Please add that for Completion report.
2 And please change display-name of that API to "Gemensam Planering" (we are changing to Swedish business terms for certain key phrases in the code.
![image](https://user-images.githubusercontent.com/61729317/124223770-acc6e480-db04-11eb-886c-56852fe29150.png)

[2021-07-02 05:12] rupareliyahemangi145 commented on #656
Ok @FredrikArvas

[2021-07-02 06:05] fredrikarvas-vertel commented on #616
@rupareliyahemangi145 - please add a link to the previous version of the branch - in order to find the right place to start.

[2021-07-02 06:37] rupareliyahemangi145 commented on #616
Hello @FredrikArvas  and @S-Arnshed-Capgemini ,

@S-Arnshed-Capgemini You have to take outplacement branch code till this commit https://github.com/vertelab/odoo-outplacement/commit/041103e2a48c617c3980eef1a5ab5b72a3b66451

Here are commands to do this:

1. git reset 041103e2a48c617c3980eef1a5ab5b72a3b66451
2. git checkout .
3. git clean -n
4. git clean -fd

Please check it and let me know if anyt

[2021-07-02 08:35] rupareliyahemangi145 commented on #656
Hello @Anushalewis

Please let me know once you create new issue.

[2021-07-02 11:33] rupareliyahemangi145 commented on #643
Hello @FredrikArvas

I've create PRs to remove warnings from log.

1. https://github.com/vertelab/odoo-website/pull/10
2. https://github.com/vertelab/odoo-web/pull/71
3. https://github.com/vertelab/odoo-base/pull/344
4. https://github.com/vertelab/odoo-outplacement/pull/260
5. https://github.com/vertelab/odoo-hr/pull/74
6. https://github.com/vertelab/odoo-user-mail/pull/2
7. https://github.com/ver

[2021-07-02 13:26] Anushalewis opened #667 "AFC-2457-Change to Swedish business terms for certain key phrases"
Userstory : Please Change to Swedish business terms for certain key phrases
As a user of DAFA I would like to see the correct Swedish terms.
please change display-name of the “IPF CompletionReport Client Config” to "Gemensam Planering"

Please refer the below screen shot.
![image](https://user-images.githubusercontent.com/84374527/124280930-85ded180-db49-11eb-91b0-65a55f5ef369.png)

![image](https

[2021-07-02 13:28] Anushalewis commented on #656
Hey @rupareliyahemangi145

New issue has been created : https://github.com/vertelab/odoo-af/issues/667

[2021-07-03 05:54] rupareliyahemangi145 commented on #667
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/261 for this issue.

Here is video for result:
https://www.loom.com/share/e330dc02d97a4e8998fc585bbbd16ca8

Please check it when you can and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-07-04 09:36] fredrikarvas-vertel commented on #667
Hi @rupareliyahemangi145
This is great.
Could you make the error message more userfriendly int he chatter-log?
Possibly only stating: "There was an error when sending the joint planning. It has been reported to Service desk and will be handled."

[2021-07-05 04:46] rupareliyahemangi145 commented on #667
Yes Sure @FredrikArvas

[2021-07-05 05:11] rupareliyahemangi145 commented on #667
Hello @FredrikArvas

Is this ok now?
![email](https://user-images.githubusercontent.com/36560391/124420664-88c20800-dd7d-11eb-8630-88b94a4310ad.png)

![rec](https://user-images.githubusercontent.com/36560391/124420669-8a8bcb80-dd7d-11eb-90fc-2f7463565d64.png)

[2021-07-05 05:46] fredrikarvas-vertel commented on #667
Yes
and cand you add the swedish translation:

"Det uppstod ett fel vid överföringen av den gemensamma planeringen. Felet är rapporterat till ServiceDesk och kommer att åtgärdas. Du blir kontaktad om du behöver göra något mer. "

[2021-07-05 05:46] rupareliyahemangi145 commented on #667
Yes Sure @FredrikArvas

[2021-07-05 06:29] rupareliyahemangi145 commented on #667
Hello @FredrikArvas

I've updated chatter log message in same PR https://github.com/vertelab/odoo-outplacement/pull/261

Please check it when you can and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-07-05 07:05] rupareliyahemangi145 commented on #667
Hello @FredrikArvas

I've updated translation from "Gemensam Planering" to "IPF Gemensam Planering Client Config" in same PR https://github.com/vertelab/odoo-outplacement/pull/261/commits/2130544e0c44ece6448e6c25c1d79cc7520a9e14

Please check it when you can.

Thanks.

Regards,
Hemangi.

[2021-07-05 09:48] #658 closed, assigned to rupareliyahemangi145

[2021-07-05 14:19] Anushalewis opened #669 "AFC-2560-IPF Configurations - fix better error message"
User story : Please change error message and translate error messages to Swedish for ease of use.
As a user of DAFA I would like to see the correct error message in Swedish language for each IPF configurations.

1.	Please change error messages for each of ipf configurations “IPF TLR Client Config”
![image](https://user-images.githubusercontent.com/84374527/124484696-000e9080-ddac-11eb-9f09-086ec2b

[2021-07-05 20:29] fredrikarvas-vertel commented on #662
Hi

I have now tested with the following settings:

Any suggestions?

1
**Start:**
web.base.url: = https://dafa-db1622.arbetsformedlingen.se (same as the site)
report.url=  http://0.0.0.0:8069
**Result:**
The PDF prints nicely. But the user gets logged out:

2
**Start:**
web.base.url: = https://dafa-db1622.arbetsformedlingen.se (same as the site)
report.url=  https://dafa-db1622.arbetsformedlingen

[2021-07-06 04:37] rupareliyahemangi145 commented on #662
Hello @FredrikArvas

Let me check about errors. I will get back to you soon.

[2021-07-06 05:13] fredrikarvas-vertel opened #670 "AFC-2563 Module Remover for DAFA"
**Userstory:**
As a sysadmin I do only want the modules we use to be installed on the system, because it reduces the risk of vulnerabilities

**Suggested solution:** 
A module that removes modules that are not installed from the repository-folders on the server. 

**Step to get there:** 
Add a Server Action to remove modules from the "Apps list" that are selected.
Add a Scheduled Action to run the

[2021-07-06 05:23] fredrikarvas-vertel opened #671 "AFC-2565-Investigate_Consolidation_of_DAFA_to_one_database"
**Userstory:**
As a sysadm, I want all Arbetsformedlingen-partners to be in the same database, because it reduces the maintenance work.

**Suggested Solution:**
- Enable multicompany
- Add MultiCompany-dimension on all user-rights.
- Change the Podd-DNS to redirect all calls to "GemensamPlanering" to the same database.
- Change the api-server for "Gemensam Planering" to submit to the same URL

**E

[2021-07-06 05:34] fredrikarvas-vertel opened #672 "AFC-2566_Add_Tree_view_for_API-logging"
**Userstory:**

Menu structrue: The main meny is added in odoo-api/api_ipf

Technical -> IPF -> IPF 1... Client Config
Technical -> IPF -> IPF 2... Client Config -> IPF 1... Client History (placed in the top somewhere)
Technical -> IPF -> IPF 2... Client Config
Technical -> IPF -> IPF 2... Client Config -> IPF 2... Client History

1. Setting >> Technical >> IPF TLR Client Config
**External Id:** a

[2021-07-06 05:42] fredrikarvas-vertel opened #673 "AFC-2567_Add_Error_tolerance_on_DAFA_CRM_Sync"
**Userstory:**
As a user, I want/do ...., Because...

Please update the "test connection"-server Action
Please add a alert by email for "no connection to CRM"
Please add a skip and alert by email for "missing attribute in CRM"

**Module name:**
https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0-Fenix-Sprint-02/outplacement_crmsync

**Development Branch name:**
Dev-12.0-AFC-2567-Fault-tole

[2021-07-06 05:49] rupareliyahemangi145 commented on #662
Hi @FredrikArvas

I checked about this error and after some research I found that this cause may be because of  Proxy server configuration.
When printing pdf report there is time out issue, so I think we have to try by increasing time limit.

Please check following blogs and if possible please try to increase time limit as shown in following blog and then test again after restarting odoo service a

[2021-07-06 05:52] fredrikarvas-vertel opened #674 "AFC-2564_Investigate_Multicompany-setup"
**Userstory:**
As a sysadm, I want all Arbetsformedlingen-partners to be in the same database, because it reduces the maintenance work.

**Suggested Solution:**

- Enable multicompany
- Add MultiCompany-dimension on all user-rights.
- Change the Podd-DNS to redirect all calls to "GemensamPlanering" to the same database.
- Change the api-server for "Gemensam Planering" (odoo-outplacement/sale_outpl

[2021-07-06 05:54] #671 closed, assigned to nobody

[2021-07-06 05:54] fredrikarvas-vertel commented on #671
Duplicate issue

[2021-07-06 06:28] rupareliyahemangi145 commented on #672
Hello @FredrikArvas

Please check issue details.
Thanks.

[2021-07-06 06:33] fredrikarvas-vertel commented on #535
Please merge these changes to https://github.com/vertelab/odoo-base/tree/Dev-12.0-Fenix-Sprint-02

[2021-07-06 09:13] fredrikarvas-vertel opened #675 "AFC-2568 Make Gender to a mandatory field"
**Bugreport:** (only for Bug-Issues)
When the "Desired Gender"-field is empty, then the "Delivery" API will not accept an delivery.

Please make the Gender-field editable again
odoo-outplacment/outplacment_order_interpreter.interpreter_gender_preference
![image](https://user-images.githubusercontent.com/61729317/124592827-2c82e500-de5e-11eb-9f05-1ddce27c4f18.png)

https://github.com/vertelab/odoo-

[2021-07-06 10:45] rupareliyahemangi145 commented on #669
Hello @FredrikArvas

Here is information for APIs and PRs.

1. IPF TLR Client Config
PR: https://github.com/vertelab/odoo-base/pull/346
Usage: 'Update TLR Data' server action inside Contacts.
![tlr_config_server_action](https://user-images.githubusercontent.com/36560391/124571387-5ab7f300-de65-11eb-9896-9bf96b935e3e.png)

2. IPF Deviation Report Client Config
PR: https://github.com/vertelab/odoo-o

[2021-07-06 14:25] rupareliyahemangi145 commented on #673
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/264 for this issue.

Here is results:
![email_3](https://user-images.githubusercontent.com/36560391/124616788-011aed00-de94-11eb-8698-bafcacb285cf.png)
![email_2](https://user-images.githubusercontent.com/36560391/124616795-02e4b080-de94-11eb-90d4-77a90ada0281.png)
![email_1](https://user-images.githubuserconte

[2021-07-06 15:53] fredrikarvas-vertel opened #676 "AFC-2505b - create a server action that updates the Jobseeker Category without changing other attributes"
**Userstory:**
As a system Owner, I want a ServerAction that updates an attribute of the Jobseeker without chaning other Attributes.

Daniel have made an example of such a Server Action:

Usage: Selecte records in a Tree-view. Run Action.
Response: Update the JobSeekerCategory, without updateing all other values.

**Estimate:** (@developers: Add your times here, not in comments please)
Estimated H

[2021-07-06 20:59] Anushalewis commented on #535
Please find attached test results
[AFC-2142 Test Results.docx](https://github.com/vertelab/odoo-af/files/6772792/AFC-2142.Test.Results.docx)

[2021-07-07 05:37] fredrikarvas-vertel commented on #535
[AFC-2142 Testresults commented by Fredrik.docx](https://github.com/vertelab/odoo-af/files/6774629/AFC-2142.Testresults.commented.by.Fredrik.docx)

[2021-07-07 06:23] rupareliyahemangi145 commented on #675
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/265 for this issue.

Please check it and let me know if anything.

Thanks.

Regard,
Hemangi.

[2021-07-07 08:16] rupareliyahemangi145 commented on #676
Hello @FredrikArvas

I have discuss this issue on call. So please let me know when you can.
Thanks.

[2021-07-07 09:32] rupareliyahemangi145 commented on #676
Hello @FredrikArvas

Here is video to show how server action works to update Jobseeker category from contacts.
https://www.loom.com/share/79c5bef75aaf4eeda8cbea23e7a49d55

Files which I've changed for it are:
[partner_view_360_DAFA.zip](https://github.com/vertelab/odoo-af/files/6776007/partner_view_360_DAFA.zip)
[outplacement_crmsync.zip](https://github.com/vertelab/odoo-af/files/6776009/outplacem

[2021-07-07 20:07] fredrikarvas-vertel opened #677 "AFC-2576 - Error when sending a GP"
**Bugreport:** (only for Bug-Issues)
Error message when sending GP

1: When sending a GP, the sent date is a mandatory field. Please add that to the payload when sending it.

![image](https://user-images.githubusercontent.com/61729317/124822214-e9b13200-df6f-11eb-9736-c98e47b227c6.png)

2: When sending a successful GP (response 201), we want the message "GP has been sent" to be displayed. It is cu

[2021-07-08 03:57] rupareliyahemangi145 commented on #677
Ok @FredrikArvas I will check this issue.

[2021-07-08 04:01] fredrikarvas-vertel commented on #677
Thanks, I have not added the right modules and repos yet, but I think you can add that.

[2021-07-08 04:02] rupareliyahemangi145 commented on #677
Yes I will add that.

[2021-07-08 04:14] #656 closed, assigned to rupareliyahemangi145

[2021-07-08 05:45] rupareliyahemangi145 commented on #677
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/266 for this issue.
Done things:
1. Added full error message on email if response not equal to 201.
2. Prevent error email if response 201.
3. Set target to open record in new tab from email record.

I can't reproduce response 201 in local but I think this code will work.
Please let me know if anything.

Thanks

[2021-07-08 06:44] fredrikarvas-vertel opened #678 "AFC-XXX -"
**Userstory:**
As a user, I want/do ...., Because...
![image](https://user-images.githubusercontent.com/61729317/124875017-b353d100-dfc8-11eb-97b2-5fb3cd524670.png)

![image](https://user-images.githubusercontent.com/61729317/124874993-af27b380-dfc8-11eb-8db1-1a075911a542.png)

**Screen-shots old GUI:** (illustrations of the old system)

**Screen-shots with changes:** (illustration of proposed cha

[2021-07-08 09:16] fredrikarvas-vertel commented on #677
Please display this error message to the user:
Manual:
EN: Meeting type for outplacement not set.

[2021-07-08 09:37] #643 closed, assigned to rupareliyahemangi145

[2021-07-08 09:38] #641 closed, assigned to rupareliyahemangi145

[2021-07-08 09:39] #667 closed, assigned to rupareliyahemangi145

[2021-07-08 09:46] fredrikarvas-vertel commented on #676
Hi @rupareliyahemangi145
I think it is best to add these changes to a normal PR and add it to the server. Then we can remove the code again when it is not needed.

Please make a comment in the code where you have added stuff with a note:
"Temporary fix to update jobseeker category. Should be removed before 2021-SEPT-01"

[2021-07-08 10:20] rupareliyahemangi145 commented on #676
Yes Sure @FredrikArvas

[2021-07-08 10:27] rupareliyahemangi145 commented on #677
Hello @FredrikArvas

Created new PR https://github.com/vertelab/odoo-outplacement/pull/267 for menu name and User warnings.

Please check it and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-07-08 13:01] AnilKesariya commented on #535
@FredrikArvas & @Anushalewis

I've pushed the changes to the following branch :+1:

I've fixed the following with this commit:
1. Disable creation and import on card (kanban) view.
2. Without login reason and ticket # cannot be login if debug mode activated.
3. Data will be visible to show login reason group can see own data and security auditor can see all data
4. login reason group auto assigned

[2021-07-08 13:27] rupareliyahemangi145 commented on #676
Hello @FredrikArvas

Here is PRs for this issue:
https://github.com/vertelab/odoo-base/pull/348
https://github.com/vertelab/odoo-outplacement/pull/268

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-07-08 15:20] Anushalewis opened #679 "AFC-2581 Add "Dynamic Time Ranges" to filter in Interpreter- and Outplacement-search views"
Userstory : Please add Dynamic Time Ranges to the filter on the Outplacement and Interpreter pages.

As a user of dafa, I would like to filer and group on time ranges for
1. Outplacements
2. Interpreter-bookings

Illustrations of the existing system
![image](https://user-images.githubusercontent.com/84374527/124947399-161c8b00-e010-11eb-9033-da746a0cdefe.png)

Illustration of proposed changes ,Add

[2021-07-08 18:41] fredrikarvas-vertel opened #680 "AFC-2582 - Adjust rules for sending Final Report (Slutredovisning)"
In this issue, we have applied logic to display a signal when it is time to send a Final Report.
https://github.com/vertelab/odoo-af/issues/658

I think the logic is applied here:
https://github.com/vertelab/odoo-outplacement/blob/Dev-12.0-Fenix-Sprint-02/outplacement_final_report/models/outplacement.py#L46

We need to adjust the logic slightly into:

1
If the Final report is submitted before work

[2021-07-09 05:09] rupareliyahemangi145 commented on #680
Ok @FredrikArvas I will check this issue.

[2021-07-09 05:10] rupareliyahemangi145 commented on #679
Ok @FredrikArvas
I will check this issue.

[2021-07-09 05:14] rupareliyahemangi145 commented on #680
Hello @FredrikArvas
 If the Final report is submitted before working day 41: Display The Final Report can only be sent after working day 41.
- This warning need to show when user click on 'Send GP to Bar' or when user click on 'Send Report'? I think 'Send Report' button is for sending final report.

And which date we have to use as start date? Order start date or Service start date?

[2021-07-09 05:39] fredrikarvas-vertel commented on #680
Hi @rupareliyahemangi145
It is correct we should use the "Send Report"-button. I think we should change the EN:label there to: Send FP Report (both in code and in translation).

please use service_start_date

[2021-07-09 05:45] rupareliyahemangi145 commented on #680
Ok Sure Thanks @FredrikArvas

[2021-07-09 05:59] AnilKesariya commented on #535
@Anushalewis @FredrikArvas

Please let me know if any feedback and comment for me on the questions raised. thanks

[2021-07-09 06:13] AnilKesariya commented on #631
Hi @Anushalewis:

Is the requirement updated? as we've earlier hide few menus and made them visible on debug mode only, If these are the changes to be apply then could define the changes of each group inside user setting? will be more clear to apply.

Regards,

[2021-07-09 06:30] Anushalewis commented on #535
@AnilKesariya .
 i can answer the first question.
Login reason is mandatory only for users of the show login reason group.
it will be practical to have minimum 10 characters for  both,

- user of the show login group , login reason is required field with minimum 10 characters
- user who does not belong to the group,  it is not mandatory to enter login reason if provided it has to be of minimum 10

[2021-07-09 08:06] rupareliyahemangi145 commented on #679
Hello @FredrikArvas

Please check this video for this issue. Then I will create PR based on feedback.
https://www.loom.com/share/57cdb8b26c454ec7ac8215eea168464d

Thanks.

Regards,
Heamangi.

[2021-07-09 08:28] fredrikarvas-vertel commented on #679
Thanks.
This is fine like this!

[2021-07-09 08:36] rupareliyahemangi145 commented on #679
Ok Thanks @FredrikArvas I will create PR for this.

[2021-07-09 08:37] rupareliyahemangi145 commented on #680
Hello @Anushalewis Please let me know when you create issue for cancel date.

[2021-07-09 09:34] rupareliyahemangi145 commented on #680
Hello @Anushalewis Here is link which we are looking for.
https://github.com/vertelab/odoo-outplacement/blob/Dev-12.0-Fenix-Sprint-02/outplacement_order/models/outplacement.py#L78

[2021-07-09 10:06] rupareliyahemangi145 commented on #679
Hello @FredrikArvas

Here is new PR for translation of filters.
https://github.com/vertelab/odoo-outplacement/pull/270

Please check it.

Thanks
Regards,
Hemangi.

[2021-07-09 11:21] rupareliyahemangi145 commented on #680
Hello @FredrikArvas

I've question here:
 If the Final report is submitted before working day 41. Display The Final Report can only be sent after the Service has ended.
- If Service end date is 20th May 2021 and user try to send final report after 41 days 16th July 2021 then we have raise warning, right?

[2021-07-09 11:23] AnilKesariya commented on #535
@FredrikArvas & @Anushalewis

I've pushed the changes to same PR as we have discussed today morning.
1. Both fields are mandatory for login reason and security auditor when login with debug mode- Done
2. Minimum 10 charactor. - Done
3. main menu under setting- Done

I have one more question, does the users with show login reason and security auditor group can login without debug mode?

Regards,
An

[2021-07-09 11:28] AnilKesariya commented on #631
@Anushalewis : Can you write a which access rights/group you are assigning when creating an employee? It will help me to understand for which group of user which menus to make visible. at this moment. you have presented email address.

[2021-07-09 11:56] fredrikarvas-vertel commented on #631
@AnilKesariya I added a link to the usergroups in the description above:
https://github.com/vertelab/odoo-base/blob/Dev-12.0-Fenix-Sprint-02/base_user_groups_dafa/security/security.xml

[2021-07-09 11:57] Anushalewis commented on #631
@AnilKesariya  : Please find attached word document have added couple more screen shots with the group info.
[2443.test.results.docx](https://github.com/vertelab/odoo-af/files/6791098/2443.test.results.docx)

[2021-07-09 11:58] fredrikarvas-vertel commented on #631
thanks

[2021-07-09 12:04] fredrikarvas-vertel commented on #680
correct!
![image](https://user-images.githubusercontent.com/61729317/125075230-9c8fa600-e0be-11eb-867a-fa516112501f.png)

[2021-07-09 12:09] rupareliyahemangi145 commented on #680
Ok Thanks @FredrikArvas

[2021-07-09 12:43] rupareliyahemangi145 commented on #680
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/271 for this issue.
Here are screenshots for results:

If the Final report has been cancelled : Display The Final Report can only be sent after the Service has ended.
![fp_4](https://user-images.githubusercontent.com/36560391/125079216-fb661700-e0e0-11eb-971a-f8f161cc40d0.png)

If the Final report is submitted

[2021-07-09 13:05] fredrikarvas-vertel commented on #680
Could you change sequence of these texts?
![image](https://user-images.githubusercontent.com/61729317/125082128-1fb4fa00-e0c7-11eb-9239-e29ec829d21b.png)

[2021-07-09 13:11] AnilKesariya commented on #631
@Anushalewis thanks, let me check.

[2021-07-09 13:18] AnilKesariya commented on #631
@FredrikArvas :
Is the development branch Dev-12.0-AFC-2443-hide-menues is changed to Dev-12.0-AFC-2433-hide-menues?

[2021-07-09 13:22] fredrikarvas-vertel commented on #631
I think we had a typo in the Jira-number. The correct jira-number is:
AFC-2443

The branch name (old name) is wrongly 2433.

[2021-07-09 13:47] rupareliyahemangi145 commented on #680
Ok @FredrikArvas I will check it.

[2021-07-09 14:46] fredrikarvas-vertel opened #681 "AFC-2584 - change error messages to be "one liners""
We are connecting DAFA to the Logplatform at Af.

Their platform is very good at reading "one-line"-error messages, but has more difficulties reading multi line errors.
So please either add a one-line-error to them or change the current two-line error to a one liner

I think we need to try our way to a working solution.

**Here are a few examples.**

From my dev-server:
2021-07-09 14:24:37,879 309

[2021-07-10 04:48] rupareliyahemangi145 commented on #681
Ok @FredrikArvas I will check this issue.

[2021-07-10 09:39] #678 closed, assigned to nobody

[2021-07-10 09:39] #677 closed, assigned to rupareliyahemangi145

[2021-07-10 09:41] #657 closed, assigned to rupareliyahemangi145

[2021-07-10 09:41] #653 closed, assigned to rupareliyahemangi145

[2021-07-10 09:42] #586 closed, assigned to nobody

[2021-07-10 12:03] rupareliyahemangi145 commented on #680
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/272 to change sequence.

![outplacement_kanban](https://user-images.githubusercontent.com/36560391/125162318-c9b68400-e1a4-11eb-8525-741d222339dd.png)

Please check it when you can and let me know if anything.
Thanks.

Regards,
Hemangi.

[2021-07-10 13:13] rupareliyahemangi145 commented on #681
Hello @FredrikArvas

Here is PR to manage error log in one line.
https://github.com/vertelab/odoo-outplacement/pull/273

This is PR to add log for email failed reason.
https://github.com/vertelab/odoo-mail/pull/65

Please check it when you can and let me if anything.

Thanks.
Regards,
Hemangi.

[2021-07-11 19:16] fredrikarvas-vertel opened #682 "AFC-2585 - Add second coach (SYV) to Outplacement"
**Userstory:**
As a second coach ("SYV"), I want add my name to an outplacement, because there is always one Coach and one SYV working with a participantn.

Add EN: SYV SV: SYV
![image](https://user-images.githubusercontent.com/61729317/125207425-9f3ff600-e28c-11eb-8590-fd0e51e5f8c8.png)
![image](https://user-images.githubusercontent.com/61729317/125207501-dc0bed00-e28c-11eb-8914-67f378f2d343.png)

[2021-07-11 20:32] fredrikarvas-vertel opened #683 "AFC-2586 - The customer is displayed incorrectly"
**Bugreport:** (only for Bug-Issues)
![image](https://user-images.githubusercontent.com/61729317/125209256-e1226980-e297-11eb-9fb8-b9e222311cb3.png)

![image](https://user-images.githubusercontent.com/61729317/125209278-fa2b1a80-e297-11eb-95e4-7493298fc29b.png)

![image](https://user-images.githubusercontent.com/61729317/125209285-0ca55400-e298-11eb-8ac2-da4fe53e4a57.png)

**Module name:** (added

[2021-07-12 05:11] fredrikarvas-vertel commented on #631
Hi @AnilKesariya

I noticed that there is a new dependancy to the module website in the

https://github.com/vertelab/odoo-af/blob/Dev-12.0-Fenix-Sprint-02/af_core_menu_disabling/__manifest__.py

![image](https://user-images.githubusercontent.com/61729317/125234048-25395c80-e2e0-11eb-86dd-98e86dfc5a10.png)

Since the website module is not used anywhere else in the DAFA system and this module was no

[2021-07-12 06:35] Anushalewis commented on #653
@rupareliyahemangi145 : Test Results attached. Jobseeker fields  are empty
[AFC-2505 test results.docx](https://github.com/vertelab/odoo-af/files/6799043/AFC-2505.test.results.docx)

[2021-07-12 06:40] fredrikarvas-vertel commented on #631
Let's not use this module.

[2021-07-12 06:58] fredrikarvas-vertel commented on #653
@Anushalewis  - I see that this code is working in production.
1 did you check on a new/old jobseeker?
2 did you test to update the "action" to only update the Jobseeker Category?

Thanks

[2021-07-12 07:47] rupareliyahemangi145 commented on #683
Hello @Anushalewis

Can you please add AFC-number for this issue?

[2021-07-12 07:59] Anushalewis commented on #683
Hello @rupareliyahemangi145
Am not able to edit the git issue , the jira story for this is : AFC-2586

[2021-07-12 08:01] rupareliyahemangi145 commented on #683
Np @Anushalewis Fredrik has changed.

[2021-07-12 08:23] Anushalewis commented on #683
@rupareliyahemangi145 :
Module Name : https://github.com/vertelab/odoo-outplacement/blob/Dev-12.0-Fenix-Sprint-02/outplacement_invoice/views/account_invoice_view.xml

Development Branch name:
Dev-12.0-AFC-2586-The_customer_is_displayed_incorrectly

Target Branch name:
https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0-Fenix-Sprint-02/

Description to the manifest :
The Customer name in th

[2021-07-12 08:24] rupareliyahemangi145 commented on #682
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/274 for this issue.

Please check it and let me know of anything.

Thanks.

Regards,
Hemangi.

[2021-07-12 08:26] fredrikarvas-vertel opened #684 "AFC- 2375 Add display of Quicklinks for partners to a menu"
**Userstory:**
As a user I want to see the links in an menu in the normal menu position
1 Contacts
![image](https://user-images.githubusercontent.com/61729317/125255020-4f4c4800-e2fb-11eb-9b30-3200e8a8171e.png)

2 My admin-area search
![image](https://user-images.githubusercontent.com/61729317/125255092-5e32fa80-e2fb-11eb-8e87-ed9c63082c61.png)

3 Jobseeker Formview
![image](https://user-images.gi

[2021-07-12 08:42] rupareliyahemangi145 commented on #683
Ok @Anushalewis Thanks.

[2021-07-12 08:48] rupareliyahemangi145 commented on #684
Hello @FredrikArvas

Can we discuss this issue on call?

[2021-07-12 09:29] rupareliyahemangi145 commented on #683
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/275 for this issue.

![invoice](https://user-images.githubusercontent.com/36560391/125264711-b846b680-e321-11eb-9d03-4b9f4d8851ad.png)

Please check it and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-07-12 09:56] fredrikarvas-vertel commented on #684
yes
 I will available in 10 minutes - do you have time then?

[2021-07-12 09:58] rupareliyahemangi145 commented on #684
Yes @FredrikArvas

[2021-07-12 10:46] rupareliyahemangi145 commented on #684
Hello @FredrikArvas

Suppose we have one link: Planeringsverktyget
URL link for this link is: http://ivs.arbetsformedlingen.se/etjanst/planeringsverktyg/#/start/bedomning/{clean_pnr}
So you want to redirect user to http://ivs.arbetsformedlingen.se/etjanst/planeringsverktyg/#/start/bedomning/ when user click on menu?
Or we have to put value in {clean_pnr}?

[2021-07-12 12:59] rupareliyahemangi145 commented on #684
Hello @FredrikArvas

I've create Pr https://github.com/vertelab/odoo-af/pull/685 for this issue.
I've added server action that will create menu for each link.
https://www.loom.com/share/ff7dd05db70d404fb2049b186c9b6a6e

For now I've just redirected static url and added server action to create menu for each link.
If this is ok then we will update code to create menu automatic when new link created

[2021-07-12 14:46] Anushalewis commented on #669
@rupareliyahemangi145 : Please find attached the test results . There is an error on IPF Showorder Client Config
[Test results AFC-2560.docx](https://github.com/vertelab/odoo-af/files/6799855/Test.results.AFC-2560.docx)

[2021-07-12 14:52] Anushalewis opened #686 "AFC-2588- Incomplete Values Error in DAFA final Report"
User story : Please correct the values on "field of work" on Dafa final report for Outplacement.
Steps to replicate the issue :
1. Outplacement page, edit final report, create and edit
2. Select the dropdown values on "field of work".
the value available on drop down should be same as on the search more information.
The values on name and description column text values must be identical. Name has

[2021-07-12 15:32] rupareliyahemangi145 commented on #669
Can you attach full error message?

On Mon, Jul 12, 2021, 8:16 PM Anusha Lewis ***@***.***> wrote:

[2021-07-13 07:18] Anushalewis commented on #669
@rupareliyahemangi145  : Please find attached the error :
[2560 server error.txt](https://github.com/vertelab/odoo-af/files/6806688/2560.server.error.txt)

[2021-07-13 07:19] rupareliyahemangi145 commented on #669
Thanks @Anushalewis

[2021-07-13 07:24] Anushalewis commented on #653
@fredrikarvas-vertel : I have tried testing again today job seeker Fields are empty. on test db1701 environment.
update jobseeker category on action gives an error :
<img width="952" alt="2505 job seeker category update error" src="https://user-images.githubusercontent.com/84374527/125409275-090aed80-e3bc-11eb-93cc-b59559afd2b2.png">

[2021-07-13 07:27] fredrikarvas-vertel commented on #653
This has to do with the config of the pods.
I ran the script in production yesterday for all jobseekers so the module works.  We need better test-data/config between the pods.

[2021-07-13 07:46] rupareliyahemangi145 commented on #670
Hello @FredrikArvas

I've some questions for this issue.

We just need to remove module from APP list only we want to remove file store of that module from system if any file store exits?
We will remove module which are installed or uninstalled or both?

I've an idea to remove module from APP list. And idea is we can add flag 'Active'. So if user click on 'Remove module' server action it will unin

[2021-07-13 08:00] fredrikarvas-vertel commented on #670
Hi @rupareliyahemangi145

The important thing is to remove them from the server and then update the "modules list".
it is not enough to remove them from the modules list.

It should not remove installed modules.

[2021-07-13 08:20] rupareliyahemangi145 commented on #670
Ok @fredrikarvas-vertel Understood thanks.

We want module in repo but want to remove source code of module from server and module list.

[2021-07-13 08:54] rupareliyahemangi145 commented on #669
Hello @Anushalewis

Can you please check that where you are testing, there is latest code with this PR https://github.com/vertelab/odoo-sale/pull/25?
And you are facing error with this latest code.

[2021-07-13 09:01] fredrikarvas-vertel commented on #670
yes

[2021-07-13 09:15] rupareliyahemangi145 commented on #670
Hello @FredrikArvas

I found a way to remove module from server but I have one more question that:
Is there any possibility that we have more than one database on server and you want to remove module for one database only?

[2021-07-13 09:15] AnilKesariya commented on #631
Hi @FredrikArvas & @Anushalewis

I've completed first 4 points  from the description and shared video link below.

1. Interpreter Group - https://www.loom.com/share/68a2a7a2aac749b49698e4206af20b3f

3. group_dafa_employees_write : https://www.loom.com/share/f068fbafc22d4e2e8096f206090b2c3a

2 & 4 same Group : https://www.loom.com/share/51eeaa02c90f4e598ddd72cb25ebd8fd
(Group 4 is not corrected to

[2021-07-13 09:26] fredrikarvas-vertel commented on #670
Good question @rupareliyahemangi145
In this case, I still want to remove the unused modules, since we will only have the same modules in all databases on that server.
Thanks

[2021-07-13 09:42] fredrikarvas-vertel commented on #631
@AnilKesariya I have commented above.

[2021-07-13 09:53] rupareliyahemangi145 commented on #670
If we remove module from server using one database and that module is installed on another database then it will create problem where module is installed.

If module is uninstalled in all database then we just need to Update app list on another databases.

[2021-07-13 10:01] fredrikarvas-vertel commented on #670
In this case, I am willing to take the risk of removing the module and risking to disturb the other databases.
(We should not have different databases on the production server.)

[2021-07-13 10:02] AnilKesariya commented on #631
I see, you have updated group for point 4. that I will check and update. about point 5 do you want me to set the required group to be auto enable from employee screen when apply that group to show expected menus?  About point 6 is not clear to me. should I auto assign disable dafa hide group to user for piont 6? so all the disabled menu would be appear to this user.

[2021-07-13 10:02] rupareliyahemangi145 commented on #670
Ok @FredrikArvas

[2021-07-13 10:05] fredrikarvas-vertel commented on #631
Point 4 = thanks
Point 5 = yes please
Point 6 = yes please

[2021-07-13 10:06] AnilKesariya commented on #631
Ok Fredrik.

[2021-07-13 11:38] rupareliyahemangi145 commented on #669
Hello @Anushalewis  and @FredrikArvas

I've created following PRs for to fix errors:
https://github.com/vertelab/odoo-base/pull/350
https://github.com/vertelab/odoo-api/pull/22
https://github.com/vertelab/odoo-sale/pull/26
https://github.com/vertelab/odoo-outplacement/pull/276

Please check it and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-07-13 13:39] S-Arnshed-Capgemini commented on #672
@fredrikarvas-vertel
PR: https://github.com/vertelab/odoo-api/pull/21
Modules: api_ipf, api_ipf_tlr_client, api_raindance_client

PR: https://github.com/vertelab/odoo-hr/pull/75
Module: hr_employee_ciam_client

PR: https://github.com/vertelab/odoo-outplacement/pull/277
Modules: outplacement_completion_report_ipf_client, outplacement_deviationreport_ipf_client, outplacement_final_report_ipf_client

[2021-07-14 05:47] Anushalewis opened #687 "AFC-2593- Refined Interpreter cancellation message"
User story : As a user of dafa , would like the interpreter cancellation message to have interpreter contact information when there is an appointed interpreter as displayed in the screen shots

Steps to replicate the issue :
• On the Interpreter page, select activity cancel.

Please refer the below images to replicate the issue :
![image](https://user-images.githubusercontent.com/84374527/12556920

[2021-07-14 06:02] fredrikarvas-vertel opened #688 "AFC-2596 to 'Change the response when interpreter is delivered'"
userstory:

1 Change Interpreter-view Action to:
['|', ('active', '=', True), ('active', '=', False)]

2
when the interpreter is deliverd by AF, the API responds with:
"x"
Please adjust our logic to treat that as a "success" of delivery and "hide the delivery button"

 ![image](https://user-images.githubusercontent.com/61729317/125571035-6db63ff9-296f-47e2-8fd5-200cb137dfca.png)

**Userstory:**
As

[2021-07-14 07:14] rupareliyahemangi145 commented on #688
Hello @FredrikArvas

I've created Pr https://github.com/vertelab/odoo-outplacement/pull/279 for this issue. _ Merged

Please check it and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-07-14 07:29] fredrikarvas-vertel commented on #688
Thanks

Is there a api-log for the interperter-bookings - as there are for other APIs?

[2021-07-14 07:32] AnilKesariya commented on #631
Hi @FredrikArvas : I've create PR : https://github.com/vertelab/odoo-outplacement/pull/280

[2021-07-14 07:33] AnilKesariya commented on #631
There is also changes in base_user_groups_dafa : so I will also create a PR on odoo-base repository too for some changes into base definition of groups.

[2021-07-14 07:38] AnilKesariya commented on #631
Here is another PR on odoo-base for same task  : https://github.com/vertelab/odoo-base/pull/351

[2021-07-14 08:13] rupareliyahemangi145 commented on #688
I will check it and let you know @FredrikArvas

[2021-07-14 09:03] rupareliyahemangi145 commented on #688
Yes there is log for interpreter booking.
1. When creates activity.
https://github.com/vertelab/odoo-outplacement/blob/Dev-12.0-Fenix-Sprint-02/outplacement_order_interpreter/models/mail_activity.py#L610

2. From Cron 'Check status on Interpreter Order'
https://github.com/vertelab/odoo-outplacement/blob/Dev-12.0-Fenix-Sprint-02/outplacement_order_interpreter/data/cron.xml#L4
https://github.com/ver

[2021-07-14 09:27] fredrikarvas-vertel commented on #688
Is that log visible somewhere?

[2021-07-14 12:35] rupareliyahemangi145 commented on #688
Yes if error message is added with **_logger.error** or **_logger.exception** or **_logger.warning** then you can see it in log file.

If error message is added with _logger.debug then you can see it if in Odoo config log_level=Debug.

[2021-07-14 12:55] rupareliyahemangi145 commented on #687
Hello @FredrikArvas  or @Anushalewis

Can we do short call for this issue?

[2021-07-15 04:19] fredrikarvas-vertel opened #689 "AFC-2612 -add links to interpreter API-logs"
**Userstory:**
As a user, I want see the interpreter logs in the same way as I can see the other logs.

**Screen-shots old GUI:** (illustrations of the old system)
Move from here:
![image](https://user-images.githubusercontent.com/61729317/125735232-9a8fef6a-5af2-4be9-bc09-a85e0df02401.png)

To here:
![image](https://user-images.githubusercontent.com/61729317/125735068-a73ba72a-6866-4983-b685-0469

[2021-07-15 05:51] fredrikarvas-vertel opened #690 "AFC-2600 - Requried fields-messages in Final Report does not show for the users"
**Userstory:**
As a user, I want/do ...., Because...
![image](https://user-images.githubusercontent.com/61729317/125735844-e38968aa-90d6-40af-b633-a46448ce2bc1.png)

![image](https://user-images.githubusercontent.com/61729317/125735809-667b1ea8-8bc8-47cc-a17b-1afce64162f5.png)

**Screen-shots old GUI:** (illustrations of the old system)

**Screen-shots with changes:** (illustration of proposed cha

[2021-07-15 06:11] rupareliyahemangi145 commented on #689
Ok @FredrikArvas I will check this issue.

[2021-07-15 06:12] rupareliyahemangi145 commented on #690
Ok @FredrikArvas I will check this issue.

[2021-07-15 07:14] rupareliyahemangi145 commented on #690
Hello @FredrikArvas

I've created Pr https://github.com/vertelab/odoo-outplacement/pull/282 for this issue.

Please check it and let me know if anything.
Thanks.

Regards,
Hemangi.

[2021-07-15 08:15] rupareliyahemangi145 commented on #690
Hello @FredrikArvas

I checked for GP there is only two onscreen fields warnings which we have added already.
So, nothing to do for GP now.

[2021-07-15 08:56] rupareliyahemangi145 commented on #689
Hello @FredrikArvas

I checked this issue. We can add API-logs but it will take near about 4 to 5 hours.
So I need approval for 4 to 5 hours.
Thanks.

Regards,
Hemangi.

[2021-07-15 09:44] rupareliyahemangi145 commented on #687
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/283 for this issue.
Added Phone number and Name in booking cancellation message.
![popup](https://user-images.githubusercontent.com/36560391/125767219-17dd0d24-6478-4423-9609-efc7fc71111a.png)

I also researched to add new button for deliver booking. We can add new button and open popup which is now on **Inleve

[2021-07-15 12:23] rupareliyahemangi145 commented on #670
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-server-tools/pull/8 for this issue.
Here is video to show how it works:
https://www.loom.com/share/b24cd3bf5dd945c6b34f58443895a32c

I have recording issue in loom account so recorded video in other app and uploaded it on loom.

We have to give path of parent directory in System parameter. In my case I have added all repos in **

[2021-07-15 13:03] Anushalewis commented on #669
@rupareliyahemangi145  : Thank you , working now

[2021-07-16 06:37] fredrikarvas-vertel commented on #687
1 Please change the swedish wording from "två steg" to "tre steg"
2 Remove the current blue button.
3 Add a new blue button which sais with functionality that "delivers the interptrer" "SV: Inleverera tolken".
4 Add a new white button with a "close function" which sais "Stäng"

[2021-07-16 06:39] fredrikarvas-vertel commented on #689
I approve this change.

[2021-07-16 06:53] fredrikarvas-vertel commented on #674
@S-Arnshed-Capgemini

Please make a copy of all DAFA TEST databases with content.

[2021-07-16 07:00] #669 closed, assigned to rupareliyahemangi145

[2021-07-16 10:19] rupareliyahemangi145 commented on #689
Hello @FredrikArvas
Can you please add AFC number for this issue?

[2021-07-16 12:36] rupareliyahemangi145 commented on #687
Hello @FredrikArvas

Created new PR https://github.com/vertelab/odoo-outplacement/pull/287 for this issue.

Here is result:
![popup](https://user-images.githubusercontent.com/36560391/125948482-fc30c35a-9fec-4247-b950-49ef323abd13.png)

Deliver popup after click of Inleverera tolken.
![popup_after_click](https://user-images.githubusercontent.com/36560391/125948552-8a8acfb3-0562-4f07-b862-031ef9433

[2021-07-16 12:50] rupareliyahemangi145 commented on #689
Hello @FredrikArvas

I've created Pr https://github.com/vertelab/odoo-project/pull/34 for this issue.
I renamed previous **IPF Interpreter** to **IPF interpreter Test**(ipf.interpreter.client.test) and Added new menus **IPF Interpreter**(ipf.interpreter.client which was in general setting).
I am not able to test it. Please test it from your end and and let me know if anything.

Thanks.

Regards,
H

[2021-07-17 05:46] fredrikarvas-vertel opened #691 "AFC-2609 - Interpreter Widget error"
1 When Hanna (user 53) logins in (and checkes booked interpreters) she gets this message:
![image](https://user-images.githubusercontent.com/61729317/126027231-85b7c601-fc73-41f0-868d-b2df94a0daf2.png)

![image](https://user-images.githubusercontent.com/61729317/126027728-95ca8ec6-94ba-42ef-b0cc-9fdeec95d72d.png)

I do not know from where this error comes (it is replicated when clicking on the int

[2021-07-17 06:36] fredrikarvas-vertel commented on #684
@rupareliyahemangi145 Please see how we can do those links dynamic.

[2021-07-17 06:53] fredrikarvas-vertel opened #692 "AFC-2611 - Update outplacement_interpreter_server to work again"
**Userstory:**
As a user, I want/do ...., Because...

![image](https://user-images.githubusercontent.com/61729317/126028753-b96ea229-9192-4ccb-81ed-92035ef9ffed.png)

**Use-case**
On the clientside, I make an interpreter booking.
On the server side, it can be confirmed/denied etc.
This is to enable testing of error messages and to create test-data

1 Change name of the server
2 create test-cases
-

[2021-07-17 07:00] fredrikarvas-vertel opened #693 "AFC-2610- Create a API (server + client) for bar-handelser (BAR-events)"
**Userstory:**
As a user, I want/do ...., Because...

https://eu1.anypoint.mulesoft.com/exchange/1dae6e32-bf25-4b52-aa03-8f32e1f5fc08/bar-genomforande/minor/2.0/

**Module name:** (added by Nils or Fredrik)
odoo-xx/xx_ (name convention: [supplier-function]/[function-functionality-specialization] )

**Development Branch name:**
Dev-12.0-[CRM/DAFA]-Sprint-[number]-AFC-1XXX-...

**Target Branch name:

[2021-07-17 12:49] rupareliyahemangi145 commented on #691
Hello @FredrikArvas

I've created Pr https://github.com/vertelab/odoo-outplacement/pull/288 for this issue.

Here is video for result:
https://www.loom.com/share/3ee82fc5f5f84188b488fe74f9c9c0dd

1. Need working user's assigned users group list
2. Fixed for Create by. Not reproduce for Coach
3. Added some more fields in search and group by.
4. Done
5. Done
6. Need to add more filters to fix this.

[2021-07-18 06:12] #687 closed, assigned to rupareliyahemangi145

[2021-07-18 06:25] fredrikarvas-vertel opened #694 "AFC-2613 - make interpreter steps similar in all parts of the system"
Userstory: As a user of the system, I want to know that all my bookings are included in the searches and the statuses.
Please use one definition of statuses (or if it is nessesary one defintion and various ways of calculating them)

1 Please add an extra field "manual_cancelled_date" with the date of the cancelletion is added.

Please add a cancellation-date when an "interpreterbooking is delivere

[2021-07-18 06:46] fredrikarvas-vertel opened #695 "AFC-2614 - do not show delivery button when there is no available interpreter in "cancel-message""
**Userstory:**
do not show delivery button when there is no available interpreter in "cancel-message"

![image](https://user-images.githubusercontent.com/61729317/126058311-7c996e4d-c715-4061-a666-ad7138371d9e.png)

**Description to the manifest:**
This module/update...

**Estimate:** (@developers: Add your times here, not in comments please)
Estimated Hours:
Estimated Date:
Actual Hours: 30 mins

[2021-07-18 07:03] fredrikarvas-vertel opened #696 "AFC-2615 - Adjust Final Report Send-date to +1 instead of +41 after Service End Date"
**Userstory:**
As a user, I want/do ...., Because...

**Bugreport:** (only for Bug-Issues)
![image](https://user-images.githubusercontent.com/61729317/126058565-19ca2283-3360-4db8-a0a8-6ae5d1dffad5.png)

Change this in "sale_outplacement.outplacement_form_view"
from:

to

**Module name:** (added by Nils or Fredrik)
odoo-xx/xx_ (name convention: [supplier-function]/[function-functionality-specializ

[2021-07-18 07:53] #673 closed, assigned to rupareliyahemangi145

[2021-07-18 07:54] #676 closed, assigned to rupareliyahemangi145

[2021-07-18 07:54] #683 closed, assigned to rupareliyahemangi145

[2021-07-18 07:55] #672 closed, assigned to S-Arnshed-Capgemini

[2021-07-18 07:55] #681 closed, assigned to rupareliyahemangi145

[2021-07-18 07:55] #682 closed, assigned to rupareliyahemangi145

[2021-07-19 04:43] rupareliyahemangi145 commented on #696
Hello @FredrikArvas

When we want to raise this warning? or you want me to remove this warning?
You are not allowed to send final report before service end unless there has been an interruption

[2021-07-19 04:56] fredrikarvas-vertel commented on #696
Hi @rupareliyahemangi145
I think I would like the controls to take place in this order:
1 Joint Planning date is set.
2 Service Date is passed (this will be when interruption signal has been recived by the Order API and the "service_end_date" is updated or the "original" service_end_date has passed)
3 Main goal has all attributes
4 Alternative goal has all attributes
5 the remaining attributes are

[2021-07-19 04:59] rupareliyahemangi145 commented on #696
Ok @FredrikArvas

It means Interpreted check box is checked and Service end date is passed at that time we have to show this warning, right?

[2021-07-19 05:02] fredrikarvas-vertel commented on #696
The "interrupted"-check box is also set by the "Order-API" when the status is changed to "cancel" so it is ok to only check the "service_end_date".

The new API "BAR Handelser" will replace the order-api to listen changes on the BÄR-side when we are ready for that.
Now we set the date at the day we see the signal (when the API is working), not the actual value. But this is the best we have now.

[2021-07-19 05:04] rupareliyahemangi145 commented on #696
Ok @FredrikArvas I will check only service end date.

[2021-07-19 05:12] rupareliyahemangi145 commented on #695
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/289 for this issue.
Please check it and let me know if anything,

Thanks.
Regards,
Hemangi.

[2021-07-19 05:30] rupareliyahemangi145 commented on #696
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/290 for this issue.
Please check it and let me know if anything.

One more thing I have to confirm with you related to final report. We have one more warning, **The Final Report can only be sent after the Service has ended.** We raised this warning in following conditions:
1. If Outplacement is in Cancelled sta

[2021-07-19 05:33] fredrikarvas-vertel commented on #696
Thanks @rupareliyahemangi145
I think you found the bug.
This should only check for service_end_date, since we now now that BÄR changes the service_end_date to the day of cancellation if there is a cancellation

The stage cancelled will only be set in DAFA when there is an early ending. This is good for "statistics" but not important to us.

[2021-07-19 05:42] rupareliyahemangi145 commented on #696
So, May I remove this warning?
**The Final Report can only be sent after the Service has ended**

[2021-07-19 05:46] rupareliyahemangi145 commented on #684
Need to find place in Partner form view to show list of links so we can get value in URL from partner fields.

[2021-07-19 05:50] fredrikarvas-vertel commented on #695
Please add a cancellation-date when an "interpreterbooking is delivered before the interpreterdate" or when the "close"-button is pushed before there is an interpreter assigned.
We could change the name of that button to "EN: Mark as cancelled", "SV: Markera som avbokad"

[2021-07-19 05:52] fredrikarvas-vertel commented on #696
No, not unless we have two warnings for ServiceEndDate

[2021-07-19 05:53] rupareliyahemangi145 commented on #696
Ok @FredrikArvas

[2021-07-19 06:07] fredrikarvas-vertel commented on #684
@rupareliyahemangi145 is it possible to add a extra column in the standard view?

[2021-07-19 06:08] rupareliyahemangi145 commented on #684
I will check it @FredrikArvas

[2021-07-19 08:46] rupareliyahemangi145 commented on #696
Hello @FredrikArvas

I've Created new PR https://github.com/vertelab/odoo-outplacement/pull/291

Please check it and let me know if anything

Thanks
Regards,
Hemangi

[2021-07-19 09:11] rupareliyahemangi145 commented on #694
Hello @FredrikArvas

I want to discuss this issue on call. So Please let me know when you can.
Thanks

Regards,
Hemangi

[2021-07-19 10:45] rupareliyahemangi145 commented on #694
Questions need to discuss on tomorrow morning:

1. Is this same that Cancel button on cancellation popup and need to save date in new field? Also want to show functionality which I've added for cancel date.
= Yes

2. Understood need to search and Odoo tray widget with same filter as now values in Booking status.
Don't understood this line : automatic delivery (without extra time) when the "cancel

[2021-07-19 11:12] Anushalewis commented on #689
Testing completed working as expected .
[Test results AFC-2612.docx](https://github.com/vertelab/odoo-af/files/6840311/Test.results.AFC-2612.docx)

[2021-07-19 11:32] rupareliyahemangi145 commented on #689
Thanks @Anushalewis

[2021-07-20 06:53] Anushalewis commented on #691
Testing completed, except the 6 th point rest of them work as expected.
please find the attached test results
[Test Results AFC-2609.docx](https://github.com/vertelab/odoo-af/files/6846087/Test.Results.AFC-2609.docx)

[2021-07-20 08:00] rupareliyahemangi145 commented on #691
Hello @Anushalewis

Can we schedule a call?

[2021-07-20 08:07] rupareliyahemangi145 commented on #695
Added this point on AFC-2613 https://github.com/vertelab/odoo-af/issues/694 as Point no. 1

[2021-07-20 10:13] Anushalewis commented on #631
@AnilKesariya : Please find the attached screen shots , The test scenarios are still failing
[2443.test.results july 20.docx](https://github.com/vertelab/odoo-af/files/6847416/2443.test.results.july.20.docx)

[2021-07-21 14:41] Anushalewis opened #698 "AFC-2619 - UI/UX - DAFA buttons are flat and ill defined"
Userstory : Better visibility of selected items on dafa.

1. The buttons in Odoo are hard to notice due to their flatness and lack of definition in relation to the background.
2. We will make the hover state of the buttons clearer by increasing contrast between active and hover states.
3. We will add a shadow to the active buttons to make them pop out from the background, and thus also make inacti

[2021-07-21 14:54] fredrikarvas-vertel commented on #698
@Anushalewis  please refer to the lines in the CRM-theme for each change requested.

[2021-07-22 06:26] fredrikarvas-vertel opened #699 "AFC-2626 - Server Monitoring"
**Userstory:**
As a server admin in Service Desk, I want to know that the server is working fine and all APIs are connected.

For each day, I want all API:s to "report" status of the actions during that day (or previous day).

1 Server action to review how many add/change/delete that were done today/yesterday
For each day we get one record in the "monitoring-table".

2 Fore each day we send an ema

[2021-07-22 08:17] fredrikarvas-vertel opened #700 "AFC-2627 -"Preferred Gender" is a mandatory field, but it is allowed to be empty"
**Userstory:**
as a Interpreter booker, I do not want an error when delivering the interpreter, for an error I can not affect.

![image](https://user-images.githubusercontent.com/61729317/126608133-26514ff2-fabc-4ed7-a912-626e0d5728a3.png)

Please adjust the following:
1 In the API, add the code= 1 ( "Valfri")  if the field mail_acitivity.interpreter_prefered_gender is empty
2 in the booking form:

[2021-07-22 12:07] rupareliyahemangi145 opened #701 "AFC-2628 AFC-2630 AFC-2631 AFC-2632 Interpreter Fixes"
**Userstory:**

1.  Issue with Next execution date after upgrading modules.
![Scheduled_Action_GetsWrongDate_WithNewPod](https://user-images.githubusercontent.com/36560391/126635609-07f0127a-d686-4e7b-99f1-74f813f8242b.JPG)

2.  If Interpreter deliverd by another user than show messge that this delivered and update booking status to Delivered
![Interpreter_Delivered_By_Another_user_is still_in_sta

[2021-07-22 12:48] rupareliyahemangi145 commented on #701
Hello @FredrikArvas

I've created PR for points except point no. 4 and point no. 2
1. https://github.com/vertelab/odoo-sale/pull/29 (For point no.6)
2. https://github.com/vertelab/odoo-project/pull/35 (For point no. 6)
3. https://github.com/vertelab/odoo-api/pull/24 (For point no. 6)
4. https://github.com/vertelab/odoo-outplacement/pull/294 (For all points)

@FredrikArvas
For Point no. 2, For now

[2021-07-22 13:59] Anushalewis opened #702 "AFC-2633 - UI/UX - DAFA Calendar View Buttons are Hard to Make Out"
Userstory : Better visibility of calendar items on dafa.
The Calendar View Buttons are difficult to make out and do not properly telegraph that they are active, nor which one is selected.
Change the colors used for hover and active mode.
•	Hover #CCCCDE
•	Active #B7EE4A

Please change the UI for better visibility . Please refer the below screen shot.
![image](https://user-images.githubusercontent.

[2021-07-23 04:54] fredrikarvas-vertel commented on #701
For point 2. could we simply "confirm" delivery (without actual delivery, but only update the status on our side)?

[2021-07-23 04:57] rupareliyahemangi145 commented on #701
Let me check Fredrik

[2021-07-23 06:43] rupareliyahemangi145 commented on #701
Hello @FredrikArvas

I've updated code for Point 2 on same PR. We will test this PR once you will back from vacation.
Thanks.

Regards,
Hemangi.

[2021-07-23 07:49] rupareliyahemangi145 commented on #700
Hello @FredrikArvas

I've pushed code for this issue in PR https://github.com/vertelab/odoo-outplacement/pull/294 and https://github.com/vertelab/odoo-project/pull/35.

Please check it when you can and let me know if anything.
Thanks.

Regards,
Hemangi.

[2021-07-26 06:15] rupareliyahemangi145 commented on #692
Hello @FredrikArvas

I checked module task_interpreter_ipf_server but I don't understand how to test it. Do I need to create any test server?

Thanks.

Regards,
Hemangi.

[2021-07-28 05:38] rupareliyahemangi145 commented on #694
Hello @FredrikArvas

I've added commit on PR https://github.com/vertelab/odoo-outplacement/pull/294 to update booking filter on Odoo tray and search views.
Here is video for result:
https://www.loom.com/share/a6fb9a33551c41cea58d6c8c76181ccc

After latest pull we have to execute one server action from Task and need to execute one cron job. I have mentioned it in video.
Please check it and let me i

[2021-07-28 05:38] rupareliyahemangi145 commented on #699
I researched on this and I think we can use API Logs module and modify it for emails.
And from you links I think we can use https://github.com/OCA/server-tools/tree/12.0/scheduler_error_mailer module but need to test. I will test it today.

[2021-07-28 05:48] fredrikarvas-vertel commented on #699
Great!

[2021-07-28 06:26] rupareliyahemangi145 commented on #694
Hello @FredrikArvas
I've added https://github.com/vertelab/odoo-outplacement/pull/294/commits/65fcd28130e316b5da072e3f023f73d6d4f131e6 for translation.

[2021-07-28 09:31] Radhika435 opened #704 "AFC-2640 Interpreter booking and delivery status update."
**Userstory:**
As a user, I wanted to
1) Book an interpreter and get a confirmation status from the interpreter portal.

2) Status must be changed if the interpreter is confirmed and job coach must see information about the interpreter's name and booking ref. On the picture below we can see there is no information visible about interpreter.
![image](https://user-images.githubusercontent.com/599166

[2021-07-28 09:33] Radhika435 commented on #704
@rupareliyahemangi145 Please look in to this production issue
Lets connect to discuss in detail

[2021-07-28 10:18] rupareliyahemangi145 commented on #704
Hello @Radhika435

We need to check log file of Odoo production server. As per above screenshot it seems like system is not able to take response from API. It could be possible that there is some error in process but don't know where. To know that we have to check log file of odoo server when user creating interpreter booking.

[2021-07-28 12:19] SebastianGieser-Vertel commented on #704
I think the access issue is caused by this file on line 3: https://github.com/vertelab/odoo-project/blob/Dev-12.0-Fenix-Sprint-02/task_interpreter_ipf_client/security/ir.model.access.csv
However I'm not sure why it causes this issue, the log file on the server says the same thing:
('Sorry, you are not allowed to access this document. Only users with the following access level are currently allowed

[2021-07-28 12:27] SebastianGieser-Vertel commented on #704
I think something like line 4 from here might be necessary: https://github.com/vertelab/odoo-outplacement/blob/Dev-12.0-Fenix-Sprint-02/outplacement_final_report_ipf_client/security/ir.model.access.csv

[2021-07-28 12:44] rupareliyahemangi145 commented on #704
Thanks @SebastianGieser-Vertel  Yes its access issue. Let me create PR to fix. Thanks again.

[2021-07-28 13:07] rupareliyahemangi145 commented on #704
Hello @Radhika435  and @SebastianGieser-Vertel

I've created PR https://github.com/vertelab/odoo-outplacement/pull/296 to fix this issue.
Please check it and let me know if anything.

@Radhika435 For exiting booking where no booking reference added, user have to recreate it via Interpreter menu >> Select booking >> Go to Action and Duplicate. First try with new booking if works then recreate one b

[2021-07-29 06:03] rupareliyahemangi145 commented on #684
Hello @FredrikArvas

I checked possibility to add column in standard view. We can add column like this:
![contact_view](https://user-images.githubusercontent.com/36560391/127439586-2a9b0147-cbb4-48c5-a0c0-94a9a8421312.png)

We have to add one compute HTML field that will list URls, for now I just added 123,123 etc. I've added it on right side but we can add it on left side. I tried to add it outsi

[2021-07-29 06:32] rupareliyahemangi145 commented on #699
Hello @FredrikArvas

I tested https://github.com/OCA/server-tools/tree/12.0/scheduler_error_mailer module but it is not working. I tested it with **Check for Outplacement Invoices** cron, selected Error mail template and executed. Received error in log but its not sending mail even its not going inside method which sends mail.

If possible then please test it from your side when you can.

[2021-07-29 06:36] fredrikarvas-vertel commented on #699
Ok. that was sad news. Could you please check if they have any reported issues on the OCA-page?
https://github.com/OCA/server-tools/tree/12.0/scheduler_error_mailer
Or, if not, please ask there to see if we can get some help.

[2021-07-29 06:38] fredrikarvas-vertel commented on #684
Great!
could you see if you can display links from the odoo-base/partner_links-module there?

[2021-07-29 06:39] rupareliyahemangi145 commented on #699
Yes Sure @FredrikArvas

[2021-07-29 06:42] rupareliyahemangi145 commented on #684
For that we have to add one HTML compute field or need to check why widget is not working on this place?

I checked odoo-base/contact_links module, it uses widget to list links on **Links** tabs. I tried same widget in new place column but it doesn't work.

[2021-07-29 06:45] fredrikarvas-vertel commented on #684
Could you use the same table of links and display them in the new computed fields (somehow)?

[2021-07-29 06:46] rupareliyahemangi145 commented on #684
Yes @FredrikArvas

[2021-07-29 08:05] rupareliyahemangi145 commented on #699
Hello @FredrikArvas

I debug more about this module and found that it will not send mail in following two cases:
1. If we run cron job manually
2. If we added exception handling for that cron. In most of API cron we have added exception handling that will add error log in odoo log file.

If we want mail functionality then we can modify our modules and send mail with error log. But it will not glob

[2021-07-29 12:37] rupareliyahemangi145 commented on #684
Hello @FredrikArvas

I've tried to add column that list contact links like it is in tab.
Here is video to show result:
https://www.loom.com/share/a1ed9c9436dc40f1b2ad770737f89da7

Please check it when you can and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-07-29 13:07] fredrikarvas-vertel commented on #684
This looks really promising!
@Radhika435 Could you please forward this video to Anders Hagström?

[2021-07-29 13:08] rupareliyahemangi145 commented on #684
Thanks @FredrikArvas

[2021-08-09 07:52] fredrikarvas-vertel opened #708 "AFC-2646 - add an uppercase in the password for CIAM"
We need to change the password requirements to include a uppercase letter compared to now.

**Module name:**
https://github.com/vertelab/odoo-hr/blob/31f1add30e15312cb41853b05c7cbc5393815345/hr_user_ciam_update/models/ciam_update.py#L71

**Development Branch name:**
https://github.com/vertelab/odoo-hr/tree/12.0-AFC-2646_password-fix

**Target Branch name:**
https://github.com/vertelab/odoo-hr/tree

[2021-08-09 08:07] Radhika435 commented on #700
@fredrikarvas-vertel
How can the Interpreter preference be set to **valfri** by default? Do the case workers change it manually on the job seeker card (outplacement) or do DAFA receive it from the order?

[2021-08-09 08:43] rupareliyahemangi145 commented on #708
Ok @FredrikArvas I will check this issue.

[2021-08-09 10:08] fredrikarvas-vertel commented on #708
@rupareliyahemangi145
I just got a response from the CIAM-platform that they can do the change for all Arbetsformedlingens systems. This means we do not need to do this change on our side.

[2021-08-09 10:51] rupareliyahemangi145 commented on #708
Ok @FredrikArvas

[2021-08-09 13:36] Anushalewis commented on #680
[AFC-2582- Test Results.docx](https://github.com/vertelab/odoo-af/files/6954857/AFC-2582-.Test.Results.docx)

[2021-08-10 10:24] Radhika435 commented on #708
Hello @rupareliyahemangi145

I am opening this issue again as we got some information from the CIAM platform about the rules that we have to follow while creating the password for the user to log in to the DAFA via CIAM.

We need to **change the automatic generation of passwords to include a uppercase-letter** compared to what we have today.

(The CIAM-rule for passwords as it stands now is 8-64 c

[2021-08-10 10:40] rupareliyahemangi145 commented on #708
Ok @Radhika435 I will check this issue.

[2021-08-10 11:04] rupareliyahemangi145 commented on #708
Hello @Radhika435

Can we call to discuss this issue?

[2021-08-10 11:16] fredrikarvas-vertel commented on #708
@rupareliyahemangi145  I have done some adjustments in the gitissue.
Please check again.
:-)

[2021-08-10 11:22] rupareliyahemangi145 commented on #708
Ok @FredrikArvas

[2021-08-10 11:23] rupareliyahemangi145 commented on #708
Ok its clear now. Thanks.

[2021-08-10 11:41] rupareliyahemangi145 commented on #708
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-hr/pull/76 for this issue.

Please check it when you can and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-08-10 12:58] Radhika435 commented on #506
Hello @rupareliyahemangi145
1)I was unable to install the AF_mass_mail_template please check on that.
![image](https://user-images.githubusercontent.com/59916603/128868261-12d56804-3ac5-49b9-8086-3b3b8274b744.png)

2)Please add some more standard AF templates in the place of Odoo standard templates in email body.
Hide the odoo standard templates.
![image](https://user-images.githubusercontent.com/

[2021-08-10 13:07] fredrikarvas-vertel commented on #506
2021-08-10 13:05:38,771 32053 INFO odoocrm odoo.addons.base.models.ir_module: ALLOW access to module.button_immediate_install on ['af_mass_mail_template'] to user admin #2 via 172.16.42.112
2021-08-10 13:05:38,772 32053 INFO odoocrm odoo.addons.base.models.ir_module: User #2 triggered module installation
2021-08-10 13:05:38,772 32053 INFO odoocrm odoo.addons.base.models.ir_module: ALLOW access to

[2021-08-10 13:09] fredrikarvas-vertel commented on #506
It looks like we have a dependency problem:
2021-08-10 13:05:43,135 32053 ERROR odoocrm odoo.modules.loading: Some modules have inconsistent states, some dependencies may be missing: ['af_mass_mail_template']

[2021-08-10 13:10] rupareliyahemangi145 commented on #506
Hello @FredrikArvas

Error is this:
2021-08-10 13:05:42,917 32053 ERROR odoocrm odoo.modules.loading: Some modules are not loaded, some dependencies or manifest may be missing: ['api_ipf', 'api_ipf_tlr_client', 'api_odoo_xmlrpc']

These modules are installed or in depends of some other modules and not loaded in Odoo server configuration path.
That's why we are not able to install af_mass_mail_temp

[2021-08-10 13:10] rupareliyahemangi145 commented on #506
Yes

[2021-08-10 13:11] fredrikarvas-vertel commented on #506
I am downloading a new copy of the code and updating my server.

[2021-08-10 13:11] rupareliyahemangi145 commented on #506
Ok @FredrikArvas

[2021-08-10 13:23] fredrikarvas-vertel commented on #506
For point 1:
I added dependancy in the manifest.
https://github.com/vertelab/odoo-af/tree/12.0-AFC-1725b_ImprovementsTemplates
and it works now.

[2021-08-10 13:30] rupareliyahemangi145 commented on #506
@FredrikArvas
Now you are able to install af_mass_mail_template module on server?
There was no dependency issue on my local.

[2021-08-10 14:27] Anushalewis commented on #638
Test results  : [Test results AFC-2468.docx](https://github.com/vertelab/odoo-af/files/6962437/Test.results.AFC-2468.docx)

[2021-08-11 06:03] Anushalewis commented on #630
@rupareliyahemangi145  : Please have a look , there are some deviations from the expected results . [Test Results AFC-2441.docx](https://github.com/vertelab/odoo-af/files/6966219/Test.Results.AFC-2441.docx)

[2021-08-11 06:07] rupareliyahemangi145 commented on #630
Ok Let me check @Anushalewis

[2021-08-11 06:11] Anushalewis commented on #680
@rupareliyahemangi145  : Please have a look at the test results there are some variances to the expected results

[2021-08-11 06:12] rupareliyahemangi145 commented on #630
Hello @Anushalewis Please send full screenshot of error on Language

Click on see full details link on error popup.

[2021-08-11 06:13] rupareliyahemangi145 commented on #680
Ok @Anushalewis

[2021-08-11 06:14] Anushalewis commented on #679
Test results :
[Test Results AFC-2581.docx](https://github.com/vertelab/odoo-af/files/6966253/Test.Results.AFC-2581.docx)

[2021-08-11 06:16] rupareliyahemangi145 commented on #679
Ok @Anushalewis I will check it.

[2021-08-11 06:18] Anushalewis commented on #638
@rupareliyahemangi145 : please have a look at the test results.

[2021-08-11 06:23] rupareliyahemangi145 commented on #638
Ok @Anushalewis

[2021-08-11 07:30] rupareliyahemangi145 commented on #630
Hello @Anushalewis

Please schedule call. I want to discuss with you.

[2021-08-11 07:39] Anushalewis commented on #630
@rupareliyahemangi145 : additional screen shots added   : [Test Results AFC-2441.docx](https://github.com/vertelab/odoo-af/files/6966626/Test.Results.AFC-2441.docx)

[2021-08-11 07:42] rupareliyahemangi145 commented on #630
Ok Thanks but still need call.

[2021-08-11 09:10] rupareliyahemangi145 commented on #680
Hello @Anushalewis

Line break like this is ok?
![line_break](https://user-images.githubusercontent.com/36560391/129002458-7b2064d6-bd6b-4224-9aef-6aff4ac85d8e.png)

[2021-08-11 09:15] rupareliyahemangi145 commented on #638
Hello @Anushalewis

Created PR https://github.com/vertelab/odoo-hr/pull/77 to fix issue.
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-08-12 04:47] rupareliyahemangi145 commented on #680
Hi @Anushalewis and @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/297 to put line break between two msg. Here is new result. On previous one space was more. I decreased space in this PR.
![outplacement](https://user-images.githubusercontent.com/36560391/129139566-bbdd00cd-8b1e-4011-be68-3ab7783b9733.png)

Please check it and let me know if anything.
Thanks.
Rega

[2021-08-12 05:14] Anushalewis commented on #630
Hi @rupareliyahemangi145 : As discussed over the call, testing results updated, works as expected.
[Test Results AFC-2441.docx](https://github.com/vertelab/odoo-af/files/6972995/Test.Results.AFC-2441.docx)

This issue can be closed.

[2021-08-12 05:21] Anushalewis commented on #680
Hi @rupareliyahemangi145 : Thank you , It looks good now , will update the test results with the above, when these changes are deployed on test.

[2021-08-12 05:28] Anushalewis commented on #679
Hi @rupareliyahemangi145 : Works as expected , please find the updated test results. this issue can be closed.
[Test Results AFC-2581.docx](https://github.com/vertelab/odoo-af/files/6973033/Test.Results.AFC-2581.docx)

[2021-08-12 05:28] #679 closed, assigned to rupareliyahemangi145

[2021-08-12 09:12] rupareliyahemangi145 commented on #506
Hello @FredrikArvas and @Radhika435

I've created PR https://github.com/vertelab/odoo-mail/pull/67 to add two mass mail templates and to hide odoo standard mass mail templates.

Here is video: https://www.loom.com/share/9bb57aea362b4b95abae6f7dfcfbf317

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-08-13 09:04] fredrikarvas-vertel commented on #506
![image](https://user-images.githubusercontent.com/61729317/129332245-7aa88050-4917-401d-b1d7-4333a5d3cb40.png)

1 Please add new snippets so they match the new graphical format
2 create new tamplates that are built with snippets, not with normal code
3 Please make the dynamic content to interact with Odoo
4 Please make the "Till Guiden"-example a standard decorated link instead of a green-box wit

[2021-08-16 05:47] #708 closed, assigned to rupareliyahemangi145

[2021-08-16 05:48] #704 closed, assigned to rupareliyahemangi145, Radhika435

[2021-08-16 05:52] #696 closed, assigned to rupareliyahemangi145

[2021-08-16 05:52] #695 closed, assigned to rupareliyahemangi145

[2021-08-16 05:53] #694 closed, assigned to rupareliyahemangi145

[2021-08-16 05:55] #690 closed, assigned to rupareliyahemangi145

[2021-08-16 05:57] #689 closed, assigned to rupareliyahemangi145

[2021-08-16 05:57] #630 closed, assigned to rupareliyahemangi145

[2021-08-16 05:58] #660 closed, assigned to rupareliyahemangi145

[2021-08-16 06:00] fredrikarvas-vertel commented on #662
Robin added:

Verified in dafa-db1622 test. Add the following to hostAliases for our deployment in Openshift.

         - hostnames:
             - dafa-db1042-test.local
             - dafa-db1701-test.local
             - dafa-db823-test.local
             - dafa-test.local
           ip: 127.0.0.1
Then we can set the system parameter report.url to each domain in the databases.
For dafa-db1042 t

[2021-08-16 06:00] #662 closed, assigned to robch2342

[2021-08-16 06:01] #675 closed, assigned to rupareliyahemangi145

[2021-08-16 06:01] #670 closed, assigned to rupareliyahemangi145

[2021-08-16 06:03] fredrikarvas-vertel commented on #674
@AnilKesariya Did you get a copy of the test-database?

[2021-08-16 06:04] #618 closed, assigned to rupareliyahemangi145

[2021-08-16 06:09] #622 closed, assigned to rupareliyahemangi145

[2021-08-16 06:13] fredrikarvas-vertel commented on #692
@rupareliyahemangi145
The idea with this module is to be able to test an Odoo db with an other Odoo db.
So on one side we have DAFA (the client) and on the other side we normallyhave Integration platform, but in this case we simulate that with an other Odoo db (the server).

When N-dev built this it was working, but since then we have made a lot of modifications on the client-side.

The aim with t

[2021-08-16 06:19] fredrikarvas-vertel commented on #700
@rupareliyahemangi145 I think we get the value "valfri" (optional) in many times from the API.
Could you confirm that you have added that value if it is missing?

[2021-08-16 06:23] fredrikarvas-vertel commented on #612
No, I don't yet. We need to talk about it to see where we can go.

[2021-08-16 06:23] #612 closed, assigned to rupareliyahemangi145

[2021-08-16 06:26] rupareliyahemangi145 commented on #692
Hello @FredrikArvas

I think this will completely different if we test with two odoo databases instead of test integration platform.

[2021-08-16 06:28] rupareliyahemangi145 commented on #700
Yes Sure @FredrikArvas
I can't test it on my local but here is code for that:
https://github.com/vertelab/odoo-project/pull/35

[2021-08-16 06:29] rupareliyahemangi145 commented on #612
Ok @FredrikArvas

[2021-08-16 07:09] Anushalewis commented on #638
@rupareliyahemangi145 : new test results, its working on display and hide on legacy id but ssn  wast visible on employee.
please find attached the screen shots
[Test results AFC-2468 new.docx](https://github.com/vertelab/odoo-af/files/6990340/Test.results.AFC-2468.new.docx)

[2021-08-16 07:15] rupareliyahemangi145 commented on #638
Ok @Anushalewis I will check it

[2021-08-16 11:56] rupareliyahemangi145 commented on #638
Hello @Anushalewis

Can we check this issue on call?

[2021-08-16 12:35] rupareliyahemangi145 commented on #638
Hello @Anushalewis ,

Please upgrade **hr_employee_views_dafa** module on both servers and let me know if still issue exits or need any help.

Thanks.
Regards,Hemangi.

[2021-08-16 12:48] Anushalewis commented on #638
Hi @rupareliyahemangi145 : please have a look at the attached document for screen shots after the upgrade on both servers.
[2468 .docx](https://github.com/vertelab/odoo-af/files/6992417/2468.docx)

Thanks,
Anusha Lewis

[2021-08-16 12:52] rupareliyahemangi145 commented on #638
Let's connect again.

[2021-08-16 14:01] rupareliyahemangi145 commented on #506
Hello @FredrikArvas
I've worked on above points.
Point 1 and 3 are done. For point 4 we need button same like Odoo standard but in Green color, right?
I updated code for Point 2 but remaining to test some test cases.

[2021-08-17 05:50] rupareliyahemangi145 commented on #506
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-mail/pull/68 for above points.
Here is video for that https://www.loom.com/share/a34d375df2e24d598397905175a6972e

Please check it when you can and let me know if anything.

Thanks.
Regards,
Hemangi.

[2021-08-18 06:45] Anushalewis commented on #686
Working as expected

[2021-08-18 06:45] #686 closed, assigned to S-Arnshed-Capgemini

[2021-08-23 13:59] fredrikarvas-vertel opened #712 "AFC-2674 Combine search, links and multi- panels into one module"
**Userstory**: As a user, I want to be able to "search contacts" from all views, and see "more features" than in regular Odoo, and see "links in a list", not in a tab because it saves clicks for users.

**Test case**:
install the moduel on our test-server

**Expected result** is to see a:
1 Searchbox in the top right corner
See example on fossa:
- http://fossa.vertel.se:8069/web/database/manager
-

[2021-08-23 14:35] fredrikarvas-vertel opened #713 "AFC-2373 - Add new Search form to standard view"
**Userstory:**
As a user, I want/do ...., Because...

https://jira.arbetsformedlingen.se/browse/AFC-2373

Demo installed at:
http://fossa.vertel.se:8069/web/database/manager
databas: af_web_demo

**Module name:** (added by Nils or Fredrik)
odoo-base/xx

**Development Branch name:**
Dev-12.0-AFC-2373_new_search_form

**Target Branch name:**
https://github.com/vertelab/odoo-base

[2021-08-24 07:50] rupareliyahemangi145 commented on #712
Ok @FredrikArvas I will check this issue.
Thanks.

[2021-08-24 10:04] rupareliyahemangi145 commented on #712
Hello @FredrikArvas

Can we schedule a call to discuss this issue?
Thanks.

Regards,
Hemangi.

[2021-08-25 12:27] Anushalewis commented on #638
Hi @rupareliyahemangi145 , please have a look at the screen shots the ssn number is hidden from general information on employee page , but visible on chatter messages.
[2468 chatter ssn.docx](https://github.com/vertelab/odoo-af/files/7046904/2468.chatter.ssn.docx)

[2021-08-25 12:34] Anushalewis commented on #680
Hi @rupareliyahemangi145 : Please have a look at the screen shots, there is too much spacing between the notifications .
[Screen shots .docx](https://github.com/vertelab/odoo-af/files/7046962/Screen.shots.docx)

[2021-08-25 13:13] rupareliyahemangi145 commented on #638
Ok @Anushalewis I will try to find way to hide from chatter.

[2021-08-25 13:14] rupareliyahemangi145 commented on #680
Ok @Anushalewis I will check it

[2021-08-25 15:14] fredrikarvas-vertel commented on #712
@rupareliyahemangi145  - yes. Let's connect tomorrow 07:30 CET. I have sent an invitation.

[2021-08-26 05:00] rupareliyahemangi145 commented on #712
Ok @FredrikArvas Thanks

[2021-08-26 07:15] DavidLarsson90 commented on #712
module: odoo-web/web_form_search branch: Dev-12.0
In this module we have defined a new view with the odoo search panel

module: odoo-web/web_search_reason branch: Dev-12.0
This module adds a reasons dropdown before the searchbox

[2021-08-26 07:17] rupareliyahemangi145 commented on #712
Ok @DavidLarsson90 Thanks

[2021-08-26 09:09] rupareliyahemangi145 commented on #680
Hi @FredrikArvas  and @Anushalewis

I've created PR https://github.com/vertelab/odoo-outplacement/pull/300 to fix spacing issue,
Please check it and let me know if anything.

Thanks
Regards,
Hemagi.

[2021-08-26 10:44] rupareliyahemangi145 commented on #638
Hello @FredrikArvas and @Anushalewis

I tried to find way to hide from chatter based on group but didn't find any solution.
We have to hide whole chatter area based on user access group. Is it ok?

[2021-08-26 11:08] fredrikarvas-vertel commented on #638
No @rupareliyahemangi145, we can not hide the whole chatter-area.
But we can stop the monitoring of change of SSN (not a good solution but maybe the best now).

[2021-08-26 11:23] rupareliyahemangi145 commented on #638
Ok @FredrikArvas I have another solution.
We can add new One2many field to store SSN change log and can stop monitoring from chatter

[2021-08-26 11:34] fredrikarvas-vertel commented on #638
I think the requriements to log changes are unclear. At this point, i think it is best to stop logging change of SSN.

[2021-08-26 11:34] fredrikarvas-vertel commented on #638
We have other logging functions that will be implemented in the future. I think we can rely on them then.

[2021-08-26 11:39] rupareliyahemangi145 commented on #638
Ok @FredrikArvas I will stop logging of SSN from chatter now.

[2021-08-26 11:43] fredrikarvas-vertel commented on #638
Thanks

[2021-08-26 12:25] rupareliyahemangi145 commented on #712
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-base/pull/360 to add links on new mockup form views.
Here id video for that: https://www.loom.com/share/d0c9c922328e48be9771d488c50f963d

Please check it and let me know if anything.
Thanks.

Regards,
Hemangi.

[2021-08-26 15:30] rupareliyahemangi145 commented on #638
Hello @FredrikArvas and @Anushalewis

I've create PR https://github.com/vertelab/odoo-auth/pull/25 to prevent tracking of SSN from chatter.
Please check it when you can and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-08-27 12:48] rupareliyahemangi145 commented on #506
Hi, Sorry I just saw your notification. Do you need a call, now?

On Fri, 27 Aug 2021 at 17:37, Haze Lidman ***@***.***> wrote:

[2021-08-27 12:56] HazeLidman commented on #506
hey it is okay now, I understood the way your work :) I will get if I need more information in the future :)

[2021-08-27 13:01] rupareliyahemangi145 commented on #506
Ok

On Fri, Aug 27, 2021, 6:26 PM Haze Lidman ***@***.***> wrote:

[2021-08-28 08:12] rupareliyahemangi145 commented on #712
Hello @FredrikArvas

I checked code of both modules. odoo-web/web_search_reason is just adding dropdown at the top. It is not searching contacts based on reason.
And don't understand how to test odoo-web/web_form_search. Is there any video to explain functionality of this module?

Thanks
Regards,
Hemangi.

[2021-08-30 06:47] fredrikarvas-vertel commented on #713
David gave these instructions:
module: odoo-web/web_form_search branch: Dev-12.0
In this module we have defined a new view with the odoo search panel

module: odoo-web/web_search_reason branch: Dev-12.0
This module adds a reasons dropdown before the searchbox

[2021-08-30 06:47] #713 closed, assigned to anderswallenquist

[2021-08-30 06:48] fredrikarvas-vertel commented on #674
Hi @AnilKesariya
Have you had any time to check this yet?
/Fredrik

[2021-08-30 06:49] #684 closed, assigned to rupareliyahemangi145

[2021-08-30 06:51] #609 closed, assigned to nobody

[2021-08-30 07:27] #701 closed, assigned to rupareliyahemangi145

[2021-08-30 07:28] #700 closed, assigned to rupareliyahemangi145

[2021-08-30 07:36] #688 closed, assigned to rupareliyahemangi145

[2021-08-30 08:37] fredrikarvas-vertel commented on #712
@erikrudhe  - could you please review the video and comment?

[2021-08-30 15:13] fredrikarvas-vertel commented on #702
Here is an OCA-module that integratets with the calendar.
https://github.com/OCA/calendar/tree/14.0/calendar_partner_color (only available in v14)
Maybe it can provide some useful code.

[2021-08-31 10:38] #506 closed, assigned to rupareliyahemangi145

[2021-09-02 13:41] erikrudhe commented on #712
Hi @rupareliyahemangi145 to clarify Fredriks description of how the search function should work, you could click on this link where a simple prototype shows the basic functionality of the search function.

https://xd.adobe.com/view/11561621-0f19-453e-a7a5-e87a27a7d13a-4405/

[2021-09-02 15:08] rupareliyahemangi145 commented on #712
Ok Thanks @erikrudhe I will check it.

[2021-09-03 05:08] rupareliyahemangi145 commented on #712
Hi @erikrudhe Please give access for https://xd.adobe.com/view/11561621-0f19-453e-a7a5-e87a27a7d13a-4405/ to rupareliyahemangi145@gmail.com

[2021-09-06 09:18] erikrudhe commented on #712
@rupareliyahemangi145 you should have access now :)

[2021-09-06 09:46] rupareliyahemangi145 commented on #712
Ok Let me check

[2021-09-06 09:47] rupareliyahemangi145 commented on #712
Still don't have access. I sent request access.

[2021-09-14 06:55] erikrudhe commented on #712
Hi @rupareliyahemangi145 , since the link to Adobe XD wont work I have updated the description for this issue with images that shows how the search function should work. In the images I have also added some explanation to each image.
If you have any questions please contact me on erik.rudhe@arbetsformedlingen.se :)

[2021-09-14 07:22] rupareliyahemangi145 commented on #712
Thanks @erikrudhe I will check it and get back to you if anything.

[2021-09-15 11:06] fredrikarvas-vertel commented on #674
Comment from Anil:
Anil Kesariya, 3 Sept, 15:04
Hi Fredrik
Multi company database Migration will approx 180-200 Hours and Multi Company Code Merge for all the custom module 2002-220 Hours.
Let me know if you want me to start working on it.

[2021-09-15 11:06] #674 closed, assigned to AnilKesariya

[2021-09-20 12:36] rupareliyahemangi145 commented on #712
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-base/pull/365/ to add drop down and button at top.
Here is video for that: https://www.loom.com/share/f7c247dfe3214d099381f455584136b7

Remaining part is JS to change option in second drop down based on selection of first drop down and to redirect contact view based on selection on click on Search button.

Please check it and le