[2020-12-07 10:33] FredrikArvas commented on #441
Hi @n-development
Please add a Pullrequest and a link to that here (if/when you have developed it).
thanks

[2020-12-07 12:22] FredrikArvas commented on #456
Hi @iammiracle
Thanks for this update.
1
I have tested and the filter-issue turned out to be a translation-issue. It filters on the translated group-name, instead of the technical name.

2 We still have an issue regarding the user-rights. It appears to be better now, but we still need an adjustment:
Userstory: As a SuperAdmin, When I assign a user-group to an existing employee/with link to an exis

[2020-12-07 12:34] Yevhen-Pechurin commented on #441
https://github.com/vertelab/odoo-api/pull/8

[2020-12-07 12:37] Yevhen-Pechurin commented on #339
PR: https://github.com/vertelab/odoo-project/pull/3

[2020-12-07 12:56] n-development commented on #339
@FredrikArvas @nils-vertel I`ve added the Actual Hours

[2020-12-07 13:47] nils-vertel opened #461 "AFC-1487b - Glue module between sales and outplacement"
**Userstory:**
As a user (EN: Coach SV:Handläggare) I want to be able to see attributes added in https://github.com/vertelab/odoo-af/issues/446

Add attributes to classes and views already in outplacement and hr_department

**Technical**
| Field name in outplacement | Label | Data Type |
|  ------------- | ------------- | ------------- |
| boknings_ref  | Booking number | Char |
| participitation_

[2020-12-07 13:57] rupareliyahemangi145 commented on #397
Hello @FredrikArvas

To configure template in setting I have found solution but I have question that, this content is different for all user or same?

[2020-12-07 15:37] arturchilangwa-vertel opened #462 "AFC-1486b - Send GP activities from DAFA to BÄR (Joint planing module)"
**Userstory:**
As a system I want to be able to use data from a module. This module includes a recordset that will be used by other modules as initial data. We want to use this module to distribute changes in this recordset.

This is a part of issue https://github.com/vertelab/odoo-af/issues/450

**Technical notes:**
Create a new resource module called `res_joint_planning_af`. Technical name for c

[2020-12-07 15:40] FredrikArvas commented on #397
@rupareliyahemangi145
The content is the same for all users.
:-)

[2020-12-07 16:40] arturchilangwa-vertel opened #463 "AFC-1486c - Send GP activities from DAFA to BÄR (extend outplacement_joint_planning_ipf_client)"
**Userstory:**
As a system I want to send a joint planning message to BÄR.

**Technical notes**

modify `outplacement_joint_planing_ipf_client`:

Update_api so that send takes two params, `outplacement_object`, and `res.joint_planning`'s record set.

When constructing the payload dict according to API the following has to be observed:

* `innehall` field is a list of activities read from `outplace

[2020-12-07 20:05] iammiracle commented on #456
Hi @FredrikArvas

I created a new user, assigned the SuperAdmin group and the Employee Officer group. I logged in with the user and assigned a group to an employee, which created the user record with the sudo right and adds the user to the group with the sudo right.

User groups is now showing on the tree view and user record is created on the fly, can you give me a step by step way to reproduce i

[2020-12-07 20:36] FredrikArvas commented on #456
Thanks.
Let me try it again tomorrow on the pod.
You might have fixed it with number 3.
:-)

[2020-12-08 04:38] rupareliyahemangi145 commented on #397
Ok Thanks @FredrikArvas

[2020-12-08 06:24] rupareliyahemangi145 commented on #397
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-web/pull/13 for normal page and configurable accessibility report.
Here is video: https://www.loom.com/share/1f10c834864d423c9e793b0b7b60d0b1

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2020-12-08 06:37] FredrikArvas commented on #397
Hi @rupareliyahemangi145
Could you see if you can change what is displayed in the top-line of the page?
![image](https://user-images.githubusercontent.com/9428370/101448744-e1384080-3927-11eb-8814-ac9b92e9c40a.png)

With this change, I like the report now!

[2020-12-08 06:46] rupareliyahemangi145 commented on #397
@FredrikArvas I will change this top line of page.

[2020-12-08 06:55] FredrikArvas commented on #400
Hi @Yevhen-Pechurin
Please add a screenshot and some more instructions in the manifest / the modules description-index-file on how the module works. Thanks

[2020-12-08 09:37] af-aden opened #465 "AFC-1156-Send Interpreter Booking Request"
**Userstory:**
As a user i want:
1. Book an interpreter as an activity and post a request

**Requirement: Post-Request**
- The GUI for "Interpreter booking" is: (https://github.com/vertelab/odoo-af/issues/427)
- This issue adds the glue between the gui and the API. It "books an interpreter" as an activity, the "booking"-object is saved as an object in mail.activity.

Send that "booking"-object as

[2020-12-08 10:11] arturchilangwa-vertel commented on #441
https://github.com/vertelab/odoo-api/pull/8 is merged!

[2020-12-08 10:38] nils-vertel commented on #363
@Yevhen-Pechurin
outplacement_deviationreport_ipf_client
Its not completely in place yet but its close enough to do the switch

[2020-12-08 10:56] arturchilangwa-vertel opened #466 "Outplacement issues"
AFC-1487 - Link Sub Order-integration api-data to odoo-models (https://github.com/vertelab/odoo-af/issues/429)
`odoo-outplacement/outplacement` (enhancement) (or new issue)
-> This is an old issue that is used as a base for AFC-1487*, will be removed.

AFC-1487a - Receive Suborder (https://github.com/vertelab/odoo-af/issues/446)
`odoo-sale/sale_outplacement` (new module)

AFC-1487b - Glue module b

[2020-12-08 11:04] Yevhen-Pechurin commented on #427
Hello @FredrikArvas @Radhika435 @nils-vertel
Where i can find field task.outplacement_id?

[2020-12-08 11:51] Yevhen-Pechurin commented on #427
@FredrikArvas i don't have permision for push into https://github.com/vertelab/odoo-outplacement. Could you give me permission?

[2020-12-08 12:00] FredrikArvas commented on #427
hi @Yevhen-Pechurin I have added you now. Please check if it works.

[2020-12-08 12:22] Yevhen-Pechurin commented on #427
No, it don't work, and for https://github.com/vertelab/odoo-base too.

[2020-12-08 14:29] rupareliyahemangi145 commented on #397
Hello @FredrikArvas

Created PR https://github.com/vertelab/odoo-web/pull/14 to update top line.

![accessibility_report](https://user-images.githubusercontent.com/36560391/101496519-e0d39000-398f-11eb-9509-e9142597d9f7.png)

Please check it and let me if anything.

Thanks.

Regards,
Hemangi.

[2020-12-08 15:32] nils-vertel commented on #461
@n-development please estimate

[2020-12-08 15:33] nils-vertel commented on #446
@n-development please estimate

[2020-12-08 15:58] arturchilangwa-vertel commented on #463
@n-development
Please give an estimation.

[2020-12-08 15:58] arturchilangwa-vertel commented on #450
@n-development
Please give an estimation.

[2020-12-08 15:59] arturchilangwa-vertel commented on #462
@n-development
Please give an estimation.

[2020-12-08 16:10] n-development commented on #446
@FredrikArvas @nils-vertel I`ve added the estimate. Waiting for approval.

[2020-12-08 16:14] n-development commented on #461
@nils-vertel I`ve added the estimate.

[2020-12-08 16:18] n-development commented on #427
@FredrikArvas @nils-vertel excuse me, but we have the blocker, check comments above, please.

[2020-12-08 16:19] Radhika435 opened #467 "AFC-1150 Jobseeker-view"
**Userstory:**
As a user, I want to add/ change the education level field in the
partner_education_views
(outplacement_res.partner)

Step 1: Change the name of the existing *education level* field to Highest education level and place it above the *Sun-code* field as shown in the picture below.
![image](https://user-images.githubusercontent.com/59916603/101524838-bdf2ad00-398a-11eb-8b07-bf4d1736512

[2020-12-08 18:51] FredrikArvas commented on #427
I have added the team n-development to odoo-base and odoo-outplacement
![image](https://user-images.githubusercontent.com/9428370/101527675-9b629300-398e-11eb-9cde-c631c7aad7af.png)
![image](https://user-images.githubusercontent.com/9428370/101527732-ad443600-398e-11eb-9c33-54c2c8fdfa26.png)
![image](https://user-images.githubusercontent.com/9428370/101527803-c4832380-398e-11eb-9ced-ab18ce15ce4d.p

[2020-12-09 06:42] FredrikArvas commented on #397
Hi @rupareliyahemangi145
Currently it works a lot better.
1 I would like you to add a new parallell link (to the left of the current link) to the attached static html-page. Store it in the module.
[tgr.zip](https://github.com/vertelab/odoo-af/files/5663926/tgr.zip)

2 Please correct this minor typo
![image](https://user-images.githubusercontent.com/9428370/101593981-38eeae80-39f1-11eb-8522-633ad62

[2020-12-09 06:55] nils-vertel commented on #465
@af-aden Please refrain from using Images as issue description as it makes it hard to do changes to the description.
Please try to use markdown instead.

[2020-12-09 07:05] FredrikArvas commented on #456
Hi @iammiracle
It get better, but I still need you to change a bit.

1 The user should not be allowed to change the user-creation/settings in the normal place, because they could then do JavaScript-stuff that would change their user-rights.

So please do not use this dialoge-box, please use a "sudo"-magic instead.
![image](https://user-images.githubusercontent.com/9428370/101619155-28e7c680-3a13-1

[2020-12-09 07:48] nils-vertel commented on #461
@n-development Please implement this

[2020-12-09 07:56] n-development commented on #461
Hello @nils-vertel, we agreed if an estimate less than 4 hours then a task automatically approves.

[2020-12-09 08:07] nils-vertel commented on #461
@n-development yes, just added the comment to document that I have seen it and that I explicitly agree

[2020-12-09 08:09] n-development commented on #461
@nils-vertel, I got it.

[2020-12-09 08:53] Yevhen-Pechurin commented on #463
Hello @arturchilangwa-vertel
I can't found outplacement_joint_planing_ipf_client and outplacement_joint_planning_af modules. Could you help me?
I've found a module 'outplacement' with an object 'outplacement' in a branch 'Dev-12.0-Fenix-Sprint-02', but it have a field 'name' and don't have fields 'order_id', 'partner_id', 'jp_date', 'meeting_remote', and 'task_ids'(maybe you means 'activity_ids').

[2020-12-09 09:07] rupareliyahemangi145 commented on #397
Ok @FredrikArvas I will check points.

[2020-12-09 09:24] FredrikArvas commented on #465
Screenshots from systems are ok though. :-)

[2020-12-09 09:54] n-development commented on #463
@nils-vertel

[2020-12-09 10:27] nils-vertel commented on #446
@n-development please start development

[2020-12-09 10:32] n-development commented on #427
PR: https://github.com/vertelab/odoo-outplacement/pull/3

[2020-12-09 10:39] n-development commented on #446
@FredrikArvas @nils-vertel I've added the deadline, we're starting work.

[2020-12-09 10:39] nils-vertel commented on #463
@Yevhen-Pechurin see https://github.com/vertelab/odoo-af/issues/462
This issue is part of related issues:
https://github.com/vertelab/odoo-af/issues/450
https://github.com/vertelab/odoo-af/issues/462

[2020-12-09 10:53] n-development commented on #427
@FredrikArvas @nils-vertel I've updated deadline and Actual hours.

[2020-12-09 12:09] #441 closed

[2020-12-09 12:23] #269 closed

[2020-12-09 12:54] n-development commented on #463
@nils-vertel
[#462](https://github.com/vertelab/odoo-af/issues/462) contains only data and haven't ralation with 'outplacement' object.
I didn't find fields 'order_id', 'partner_id', 'jp_date'(maybe it 'jp_sent_date'), 'meeting_remote', and 'task_ids'.

[2020-12-09 12:58] arturchilangwa-vertel commented on #414
@FredrikArvas
Is now merged https://github.com/vertelab/odoo-base/pull/185

[2020-12-09 13:55] n-development commented on #450
@FredrikArvas @nils-vertel I've added the estimate and the deadline.

[2020-12-09 13:56] n-development commented on #462
@FredrikArvas @nils-vertel I've added the estimate and the deadline.

[2020-12-09 14:12] iammiracle commented on #456
Hi @FredrikArvas can we have a call on this issue?

[2020-12-09 14:38] FredrikArvas commented on #456
Yes,
do you have time now?

On Wed, 9 Dec 2020 at 15:12, Miracle Ayodele <notifications@github.com>
wrote:

--

______________________________________________________________

Fredrik Arvas, fredrik@arvas.se
Lillebovägen 13, 132 36 Saltsjö-Boo
Mobil: +46708145595
Webb <https://08arvasi.se/> | Blogg <http://fredrik.arvas.se/> | LinkedIn
<https://www.linkedin.com/in/fredrikarvas> | Vi stödjer bl.a E

[2020-12-09 14:51] iammiracle commented on #456
Yes

[2020-12-09 14:53] FredrikArvas commented on #456
https://meet.jit.si/vertelab

[2020-12-09 14:58] n-development commented on #446
@nils-vertel
what is sale_outplacement.product_suborder?

[2020-12-09 15:05] Yevhen-Pechurin commented on #446
@nils-vertel for creating sale.order and sale.order.line i need price, uom and quantity. Where i can find origin of project.task?

[2020-12-09 15:12] nils-vertel commented on #463
order_id is added by: https://github.com/vertelab/odoo-af/issues/446
partner_id is added by: https://github.com/vertelab/odoo-af/issues/446
jp_date is jp_sent_date:
meeting_remote is added by: https://github.com/vertelab/odoo-af/issues/446 (But not in the spec for it now, I'll have to add it there)
tasks_ids is added by: https://github.com/vertelab/odoo-af/issues/446

[2020-12-09 15:18] FredrikArvas commented on #446
@Yevhen-Pechurin
Does this file in this module help?
https://github.com/vertelab/odoo-sale/blob/Dev-12.0-Fenix-Sprint-02/af_sale_orders/data/product_template.xml

if not, please add 1 as price, any uom and 1 as quantity

[2020-12-09 15:27] nils-vertel commented on #446
@Yevhen-Pechurin
product_id is the string "sale_outplacement.product_suborder" - I have to double check this with the Architect tomorrow but I'm 90% sure.
@anderswallenquist double check this

[2020-12-09 19:59] iammiracle commented on #456
@FredrikArvas I have removed existing group as it is now showing on the **Groups** as discussed. [PR is created](https://github.com/vertelab/odoo-auth/pull/7)

[2020-12-09 20:42] FredrikArvas commented on #456
Thanks @iammiracle
We will test it tomorrow.
I tested on a new database today, and got the same result.
![image](https://user-images.githubusercontent.com/9428370/101684749-2ca53880-3a67-11eb-9f9f-97f95b47c138.png)

But I will test again to see if I did something wrong.

[2020-12-10 06:03] FredrikArvas commented on #456
Hi @iammiracle
I tested it on a new database = same wrong result
These steps:
1 create a new database
2 install only module auth_user_rights_wizard (version 12.0.4) (I see that you have version 12.0.6 in your latest commit, I will test that too).
3 Create a user with "Superadmin" rights, (change hr-user-rights to Officer)
4 login with the new "Superadmin"-user
5 Create employee
6 assign DAFA-right

[2020-12-10 06:09] FredrikArvas opened #468 "[IMP] AFC-1406b api_odoo_xmlrpc"
**Userstory:**
1 Add a config-description in the /static/index.html-file
![image](https://user-images.githubusercontent.com/9428370/101733181-bf24f680-3abe-11eb-88c1-9575a5b42b23.png)
![image](https://user-images.githubusercontent.com/9428370/101733257-d8c63e00-3abe-11eb-82b3-b5246e7440e3.png)

Please explain how I filter out:
res.partner=1 (the main company)
res.user=1 (the admin)
hr.employee=1 (

[2020-12-10 07:14] FredrikArvas commented on #468
@rupareliyahemangi145
Could you please assist me in testing this module on our servers?
I have trouble with the connections:
![image](https://user-images.githubusercontent.com/9428370/101733769-a23cf300-3abf-11eb-8560-36ca5ff71f4e.png)
I am available in 45 minutes now

[2020-12-10 08:25] n-development commented on #462
@FredrikArvas @nils-vertel I`ve added the actual hours. The ticket has done.
PR :  https://github.com/vertelab/odoo-outplacement/pull/4

[2020-12-10 10:34] iammiracle commented on #180
@FredrikArvas I tried installing the tour module in a fresh database, and I got errors from calendar_af module, signature does not exist and many more missing fields

[2020-12-10 10:47] iammiracle commented on #456
Here is the [video-link](https://www.loom.com/share/163b354b40fe45a5b3c3be847a91ec62) to the same step followed and gave positive result.

[2020-12-10 11:05] arturchilangwa-vertel commented on #462
First PR for this issue is merged
https://github.com/vertelab/odoo-outplacement/pull/4

[2020-12-10 11:10] n-development commented on #446
PR: https://github.com/vertelab/odoo-outplacement/pull/5
https://github.com/vertelab/odoo-sale/pull/13

[2020-12-10 11:11] n-development commented on #461
PR: https://github.com/vertelab/odoo-outplacement/pull/5

[2020-12-10 11:16] n-development commented on #461
@nils-vertel @FredrikArvas I've added actual hours and deadline.

[2020-12-10 11:18] n-development commented on #446
@FredrikArvas @nils-vertel I've added the actual hours.

[2020-12-10 11:24] n-development commented on #463
@nils-vertel
I can't found outplacement_joint_planing_ipf_client, maybe it is new module?

[2020-12-10 11:57] n-development commented on #463
@nils-vertel @FredrikArvas I've updated the estimate and dealine.

[2020-12-10 13:15] arturchilangwa-vertel commented on #446
PRs below is merged:
https://github.com/vertelab/odoo-outplacement/pull/5 (sale_outplacement)
https://github.com/vertelab/odoo-sale/pull/13 (extending sale_suborder_ipf_(server+client))

[2020-12-10 13:28] rupareliyahemangi145 commented on #468
Hello @FredrikArvas and @Radhika435

Can you please share credential of both servers or Databases?

[2020-12-10 13:32] n-development commented on #450
@FredrikArvas @nils-vertel I'm almost done, I just see that the screen belongs to project.task, but the description says outplacement_object. Maybe there is a technical error in the description of the problem?

[2020-12-10 13:41] rupareliyahemangi145 commented on #397
Hello @FredrikArvas

Can you please explain first point(1 I would like you to add a new parallell link (to the left of the current link) to the attached static html-page. Store it in the module.
tgr.zip)? I don't understand. Can't see anything when click on link of tgr.zip

[2020-12-10 14:52] nils-vertel commented on #450
Answered in Slack. For the record its a technical error in the description that were missed from the drawning board.
Its correct that the action shall be initiated from the outplacement_object and not on individual tasks.

[2020-12-10 16:03] n-development commented on #450
@FredrikArvas @nils-vertel I've updated the actual hours. Unfortunately, we had to use 1 extra hour.
PR link : https://github.com/vertelab/odoo-outplacement/pull/6

[2020-12-10 16:15] n-development commented on #463
PR: https://github.com/vertelab/odoo-outplacement/pull/7

[2020-12-10 17:02] FredrikArvas commented on #468
Both servers are inside the clients network.

[2020-12-10 17:29] FredrikArvas commented on #456
I have created a new internal ticket for this issue to see if we can find the error.
AFC-1476

[2020-12-10 19:04] FredrikArvas commented on #397
Hi @rupareliyahemangi145
Ok,
We are testing different options to achieve the Accessibility requirements and one of them is to display a normal HTML-file, instead of the current version we have now.

May i therefore ask you to add a simple html-file in the module and create a normal link to that file.
The content of the file could be this:
[see the Example-code with edit-mode]
<html>
<head>Title in

[2020-12-10 19:08] FredrikArvas commented on #397
This is also a reminder for later versions.
We need the report to be stored in the module. Since it will be installed on several serves.

[2020-12-11 04:45] rupareliyahemangi145 commented on #468
Ok @FredrikArvas No problem

[2020-12-11 04:49] rupareliyahemangi145 commented on #397
Ok @FredrikArvas Thanks. I will check it.

[2020-12-11 06:16] FredrikArvas commented on #342
@n-development Please add a link to the RP here.

[2020-12-11 06:30] rupareliyahemangi145 commented on #397
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-web/pull/15 to redirect user on HTML page.

Here is video: https://www.loom.com/share/e09945e142e64ef49c2665bf96dfbb91?focus_title=1&muted=1&from_recorder=1

I have added HTML file inside **web_a11y_report/static/src/html** folder. With **tgr.html** name. And redirected that file as a HTML page on Accessibility report.

If you wa

[2020-12-11 06:57] FredrikArvas commented on #402
@n-development  Please make a PR and paste a link here.

[2020-12-11 07:07] Yevhen-Pechurin commented on #402
PR: https://github.com/vertelab/odoo-outplacement/pull/8

[2020-12-11 07:17] n-development commented on #342
@FredrikArvas
https://github.com/vertelab/odoo-sale/pull/14

[2020-12-11 07:40] n-development commented on #463
@FredrikArvas @nils-vertel I've updated the actual hours.

[2020-12-11 08:35] n-development commented on #427
@FredrikArvas @nils-vertel I've updated the actual hours how we spend on fixing an error. (0.5h)

[2020-12-11 11:09] arturchilangwa-vertel commented on #357
Closed this one due to wrong base branch https://github.com/vertelab/odoo-base/pull/184
Opened new that also solved the merge conflict and merged it https://github.com/vertelab/odoo-base/pull/186

[2020-12-11 11:15] #357 closed

[2020-12-11 11:32] arturchilangwa-vertel commented on #456
Improvments is now merged https://github.com/vertelab/odoo-auth/pull/7

[2020-12-11 13:01] arturchilangwa-vertel commented on #427
First PR is no merged.
https://github.com/vertelab/odoo-outplacement/pull/3

[2020-12-11 13:35] arturchilangwa-vertel commented on #402
@FredrikArvas @nils-vertel
Code looks good in https://github.com/vertelab/odoo-outplacement/pull/8 the `outplacement_deviationreport_ipf_client` (AFC-1346, https://github.com/vertelab/odoo-af/issues/363) module for making it work.
I have not tried to install the module beacuse it misses that ipf_client.
And my guess that it is on its way.

[2020-12-11 13:49] arturchilangwa-vertel commented on #401
module `mail_oe_chatter_user-groups` is now merged
https://github.com/vertelab/odoo-mail/pull/2

[2020-12-11 13:49] #401 closed

[2020-12-11 13:58] rupareliyahemangi145 commented on #468
Hello @FredrikArvas  and @Radhika435

I've create PR https://github.com/vertelab/odoo-api/pull/9 to test connection.

Here is video link: https://www.loom.com/share/bb53cc23b1494547a9dc814d0b827c28

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2020-12-11 17:22] af-aden opened #469 "AFC-1156 - Update the status of Interpreter bookings"
**Userstory:**
As a user i want status to be updated regularily

**Requirement (GET-Requests):**
To acheive this task, create a cron-job.
Create data-xml for cron-job:

[code]
Use best practice for checking for state not done

**_A). The Parameters are:_**
Interval: 1 hour

**_B). To do:_**
  - Use _'tekniskStatusTypId'_ field to see if status is 'godkänd' (=approved),
  - If status == 'godkänd' c

[2020-12-12 09:35] rupareliyahemangi145 commented on #425
Hello @FredrikArvas

I have created PR to add index file for **web_gui_disabeling** and **web_gui_disabeling**
https://github.com/vertelab/odoo-web/pull/18
https://github.com/vertelab/odoo-web/pull/15/commits

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2020-12-12 10:49] FredrikArvas commented on #468
Hi @rupareliyahemangi145
did you include these items?

Please explain how I filter out:
- res.partner=1 (the main company)
- res.user=1 (the admin)
- hr.employee=1 (the admin)
from beeing syncronized between databases

[2020-12-12 10:55] rupareliyahemangi145 commented on #468
Hello @FredrikArvas

We can't add demo data as server is required in that. Let me create index file. I will explain this in index file.

[2020-12-12 11:54] FredrikArvas commented on #468
Thanks!
The reason for the post is that these data are always created in each database (hmm, not the hr.employee).
I think I want a python-code exclusion of these records. But please suggest a solution.

[2020-12-12 12:13] rupareliyahemangi145 commented on #468
Yes these data are always in each database.

You mean you don't want to sync this data?

You need to add domain in Synchronized Objects(Setting >> General Setting >> Configuration Synchronization >> Object to be Synchronized).

Domain is technical but let me explain how can add domain. Otherwise how need to configure servers and objects I already explained in videos and to Radhika.

Value(Data) in

[2020-12-12 13:18] #468 closed, assigned to rupareliyahemangi145

[2020-12-12 15:04] #456 closed

[2020-12-12 15:08] FredrikArvas opened #470 "[IMP] AFC-1476b (AFC-1544) - user-wizard second round"
1 **Userstory:**
As a user, I want to assign user rights in the normal form-view instead of with the action-button (because action-buttons are difficult to use with a screen-reader)
This is based on https://github.com/vertelab/odoo-af/issues/456

1 Replace the Action-function (and its form) with a section on the normal Form with these roles.

2 Change the ”ServerAction”: When the form is saved, do

[2020-12-12 15:29] arturchilangwa-vertel commented on #397
https://github.com/vertelab/odoo-web/pull/15 is now merged!

[2020-12-13 05:52] #463 closed, assigned to n-development, arturchilangwa-vertel, Yevhen-Pechurin

[2020-12-13 05:53] #450 closed

[2020-12-13 05:53] #375 closed

[2020-12-13 06:11] arturchilangwa-vertel commented on #400
vertelab/odoo-base#181 is now merged

[2020-12-13 08:49] #400 closed

[2020-12-13 10:08] arturchilangwa-vertel commented on #271
Closing this https://github.com/vertelab/odoo-base/pull/183 one due to wrong base, opened this one and merged it #187 .
Also solved some merge conflicts.

[2020-12-13 10:08] #271 closed

[2020-12-13 10:23] nils-vertel opened #471 "AFC-1555-Extend sale_outplacement with additional fields"
**Userstory:**
As a system I want to be able to add data to the suborder.

**Technical**
|Field name | Label | Data type |
| ------- | -------  | ------- |
| is_suborder | Is Suborder Product | Boolean |
| mail_activity_ids | Activities | many2many (mail.activity) |

mail_activities in notebook page Suborder.
Notebook page Suborder is visible when is_suborder==True

Enhance suborder_process_data i

[2020-12-13 10:33] arturchilangwa-vertel commented on #425
`af_core_menu_disabling` is now merged https://github.com/vertelab/odoo-af/pull/426/

[2020-12-13 14:02] nils-vertel opened #472 "AFC-1556 - Sales_Suborder Enhance outplacement views with added fields"
**Userstory:**
As a user, I want to see detailed information about my suborders.
Please add relevant data fields to views.

**Technical**
- partner_id = fields.Many2one('res.partner')
- management_team_id = fields.Many2one('res.partner')
- task_ids = fields.Many2many('product.task', string='Tasks') - Add as a button in div button box
- order_id = fields.Many2one('sale.order')

**Screen-shots old G

[2020-12-13 14:14] nils-vertel commented on #471
@n-development please estimate

[2020-12-13 14:14] nils-vertel commented on #472
@n-development please estimate

[2020-12-13 21:07] FredrikArvas commented on #467
This issue is a duplicate of AFC-1152 . I close this now.
![image](https://user-images.githubusercontent.com/9428370/102024004-866f7080-3d8f-11eb-84b2-480b7c0fa2fc.png)

[2020-12-13 21:07] #467 closed, assigned to Radhika435, nils-vertel

[2020-12-14 05:03] FredrikArvas opened #473 "[IMP] AFC-1406c api_odoo_xmlrpc"
**Userstory:**
1 As an admin I want to select which field that should be the "synk-key", since we use different keys for different odoo-classes.

Example:
For Jobseekers, stored in res.partner, we use "company_registry" and the identifier
For Employees, we use phone-numbers
For Projects, we do not have a number and need to rely on something else

2 When testing, it would be a lot simpler if we cou

[2020-12-14 05:27] rupareliyahemangi145 commented on #473
Ok @FredrikArvas I will check this.

[2020-12-14 05:36] rupareliyahemangi145 commented on #473
Hello @FredrikArvas

 1 As an admin I want to select which field that should be the "synk-key", since we use different keys for different odoo-classes.
- This means you want to search or sync using field which is selected as synk-key not with ID or name, right?

2 When testing, it would be a lot simpler if we could have a "sync"-object-button, similar to the "test connection"-button.
Is this possi

[2020-12-14 05:48] FredrikArvas commented on #180
Do you want to continue with this issue?

[2020-12-14 05:56] FredrikArvas commented on #459
Hi again @iammiracle
We bumped into trouble with the limitations of departments only to be linked to one address!
So priority is now:
1 Departmetns can have multiple adresses.
2 Show address-info (in some form) in the tree-view and the kanban-view.
Ideas:
Show adressfield with the "tag-widget" in the tree-view
Show the address in the kanban-view if it is one, if it multiple, show each city, or sho

[2020-12-14 06:01] FredrikArvas commented on #357
@n-development
I will assign this issue to an other developer to finish it.

[2020-12-14 06:15] FredrikArvas opened #474 "AFC-1152b Break out Partner Education from the module partner_360_view"
**Userstory:**
As an admin, I do not want the education-view to be displayed in three ways.

Please remove it from partner_360_view-module and add it from
https://github.com/vertelab/odoo-base/tree/Dev-12.0-Fenix-Sprint-02/partner_education_views
instead.

This module is a Glue module, that adds a view to an existing view (res_partner-form-view) and uses existing resource-modules (res_sun and res_

[2020-12-14 09:18] n-development commented on #471
Hello @nils-vertel @FredrikArvas, I've updated the estimate.
Could you check and give approval for it, please?

[2020-12-14 09:30] nils-vertel commented on #471
Go

[2020-12-14 11:27] anderswallenquist opened #475 "AFC-1561 - Order interpreter enhancement"
**Userstory:**
As a user, I want to order an interpreter and catch order id

**Screen-shots old GUI:** (illustrations of the old system)

**Screen-shots with changes:** (illustration of proposed changes)

**Screen-shots from development:** (plese add screen-shots of the development in the comment below)

**Technical**
Missing attributes mail.activity  (outplacement_order_interpreter)
|Attribute|Da

[2020-12-14 11:52] n-development commented on #471
@FredrikArvas @nils-vertel I've updated the deadline.

[2020-12-14 11:55] n-development commented on #472
@FredrikArvas @nils-vertel I've updated the estimate and deadline.

[2020-12-14 12:05] nils-vertel commented on #472
Go

[2020-12-14 12:06] nils-vertel commented on #475
@n-development Please estimate

[2020-12-14 12:25] Radhika435 opened #476 "[IMP] AFC-1550 - improvements web_dashboard_fenix"
**Userstory:**
As a user, I want to add some changes on the dashboard

• Only user first name should appear in the dashboard.
•  All the dashboard menus must be on the horizontal menu.
•  Need clear description of menu text for easy understanding of the users
•  Change required  so that you can assign a "note" to one: "user", "group", "all"
• Need to add the relevant icons on the list (if possible

[2020-12-14 12:29] Radhika435 commented on #268
#476

[2020-12-14 12:32] Radhika435 commented on #268
Hi Hemangi,
In the above comment I have linked a issue for further changes on the dashboard.
please check and let me know if anything.

BR,¨
Radhika.

[2020-12-14 13:00] nils-vertel commented on #469
@n-development please estimate

[2020-12-14 13:24] iammiracle commented on #470
@FredrikArvas [PR created](https://github.com/vertelab/odoo-auth/pull/8). The description for the groups has been added to the module..

The error you were getting I see it when the email fields is empty, but once the email field has a value, then it will save without errors. Moreover the validation for email is in place. Kindly test

[2020-12-14 14:11] iammiracle commented on #459
@FredrikArvas let me be sure, I understand you well.

Formview: You want me to make add the address field and make it accept multiple "res.partners" as displayed as "tags",
Kanban: then you want details of the address to show if there is one address in the field and hide the details fields when the addresses are more than 1.

If the address in the department is one, the details of the address shou

[2020-12-14 14:21] iammiracle commented on #180
@FredrikArvas I am still getting errors anytime I install the tour module.

[2020-12-14 14:24] rupareliyahemangi145 commented on #476
Hello @Radhika435

Some points are remaining on this issue. So I will create PR tomorrow.

[2020-12-14 14:53] n-development commented on #472
PR: https://github.com/vertelab/odoo-outplacement/pull/9

[2020-12-14 15:22] FredrikArvas commented on #476
Hi,
please make a name-change also to web_dashboard_dafa, and make the old module with installable = false
It needs to be two modules, until we have uninstalled in all servers.

[2020-12-14 15:25] FredrikArvas commented on #180
Ok,
This module works with hr_view_360 and its dependancy to other modules,

Could you make a copy of it and make it as an instruction to the user-wizard you have created?
We will need this functionality in many different modules.

ok?

[2020-12-14 15:30] n-development commented on #475
@nils-vertel @FredrikArvas I've added the estimate and deadline. Could you check it and give approval, please?

[2020-12-14 15:32] n-development commented on #469
@nils-vertel @FredrikArvas I've added the estimate. Could you check it and give approval, please?

[2020-12-14 15:34] n-development commented on #472
@FredrikArvas @nils-vertel I've added the actual hours.

[2020-12-14 15:59] Radhika435 opened #480 "AFC-1119 Add partner_skill-module"
**Userstory:**
As a user, I want to see the Jobseeker on a separate tab on the contact-form-view

Create module based on:
https://github.com/OCA/hr/tree/12.0/hr_skill
or
https://apps.odoo.com/apps/modules/8.0/partner_skill/

We want the following extra fields on the tab before or after the skills-tree-view.

| Form Fields | Label | Field type |
| ------------- | ------------- | ------------- |
|ot

[2020-12-14 16:09] Radhika435 commented on #480
@FredrikArvas  This is creating a module for kartläggning Competenser
please review and assign it to the developer.

[2020-12-14 18:06] n-development commented on #471
@nils-vertel
"Create mail activites from sale.order_line where product.product of type is suborder." - what the kind of mail activites need to create?
Maybe for field mail_activity_ids need model mail.activity.type?

[2020-12-14 18:58] iammiracle commented on #180
@FredrikArvas I am not sure I understand this. I installed the necessary dependencies but **calendar_af** shows errors of some missing fields.

Then making a copy of it make an instruction of it to user-wizard is not clear to me. Do you want me to add the tour functionality to the user-wizard module?

[2020-12-14 19:05] FredrikArvas commented on #180
Hi @iammiracle

Thanks for asking when my instructions are not clear!

the calendar_af do have problems and the team is working on fixing them.
Yes please try to make an odoo_tour for the user-wizard-module instead.

The important thing here is for us as a team to get an understanding of the odoo-tour functionality.

I think we might use that for each of the more important modules in CRM and DAFA

[2020-12-14 19:06] iammiracle commented on #180
Understood. Thanks

[2020-12-14 19:33] FredrikArvas commented on #480
@iammiracle
We need a skills-tab in a separate module. Please see if you can refactor the oca/hr_skill in a way that we can send it to OCA later. Possibly by 1 creating a partner_skill-module, and then add an extension with our extra fields to that module.

[2020-12-15 04:55] rupareliyahemangi145 commented on #476
Ok @FredrikArvas

[2020-12-15 06:17] FredrikArvas opened #481 "AFC-1541 GUI Final Report (SV Slutrapport)"
**Userstory:**
As a Coach (Sv. Handläggare) I want to be able to enter information concerning the final report and then send it.
As a Coach I want to be able to see when a final report is due to be sent.
As a Coach I want to be able to see when a final report has been sent.
AS a Coach I want to be able to see the status of the final report.

**Technical**
API: https://github.com/vertelab/odoo-af/i

[2020-12-15 06:28] rupareliyahemangi145 commented on #476
Hello @FredrikArvas  and @Radhika435

I have create PR https://github.com/vertelab/odoo-web/pull/19 for this issue.

Here video links for changes:
https://www.loom.com/share/7f57f18095014610bfaedc15f42cb632
https://www.loom.com/share/8b6373d78c294128b4cb03eedd6afd8b

Remaining points are:
 • Change required so that you can assign a "note" to one: "user", "group", "all"
- Radhika asked to skip for

[2020-12-15 06:48] FredrikArvas commented on #476
@rupareliyahemangi145
Please move the "My Dashboard Config"-menu from the left menu to top area.
![image](https://user-images.githubusercontent.com/9428370/102180921-f40fbf80-3ea9-11eb-96ca-408b92af93bb.png)

[2020-12-15 06:50] rupareliyahemangi145 commented on #476
Ok @FredrikArvas Let me do it.

[2020-12-15 06:53] rupareliyahemangi145 commented on #476
![dashboard_menu](https://user-images.githubusercontent.com/36560391/102181273-44017d00-3ed0-11eb-9b8d-94b3252808cb.png)
 Is this ok? @FredrikArvas

[2020-12-15 06:58] iammiracle commented on #480
Hi @FredrikArvas this does not seems clear, on the contact form, I can only see a **Skill** field with the tag widget, not a tree view, in which i added above fields after it

![image](https://user-images.githubusercontent.com/7355805/102181454-ddb63380-3eaa-11eb-9551-b611bc213287.png)

You also said you want to see the Job seeker on the contact view, do you want me to added a tab for Jobseeker?

[2020-12-15 07:36] FredrikArvas commented on #480
Thanks for the image, I agree - it is not clear.

[2020-12-15 08:01] FredrikArvas commented on #476
@rupareliyahemangi145  Brilliant!

[2020-12-15 08:07] rupareliyahemangi145 commented on #476
Thanks @FredrikArvas Pushed code in same PR for this change.

[2020-12-15 08:56] nils-vertel commented on #475
@n-development Go

[2020-12-15 08:56] n-development commented on #469
@FredrikArvas @nils-vertel This ticket has approved by Nils.

[2020-12-15 08:57] nils-vertel commented on #469
@n-development Go

[2020-12-15 09:43] arturchilangwa-vertel commented on #476
is now merged https://github.com/vertelab/odoo-web/pull/19

[2020-12-15 10:27] FredrikArvas commented on #480
![image](https://user-images.githubusercontent.com/9428370/102203105-73ac8700-3ec8-11eb-8a73-63d93a2acf54.png)

[2020-12-15 10:27] FredrikArvas commented on #480
@iammiracle  Does this make any more sense?
I will try to reach you after my current meeting

[2020-12-15 11:23] iammiracle commented on #480
@FredrikArvas [PR Created](https://github.com/vertelab/odoo-base/pull/192)

[2020-12-15 11:34] FredrikArvas commented on #480
Hi,
Please add a screenshot

[2020-12-15 11:47] iammiracle commented on #480
![image](https://user-images.githubusercontent.com/7355805/102211292-b2940a00-3ed3-11eb-80f8-378d33092e1c.png)

[2020-12-15 14:00] nils-vertel commented on #436
@n-development please estimate

[2020-12-15 14:52] n-development commented on #469
@FredrikArvas @nils-vertel I've added the deadline.

[2020-12-15 15:19] anderswallenquist commented on #471
[code]

Change request 1:
Move "Create mail activites from sale.order_line where product.product of type is suborder" to a server activity on outplacement class "Start planned activities". Use user_id from outplacement.employee_id.user_id date_deadline calculated as today + activity.due_days

Change request 2;
Enhance mail.activity with field due_days (integer)

Change request 3:
Add data.xml with

[2020-12-15 17:26] Yevhen-Pechurin commented on #469
PR: https://github.com/vertelab/odoo-outplacement/pull/12

[2020-12-15 18:17] Yevhen-Pechurin commented on #471
PR: https://github.com/vertelab/odoo-outplacement/pull/13

[2020-12-15 18:21] n-development commented on #469
@FredrikArvas @nils-vertel I've added the actual hours.

[2020-12-15 18:21] n-development commented on #471
@FredrikArvas @nils-vertel I've added the actual hours.

[2020-12-15 18:36] Yevhen-Pechurin commented on #436
@anderswallenquist @nils-vertel

How do we define admin?

[2020-12-15 20:47] iammiracle commented on #470
Hi @FredrikArvas I have added tour to this user wizard module. I updated the PR. Kindly test

[2020-12-16 06:08] FredrikArvas opened #483 "AFC-780b Add a module with an Odoo-tour to auth_user_rights_wizard"
**Userstory:**
As a user, I want to be instructed on how to use a new module with a virtual guided tour.

**Screen-shots old GUI:** (illustrations of the old system)

**Screen-shots with changes:** (illustration of proposed changes)

**Screen-shots from development:** (please add screen-shots of the development in the comment below)

**Bugreport:** (only for Bug-Issues)
Steps to reproduce and wher

[2020-12-16 06:09] FredrikArvas commented on #470
Hi @iammiracle
This will be interesting.
Please provide the usual Screenshots, PR and instructions on how to use it.

I would like to have the tour in a separate module, since we are not sure how/when to use it yet.

Here is a GitIssue for that https://github.com/vertelab/odoo-af/issues/483

[2020-12-16 08:23] iammiracle commented on #483
@FredrikArvas do you want me to move the tour functionality from the auth_user_rights_wizard to auth_user_rights_wizard_tour. That is if the PR created as not being merged

[2020-12-16 09:08] FredrikArvas commented on #483
@iammiracle - yes please.
I would like the wizard module to be independent from the tour.

[2020-12-16 09:32] n-development commented on #436
Hello @FredrikArvas @nils-vertel, we have the blocker, could any of you answer this question, please?

[2020-12-16 09:33] nils-vertel commented on #436
@n-development were on it we will get back to you as soon we have an answer

[2020-12-16 09:43] Yevhen-Pechurin commented on #475
PR: https://github.com/vertelab/odoo-project/pull/4 - merged
https://github.com/vertelab/odoo-outplacement/pull/14 - merged

[2020-12-16 09:52] n-development commented on #475
@nils-vertel @FredrikArvas I've added the actual hours.

[2020-12-16 10:26] iammiracle commented on #483
@FredrikArvas I think it will be cool to support this with a video, here is the [link](https://www.loom.com/share/72ffb3fcd53e4490aeaf992e531f8a98).
[
PR Created](https://github.com/vertelab/odoo-auth/pull/9)

[2020-12-16 11:33] anderswallenquist commented on #436
@n-development FIrst step is that outplacement records has employee_id == None (undefined) All records are shown in the undefined column. Employee is not set in earlier stages and are to be set in this kanban-view.

[2020-12-16 11:38] n-development commented on #436
Hello @FredrikArvas @nils-vertel, I've added the estimate and the deadline. Could one of you check it, please, and give approval?

[2020-12-16 13:30] nils-vertel commented on #436
@n-development Go

[2020-12-16 16:58] Yevhen-Pechurin commented on #436
PR: https://github.com/vertelab/odoo-outplacement/pull/16

[2020-12-16 17:51] #414 closed

[2020-12-16 18:50] #432 closed

[2020-12-16 19:44] iammiracle commented on #459
@FredrikArvas any comment on this?

[2020-12-17 08:59] n-development commented on #436
@FredrikArvas @nils-vertel I've added the actual hours.

[2020-12-19 09:04] #462 closed, assigned to n-development, Yevhen-Pechurin

[2020-12-19 09:25] #474 closed, assigned to nobody

[2020-12-19 09:26] FredrikArvas commented on #474
This is solved in AFC-1566

[2020-12-19 09:27] FredrikArvas commented on #474
![partner_education_](https://user-images.githubusercontent.com/9428370/102685992-dfeafb80-41e4-11eb-8101-bd6a90da4d68.png)

[2020-12-19 09:37] #480 closed, assigned to iammiracle

[2020-12-20 06:45] FredrikArvas commented on #459
@iammiracle I am sorry for not having responded earlier. I simply missed that you were waiting. Please proceed if this is clear.

Here is a revised text:
If the address in the department is one, the details of the address should show on form view, tree and kanban view, = yes.
If more than 1 address, it should show the addresses (and for Kanbanview nothing or something that works).
The details of t

[2020-12-20 10:57] nils-vertel opened #485 "DAFA-Walkthrough"
1
<img width="1920" alt="1 Fossa address" src="https://user-images.githubusercontent.com/72382478/102711485-70dfd680-42ba-11eb-9b09-6875e19ad33a.png">

2
<img width="1920" alt="2 login" src="https://user-images.githubusercontent.com/72382478/102711486-72110380-42ba-11eb-8b30-1d804a5a9c13.png">

3
<img width="1920" alt="3 Installed modules" src="https://user-images.githubusercontent.com/72382478/10

[2020-12-21 07:47] Yevhen-Pechurin commented on #363
PR: https://github.com/vertelab/odoo-hr/pull/41

[2020-12-21 13:00] arturchilangwa-vertel commented on #363
Closed because of wrong base branch vertelab/odoo-hr#41
OLD: Merged https://github.com/vertelab/odoo-hr/pull/42
Moved to:  https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0-Fenix-Sprint-02/outplacement_deviationreport_ipf_client

[2020-12-22 15:46] arturchilangwa-vertel opened #486 "AFC-1346 - Deviation Report Improvments"
### User Story

As a user, I want improvements to the Deviation report functionality and move functions to the outplacement module.

### Technical

This issue is linked to https://github.com/vertelab/odoo-af/issues/363  & https://github.com/vertelab/odoo-af/issues/402

_Relevant modules for this task:_

* `deviation_report`
* `outplacement_deviationreport_ipf_client` (old  was called `hr_jobseeker

[2020-12-23 05:53] #475 closed, assigned to n-development, Yevhen-Pechurin

[2020-12-23 08:24] #339 closed

[2020-12-24 17:49] iammiracle commented on #459
@FredrikArvas i have made the changes. [See PR](https://github.com/vertelab/odoo-hr/pull/44)

[2020-12-26 05:22] FredrikArvas commented on #473
Hi @rupareliyahemangi145
(I am sorry for not answering this earlier, I have been too busy to notice your question).

1 As an admin I want to select which field that should be the "synk-key", since we use different keys for different odoo-classes.

HR: This means you want to search or sync using field which is selected as synk-key not with ID or name, right?

 - FA: Yes. We need to be able to confi

[2020-12-26 08:37] rupareliyahemangi145 commented on #473
Ok @FredrikArvas I will check it.

[2020-12-27 07:45] FredrikArvas commented on #470
@iammiracle
We have tested this module on several servers and we still get the error.
Daniel tried to solve it by adding more "sudo"-commands, but it only changed the error message to the current version "You are not permitted to do this".

1 Could you pleace check this module again?
https://github.com/vertelab/odoo-auth/tree/Dev-12.0-Fenix-Sprint-02/auth_user_rights_wizard_tour
The requriements:

[2020-12-27 09:20] iammiracle commented on #470
@FredrikArvas You are getting that because the logged in user does not have the right to do ao. Give the user the DAFA Super Admin and you will be able to assign rights.

You are referring to the tour module when you are supposed to be auth_user_rights_wizard, the tour module only depends on the auth_user_rights_wizard module.

I'm not sure I understand the second point. Which text field are you r

[2020-12-27 19:38] FredrikArvas commented on #470
![image](https://user-images.githubusercontent.com/9428370/103178471-53df7080-4883-11eb-8345-46e5d8dee075.png)

Hi Miracle
Sorry for confusing the modules (holidaymode).

I have assigned the SuperAdmin-role to the DAFA-test-user.
Please check again on a clean database. I know you did not have the problem, but we have on 5 different databases.
:-)

[2020-12-27 20:03] iammiracle commented on #470
Hi @FredrikArvas I have checked on a new db, see video [here](https://www.loom.com/share/365d77c579944934acc8a143b561488a)

[2020-12-28 12:55] rupareliyahemangi145 commented on #473
Hello @FredrikArvas

Thanks for explanation.

I have checked for Point 3, We need other modules to be able to trigger the sync for an individual object.
Please help with instructions on how to trigger the sync when a new object is created in a server.
Example: We have two servers: CRM and DAFA. I create a sales-order in DAFA and need to link it to a jobseeker (with company_registry = 123456790). T

[2020-12-29 07:56] FredrikArvas commented on #473
Hi @rupareliyahemangi145
I think you are aiming for too much in this case. I do not think it is right if we ask you or Anil to change the code of the other modules. What I was trying to ask for is where in your code the other developers should find the "action" to call for.

But let's have a meeting in next week.
I will arrange it on January the 5th when we are all back.
Thanks

[2020-12-31 05:08] rupareliyahemangi145 commented on #473
Hello @FredrikArvas

Ok understood. Ok we will discuss in meeting. Let me try to explain how to use code of this module in that module for requirement, there is no direct action.

Other developer can check method check_connection() at line number 52 in https://github.com/vertelab/odoo-api/blob/Dev-12.0-Fenix-Sprint-02/api_odoo_xmlrpc/models/odoo_api_synchro_obj.py

This method first connect two da

[2021-01-04 10:25] arturchilangwa-vertel commented on #459
@FredrikArvas PR https://github.com/vertelab/odoo-hr/pull/44 is now merged.

[2021-01-04 12:27] n-development commented on #486
Hello @FredrikArvas, I hope you`re having a nice holiday. Could you give me information about this thicket? Whether we need to develop it?

[2021-01-05 15:32] nils-vertel commented on #486
@n-development you have Go for this one

[2021-01-06 07:58] FredrikArvas commented on #473
Questions to speak to at meeting:
1 Ideas to what this means:
<ProtocolError for dafa-db823-test.tocp.arbetsformedlingen.se:80/xmlrpc/common: 302 Found>

2
How can we select which field should be the "key"-field
![image](https://user-images.githubusercontent.com/9428370/103744000-4b163980-4ffd-11eb-80f7-dbbffa053bb0.png)

[2021-01-06 09:02] FredrikArvas opened #488 "[bug] AFC-1445 - add labels to buttons"
**Bugreport:** (only for Bug-Issues)
This module generates an error (which I currently do not remember), it has to do with "editing" contacts, if I remember correctly.

Original issue: https://github.com/vertelab/odoo-af/issues/399

Please add a new module with the name: web_a11y_create-buttons
(The old module is now set to "installabe: false")

**Module name:** (added by Nils or Fredrik)
Old: htt

[2021-01-06 09:04] FredrikArvas commented on #488
Hi @rupareliyahemangi145
Could you please test this module again, we have disabled it since it created an error (either with contact-editing) or with the navigation (that disappeared some times).
If it works fine on your side, I will re-activate it on our side and test again.

[2021-01-06 09:06] FredrikArvas opened #489 "AFC-1607 Investigate tab-order and kanbanview for a11y compliance"
We have overall issues with Accessibility that I would like to ask you if you would like to investigate.

Currently, it is about how screen-readers (for blind users) handle Odoo.
If you like, please take four hours and do some testing with:
1 if you have a windows-computer: install this software https://webaim.org/articles/nvda/
2 see if you can add a function to set the tab-order of the Gui
3 see

[2021-01-06 12:06] rupareliyahemangi145 commented on #488
Ok @FredrikArvas I will check it.

[2021-01-07 07:35] rupareliyahemangi145 commented on #488
Hello @FredrikArvas

I have created PR https://github.com/vertelab/odoo-web/pull/25 for this issue.

Created new module **web_a11y_create-buttons** and solved contact error in this module.
Set Installable False in old module **web_a11y_filter_view.**

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-01-07 07:39] FredrikArvas commented on #488
Great!

[2021-01-07 07:40] rupareliyahemangi145 commented on #488
Thanks @FredrikArvas

[2021-01-07 09:50] FredrikArvas commented on #473
@rupareliyahemangi145
Revised instruction:
Please make a Chron-job on the Object- record.
Then we can run that job manually.
For the "Key"-attribute to be synced, we will go an other way round and use the "Search"-method to search in the source-database first to find the right database-id.

Estimated to be delivered Monday January 11th

[2021-01-07 09:51] FredrikArvas commented on #473
I forgot to ask:
What does <ProtocolError for dafa-db823-test.tocp.arbetsformedlingen.se:80/xmlrpc/common: 302 Found>
indicate?

[2021-01-07 10:29] rupareliyahemangi145 commented on #473
@FredrikArvas

I have checked about 302 error code but didn't find anything that direct help. May be there is mistake on user input.
Can you please provide me detail where facing issue and what is configured?

[2021-01-08 15:53] Yevhen-Pechurin commented on #486
4 hours
PR: https://github.com/vertelab/odoo-outplacement/pull/38

[2021-01-08 19:35] n-development commented on #486
Hello @nils-vertel @FredrikArvas, I`ve added the estimates.

[2021-01-09 07:10] FredrikArvas opened #490 "AFC-1445b - add Module-name to Add-buttons"
**Userstory:**
As a user, I want standard-buttons to display the module-name to help users with limited visual field to understand the context o the button

**Screen-shots with changes:** (illustration of proposed changes)
![image](https://user-images.githubusercontent.com/9428370/104085691-ab051e00-5251-11eb-8a8b-cba906397da5.png)
![image](https://user-images.githubusercontent.com/9428370/1040857

[2021-01-09 08:47] arturchilangwa-vertel commented on #486
PR is now merged https://github.com/vertelab/odoo-outplacement/pull/38

[2021-01-09 11:09] rupareliyahemangi145 commented on #473
Hello @FredrikArvas

I have created PR https://github.com/vertelab/odoo-api/pull/11 for following points:
1. Created cron job per object. Here is video for that.
- https://www.loom.com/share/686c48855f084fbca5917175a1642903
2. Added Object selection on Synchronize popup.
- https://www.loom.com/share/860726162193429796a0a36a81fc239b
3. Added description on check_connection().

Please check it and l

[2021-01-09 11:31] rupareliyahemangi145 commented on #473
Hello @FredrikArvas

Here is correct video links.

I have created PR vertelab/odoo-api#11 for following points:

1. Created cron job per object. Here is video for that.
https://www.loom.com/share/3ec8f69e5f93473f828a1d029cfe2ec8

In this video I have configured two servers and two objects(Projects, Tasks). Deactivated cron of task because want to sync it manually.(Shown in next video). Tried to de

[2021-01-09 13:46] rupareliyahemangi145 commented on #473
Hello @FredrikArvas

Created new PR https://github.com/vertelab/odoo-api/pull/12. To change module name base_synchro, To keep author Serpent and added our name as contributor.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-01-09 14:00] FredrikArvas commented on #473
Thanks, we will review and merge it tomorrow.

[2021-01-10 06:41] iammiracle commented on #489
Hi @FredrikArvas is there any specific module you will want me to test or just the general tab order of odoo ad the kanban view

[2021-01-10 08:59] FredrikArvas commented on #489
It is the general functionality. Thanks

[2021-01-10 15:06] iammiracle commented on #489
@FredrikArvas I tried the software on my PC and I software worked well as I used the tab keyboard button to navigate on the kanban view, on the focused selection, the software reads out every words on the kanban view correctly.

To open the kanban record, I hit the Enter button and used the tab keyboard button to navigate till i got to the tab view.

I tried this on the contact module and HR Modul

[2021-01-11 04:22] rupareliyahemangi145 commented on #473
Ok @FredrikArvas

[2021-01-11 10:05] FredrikArvas commented on #489
This is great news!
could you test the same on a server with the odoo-web/web_backend_theme_af ?

[2021-01-11 13:25] rupareliyahemangi145 commented on #490
@FredrikArvas Ok I will check it

[2021-01-11 17:10] FredrikArvas commented on #489
Hi again,
please test with this server http://fossa.vertel.se:8069/web/login - mvp23-database
admin / admin

Could you do small screen recordings with these steps?
1 Login
2 Go to "Outplacement" (left vertical menu)
Go to one "outplacement" (it is a type of project)

3 Open it and edit some details.

Thanks

[2021-01-13 06:37] rupareliyahemangi145 commented on #490
Hello @FredrikArvas

I have worked on this issue and updated module name on Save button.

To update module name on form view buttons like Validate, Preview mentioned in issue need to change button string inside form view where button added.

To update string on Create button of One2many kanban like **Contact & Address** of **Contacts** view. Need to work on JS. I have found solution which function

[2021-01-13 06:46] FredrikArvas commented on #490
Hi Hemangi,
thanks for this. We have several issues with the JS, and I would like to "solve them all in one go" - so please wait with them.
Please add a description in the module on how to change the buttion-string.

[2021-01-13 07:10] rupareliyahemangi145 commented on #490
Ok Sure, @FredrikArvas

[2021-01-13 07:29] rupareliyahemangi145 commented on #490
Hello @FredrikArvas

Created PR https://github.com/vertelab/odoo-web/pull/31 for this issue.

Added module name on Save button and Added description in xml and js for one2many's kanban view's create button.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-01-13 19:56] iammiracle commented on #489
Hi @FredrikArvas

My findings this time is as follows;

* Using tab to navigate on the kanban view works well
* On the form view, when it is on readonly view (that is the edit button is not clicked on), the tab navigates from the edit button to the stages and then to the management team field, then goes back to the edit. The expected behavior is to move to the tabs before repeating the process
* O

[2021-01-14 10:38] Radhika435 commented on #476
Hi @rupareliyahemangi145
Hope you are doing great!
I need some small fixes in the dashboard development.
Step 1: I need  to import the welcome text etc to configure the dashboard to multiple users with the help of csv file check if this possible?
Step 2: Delete the selection of users  on the "Update my Dashboard configuration" see the picture below
![image](https://user-images.githubusercontent.co

[2021-01-15 05:52] iammiracle commented on #489
@FredrikArvas did you get this?

[2021-01-15 06:15] FredrikArvas commented on #489
Hi @iammiracle
Yes thanks.
Could you please record a simple video?

[2021-01-15 07:47] rupareliyahemangi145 commented on #476
Ok @Radhika435 I will check it.

[2021-01-15 10:53] rupareliyahemangi145 commented on #476
Hello @Radhika435  and @FredrikArvas

I have create PR https://github.com/vertelab/odoo-web/pull/35.

In this PR, I have updated code to delete users section from  "Update my Dashboard configuration" and added boxes based on user groups.

![update_boxes](https://user-images.githubusercontent.com/36560391/104715157-28e29100-574c-11eb-96b7-411ba72c001d.png)

I have to add new menu for all user's das

[2021-01-17 12:06] iammiracle commented on #489
Hi @FredrikArvas kindly view here - https://drive.google.com/file/d/1iTwdTit_du9_IJ2zVn9XmFGZQrf1DwL5/view?usp=sharing

The module seems to be showing error at this point, some updates must have been done

[2021-01-18 07:06] FredrikArvas commented on #489
Hi @iammiracle
We do updates on this system every day, so I think it would be solved if you use a new version of the code.

Here is a list of the requrired branches where the default branch is: Dev-12.0-Fenix-Sprint-02 in all Github-repos:

odooprojects=(

# Vertel
"odoo-account||https://github.com/vertelab/odoo-account.git"
"odoo-af||https://github.com/vertelab/odoo-af.git"
"odoo-api||https://git

[2021-01-18 08:13] Radhika435 commented on #476
Hi @rupareliyahemangi145
Can we take a meeting today to discuss about the functionality of the dashboard.
Please join the below link at 14:30 IST

https://meet.jit.si/af_project_fenix

Thanks,
Radhika

[2021-01-18 08:26] rupareliyahemangi145 commented on #476
Yes sure, @Radhika435

[2021-01-18 09:32] Radhika435 commented on #476
Hi @rupareliyahemangi145
For now please remove user option from Dashboard boxes
BR,
Radhika

[2021-01-18 09:37] rupareliyahemangi145 commented on #476
Ok @Radhika435

[2021-01-18 10:47] rupareliyahemangi145 commented on #476
Hello @Radhika435

I have created PR https://github.com/vertelab/odoo-web/pull/36 to prevent user selection from Dashboard boxes.
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-01-19 11:19] Radhika435 commented on #476
Hi @rupareliyahemangi145

1)The import functionality is not working as intended and showing a warning message that it cant be configured manually. Similar error when importing as well.
![image](https://user-images.githubusercontent.com/59916603/105025561-c809d000-5a4d-11eb-9fbb-21784666f30c.png)
2)I wanted to select the groups to configure the Dashboard and boxes but not through the users.
3)Now

[2021-01-19 12:02] rupareliyahemangi145 commented on #476
Hello @Radhika435

1)The import functionality is not working as intended and showing a warning message that it cant be configured manually. Similar error when importing as well.
- Export and import functionality is to update box details via xls or csv file. If you want to create boxes based on group then there is menu 'Add Items to multiple users'.

2)I wanted to select the groups to configure the

[2021-01-19 12:27] Radhika435 commented on #476
hi @rupareliyahemangi145
can we take the short call now

Link: https://meet.jit.si/af_project_fenix

BR,
Radhika

[2021-01-19 13:15] rupareliyahemangi145 commented on #476
Hello @Radhika435

Sorry I missed your comment. Please schedule call tomorrow.

[2021-01-19 14:21] Radhika435 commented on #476
Hi @rupareliyahemangi145

We can take a call tomorrow at 12:30 IST
Link: https://meet.jit.si/af_project_fenix

BR,
Radhika

[2021-01-20 04:46] rupareliyahemangi145 commented on #476
Ok @Radhika435

[2021-01-20 08:08] rupareliyahemangi145 commented on #476
Hello @Radhika435

Here is points we discussed in meeting.
1. Remove gray color from box. Add same color which is in background.
2. Remove border when user click on dashboard.
3. Need to update welcome data based on group separately.
4. Without title, subtitle, description don't allow gray box
5. Need to list groups and remove/add boxes based on group. So when new user create he/she can see boxes

[2021-01-20 08:09] Radhika435 commented on #476
Hi @rupareliyahemangi145
Could you please post the points that we discussed in our meeting

Thanks,
Radhika

[2021-01-25 09:41] Radhika435 commented on #476
Hej @rupareliyahemangi145 ¨
Hope you are doing great!
For the above points,
1 = ok
2 = ok
3 = ok
4 = ok
5 = ok
6 = excel-export is fine. I do not think this should be necessary, since the module should work with groups, not users. (not necessary)
Please do all the changes from 1 to 5 and 6 is not necessary

Got ok from client so you can start working on this.

FIY @FredrikArvas

Thanks & Best rega

[2021-01-25 12:08] rupareliyahemangi145 commented on #476
Ok @Radhika435 I will start work on 1 to 5.

[2021-01-25 14:48] fredrikarvas-vertel opened #500 "AFC-1710-fix_the_error_in-the_module_activity-field"
**Bugreport:** (only for Bug-Issues)
When I install the module activity_field we get different errors:
See comments in: https://github.com/vertelab/odoo-base/pull/227

**Module name:**
https://github.com/vertelab/odoo-base/tree/12.0-AFC-1710-addedActivity_field/activity_field

**Development Branch name:**
https://github.com/vertelab/odoo-base/tree/12.0-AFC-1710-addedActivity_field

**Target Branch

[2021-01-25 16:24] fredrikarvas-vertel commented on #500
I found the error and fixed it myself. Thanks

[2021-01-25 16:24] #500 closed, assigned to iammiracle

[2021-01-26 12:16] fredrikarvasarbetsformedlingen commented on #288
https://github.com/vertelab/odoo-af/tree/Dev-12.0/af_mail_client_employee

[2021-01-26 14:29] rupareliyahemangi145 commented on #476
Hello @Radhika435 and @FredrikArvas

I have create PR https://github.com/vertelab/odoo-web/pull/37 for following 5 points.

1. Remove gray color from box. Add same color which is in background.
2. Remove border when user click on dashboard.
3. Need to update welcome data based on group separately.
4. Without title, subtitle, description don't allow gray box
5. Need to list groups and remove/add bo

[2021-01-28 16:47] Radhika435 commented on #476
Hi @rupareliyahemangi145

1)Changes seems to be good but geeting some error messages when editing boxes especially pictures.
2)Cant edit the welcome text once created for groups need to create again.
3)Welcome text must be seen on all the groups along boxes but now its showing only for one group(latest given access to).

we will take a meeting before executing the above changes.

Are you available

[2021-01-29 04:35] rupareliyahemangi145 commented on #476
Hello @Radhika435

Yes I will available at 1:00 IST.

[2021-01-29 08:18] rupareliyahemangi145 commented on #476
@FredrikArvas  and @Radhika435

Here is points which we have discussed in meeting:
1. Groups in 'All users Dashboard Configuration' list.
2. Group dashboard boxes access error when changing language of user.
3. Need to add Welcome description field in Groups after Group name. So can add welcome description based on group instead of overwrite whole description.
For e.g., You have default descriptio

[2021-02-01 08:29] Radhika435 commented on #476
Hi @rupareliyahemangi145
you can start with the changes.

BR,
Radhika

[2021-02-01 08:54] rupareliyahemangi145 commented on #476
Ok @Radhika435

[2021-02-01 10:15] arturchilangwa-vertel commented on #490
Merged: https://github.com/vertelab/odoo-web/pull/31

[2021-02-01 14:10] fredrikarvasarbetsformedlingen opened #504 "AFC-1548 Please show where these items are found in the source"
**Userstory:**
As a developer, I want to see where I can find these lines of code.
![image](https://user-images.githubusercontent.com/63856803/106469224-5135f380-649f-11eb-95bf-db0e9d347575.png)

Please respond with a URL to each file on github.

**Estimate:** (@developers: Add your times here, not in comments please)
Estimated Hours:
Estimated Date:
Actual Hours: 1 Hour

[2021-02-01 14:11] fredrikarvas-vertel commented on #504
@timforsstromAF  and @jonasnyhav - Please add questions here if you have some.

[2021-02-02 05:43] rupareliyahemangi145 commented on #476
Hello @Radhika435  and @FredrikArvas

Create PR https://github.com/vertelab/odoo-web/pull/38 to solve following points.

1. Groups in 'All users Dashboard Configuration' list.
2. Group dashboard boxes access error when changing language of user.
3. Need to add Welcome description field in Groups after Group name. So can add welcome description based on group instead of overwrite whole description.

[2021-02-02 07:12] rupareliyahemangi145 commented on #504
Ok @fredrikarvas-vertel I will check it.

[2021-02-02 07:47] arturchilangwa-vertel commented on #476
@Radhika435 @FredrikArvas
I have not tested the functionality of https://github.com/vertelab/odoo-web/pull/38, but the code looked good and the module was successfully installed on my machine.

[2021-02-02 08:57] rupareliyahemangi145 commented on #504
Hello @fredrikarvas-vertel

Here I have attached file which contain source of items.
[issue_504_description.txt](https://github.com/vertelab/odoo-af/files/5909881/issue_504_description.txt)

Please check it and let me know if anything.
Thanks.

Regards,
Hemangi.

[2021-02-02 09:00] fredrikarvas-vertel commented on #504
Thanks @rupareliyahemangi145

[2021-02-02 09:00] #504 closed, assigned to rupareliyahemangi145

[2021-02-02 10:56] Radhika435 commented on #476
@arturchilangwa-vertel
Ok thank you Artur
I will take a look on the functionality

[2021-02-02 12:40] fredrikarvas-vertel opened #506 "AFC-1725 - enhance the News Letter template"
**Bugreport:** (only for Bug-Issues)
When I install the Newsletter-template, I see the template the first time, but when I click on "New Mass mail", I only see the old two templates.

![image](https://user-images.githubusercontent.com/61729317/106601533-0cbc5d80-655c-11eb-8a09-f669ccb642ef.png)
![image](https://user-images.githubusercontent.com/61729317/106601580-1ba31000-655c-11eb-99bc-200ef30398

[2021-02-02 12:41] #473 closed, assigned to rupareliyahemangi145

[2021-02-02 12:42] #458 closed

[2021-02-02 12:42] #457 closed

[2021-02-02 12:43] #268 closed

[2021-02-02 12:43] #397 closed

[2021-02-02 12:43] #422 closed

[2021-02-02 12:43] #425 closed

[2021-02-02 12:44] #488 closed, assigned to rupareliyahemangi145

[2021-02-02 12:44] #490 closed, assigned to rupareliyahemangi145

[2021-02-03 07:47] FredrikArvas opened #507 "AFC-1745 Refactor Automatic Customer Dialogue"
**Userstory:**
As a user, I want be able to use the customer automatic dialogue without the link to partner_daily_notes

**Old Module name:**
https://github.com/vertelab/odoo-af/tree/Dev-12.0/af_automatic_customer_dialogue

** New Module Names**
1 mail_autoresponder
(no dependency to partner_daily_notes)
2 mail_autoresponder_crm
(link to partner_daily_notes-model)
3 mail_autoresponder_dafa
(link t

[2021-02-03 08:15] rupareliyahemangi145 commented on #506
Hello @FredrikArvas

I have created PR https://github.com/vertelab/odoo-mail/pull/13 for this issue.

Here is screenshot of result:
![mass_mail_sample_template](https://user-images.githubusercontent.com/36560391/106717616-f7136a80-6625-11eb-8b1c-541d0923a26a.png)

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-02-05 07:28] FredrikArvas commented on #507
Please use the Dev-12.0-branch specified, not the Fenix-branches.
Thanks for asking!

[2021-02-05 09:31] iammiracle commented on #507
Hi @FredrikArvas you might need to check the links to the repo **odoo-mail**, the urls are not valid and I checked the branches in the repo, I dont think any of the repos have mail_autoresponder, mail_autoresponder_crm, and mail_autoresponder_dafa

[2021-02-05 09:46] FredrikArvas commented on #507
You are right.
I have clarified!
Thanks again for asking!

[2021-02-05 14:09] iammiracle commented on #507
Hi @FredrikArvas can you help me with the outplacement module?
So that the **mail_autoresponder_dafa** can depend on it.
-See comment below:

Also should **mail_autoresponder_dafa** depend on the **partner_daily_notes**
-No

[2021-02-05 14:43] fredrikarvas-vertel commented on #507
The modules are located here:
https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0-Fenix-Sprint-02
I have asked to merge the code to:
https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0
so for now, you can download the module outplacement and its dependent module https://github.com/vertelab/odoo-base/tree/Dev-12.0/partner_ssn

[2021-02-05 15:03] Radhika435 commented on #476
Hi @rupareliyahemangi145
Now a user who have access to "Admin Settings" and "My dashboard manger" are able to configure the dashboard.
Change it so that the user with "My dashboard manager" role can configure the dashboard.(all users who have My dashboard manger level"can configure the dashboard )

Also hide the following on the  Dashboard menu.
"All users Dashboard configuration"
"Add items to mu

[2021-02-05 15:33] iammiracle commented on #507
@FredrikArvas PR [created](https://github.com/vertelab/odoo-mail/pull/14)

[2021-02-06 05:51] rupareliyahemangi145 commented on #476
Hello @Radhika435
Need to hide following dashboard menus for all users? Even Admin Settings?
"All users Dashboard configuration"
"Add items to multiple users"
"Images"
"Dashboard configuration boxes"

I have question for We need to show 'My Dashboard Configuration' menu to users who has 'My Dashboard Manager' access. So user can see/edit only his dashboard configuration, right?

And Groups menu ne

[2021-02-08 08:51] fredrikarvas-vertel commented on #507
Hi Miracle,

We have looked and found these issues.

1 I do not want the partner_daily_notes to be part of the mail_autoresponder-module
![image](https://user-images.githubusercontent.com/61729317/107196299-c00cd280-69f2-11eb-9613-6ec58759c874.png)

![image](https://user-images.githubusercontent.com/61729317/107196436-e9c5f980-69f2-11eb-88e5-0e28cc732ff7.png)

2 I do not want the dependancy to af_

[2021-02-08 09:07] iammiracle commented on #507
Hi @FredrikArvas can you please help me with the URL for the outplacement module?

Then as for the menus you don't want to see, how do you intend on navigating to the app, this is not an extension of model, we created a new model for this

[2021-02-08 09:11] FredrikArvas commented on #507
Hi again,
The address to the Outplacement is here:
https://github.com/vertelab/odoo-outplacement/tree/Dev-12.0/outplacement

Sorry for the confusion,
Please make these modules "mail_autoresponder_crm" and
"mail_autoresponder_dafa" extensions of "mail_autoresponder"

Thanks
Fredrik

On Mon, 8 Feb 2021 at 10:07, Miracle Ayodele <notifications@github.com>
wrote:

--

_________________________________

[2021-02-08 10:01] iammiracle commented on #507
Hi @FredrikArvas can you please help me with the repo for this module **l10n_se_mis** and where you have **mis.report** model

[2021-02-08 10:21] fredrikarvas-vertel commented on #507
here is the module
https://github.com/vertelab/odoo-l10n_se/tree/Dev-12.0
https://github.com/OCA/mis-builder/tree/12.0/mis_builder

[2021-02-09 09:14] Radhika435 commented on #476
Hi @rupareliyahemangi145
we will take a call today, let me know your availability
Best regards,
Radhika

[2021-02-09 10:32] rupareliyahemangi145 commented on #476
Hello @Radhika435

We can call at 5:00 PM IST. after 1 hour.

[2021-02-09 11:28] iammiracle commented on #507
[PR](https://github.com/vertelab/odoo-mail/pull/15) created

[2021-02-09 12:20] Radhika435 commented on #476
Hi @rupareliyahemangi145
Sorry just saw your message
can we take now?
Link : https://meet.jit.si/af_project_fenix

BR,
Radhika

[2021-02-09 13:55] rupareliyahemangi145 commented on #476
Hi @Radhika435

Sorry I missed your message. Schedule meeting tomorrow. Except between 11 AM to 1 PM IST. Otherwise I will be available at 10 to 11 AM IST, 1 PM to 7 PM IST.

[2021-02-09 14:24] Radhika435 commented on #476
Hi @rupareliyahemangi145

we can take at 1 pm IST tomorrow
Link : https://meet.jit.si/af_project_fenix

BR,
Radhika

[2021-02-10 04:43] rupareliyahemangi145 commented on #476
Ok @Radhika435

[2021-02-10 07:52] rupareliyahemangi145 commented on #476
Hello @Radhika435

Here things which we have discussed on meeting:
If user has not Dashboard manager group then need to show only start page.There will be no menu.
If use has Dashboard manager then need to show **Groups**, **My Dashboard Configuration**, **All users Dashboard configuration** and **Update welcome data**.Need to hide **Add item to multiple user**, **Images** and **Dashboard boxes co

[2021-02-10 07:59] Radhika435 commented on #476
Yes @rupareliyahemangi145
Please proceed .

[2021-02-10 08:11] rupareliyahemangi145 commented on #476
Ok @Radhika435

[2021-02-10 08:29] #507 closed, assigned to iammiracle

[2021-02-11 10:28] rupareliyahemangi145 commented on #476
Hello @Radhika435

I have created PR https://github.com/vertelab/odoo-web/pull/42 for menu changes.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-02-11 10:33] rupareliyahemangi145 commented on #476
@Radhika435 Here is video to show changes:
https://www.loom.com/share/91d64013c2e04dafae8f21913ca4c162

Thanks.

Regards,
Hemangi

[2021-02-12 17:19] fredrikarvas-vertel opened #511 "AFC-1745 - Enhancements to Autoresponer-module."
1
**Userstory:**
As a user, I want to read the description text and understand how the module works.

In this case, the description-text of the mail_autoresponder-moduler refers to Daily-Notes-arguments. These should be in the mail_autoresponder_crm-module (only).

Please update this modules description:
https://github.com/vertelab/odoo-mail/edit/Dev-12.0/mail_autoresponder/static/description/inde

[2021-02-13 19:33] iammiracle commented on #511
Hi @FredrikArvas

I don't understand this:

**mail_autoresponder**
res_partner:create_date (base)

**mail_autoresponder_crm**
res_partner.customer_since (partner_view_360)
res_partner.deactualization_date (partner_view_360)
res_partner.last_contact_date (partner_daily_notes)
res_partner.next_contact_date (partner_daily_notes)

If there is no time, the hours reminder wont work, unless I remove the

[2021-02-14 09:08] fredrikarvas-vertel commented on #511
Hi
thanks for asking.

I am not sure I answer the right question. But I will try.
1 At this point, I do not see any need to keep track of hourly reminders, it is enough with dates.
Example: A Contact has a registration date of Jan 1st. We start the autoresponder Jan 10th. Then there will be the first email will be sent Jan 11th (some time after at 00:00).
Then a new registration is created in the

[2021-02-14 12:39] iammiracle commented on #511
Hi @FredrikArvas

[PR Created](https://github.com/vertelab/odoo-mail/pull/18)

[2021-02-15 10:07] fredrikarvas-vertel commented on #511
Hi @iammiracle
1 I have installed the mail_autoresponder allright.
Please adjust so the calculation is based on the field that is listed in the line.
![image](https://user-images.githubusercontent.com/61729317/107937359-1c886880-6f84-11eb-90f1-a209a33e6bb5.png)

2 I get an error with the mail_autoresponder_crm

File "/opt/af/odoo/odoo_crm/odoo-server-crm/odoo/fields.py", line 571, in _setup_relate

[2021-02-16 12:01] nils-vertel commented on #476
Merged: https://github.com/vertelab/odoo-web/pull/42

[2021-02-16 16:06] iammiracle commented on #511
@FredrikArvas [ PR created](https://github.com/vertelab/odoo-mail/pull/19)

[2021-02-22 16:32] FredrikArvas opened #513 "AFC-1818 - Enhancement of partner_mail_client"
**Userstory:**
As a user, I want see all messages to and from an employee in a tab
![image](https://user-images.githubusercontent.com/9428370/108737980-66002700-7533-11eb-9c9c-cfe63e800b41.png)

As a user, I want see all messages to and from a res-partner in a tab
![image](https://user-images.githubusercontent.com/9428370/108738839-4f0e0480-7534-11eb-9566-bb7f1b51f3bc.png)

**Please add three secu

[2021-02-24 15:55] iammiracle commented on #513
@FredrikArvas Here are the PRs - [HR Mail Client](https://github.com/vertelab/odoo-hr/pull/64) and [Partner Mail Client](https://github.com/vertelab/odoo-base/pull/255)

[2021-02-25 12:05] Radhika435 commented on #476
Hi @rupareliyahemangi145
Do you have time for a call now or later today?
Please reply soon and use the below link for a meeting.

Link : https://meet.jit.si/af_project_fenix

Thanks & best regards,
Radhika thadivaka

[2021-02-25 12:15] rupareliyahemangi145 commented on #476
Hi @Radhika435

Yes Let's connect.

[2021-02-25 12:17] Radhika435 commented on #476
@rupareliyahemangi145
please join the link

[2021-02-25 12:25] Radhika435 commented on #476
Hi @rupareliyahemangi145
Could you share your number here?

[2021-02-25 12:43] rupareliyahemangi145 commented on #476
Hello @Radhika435

I understood that If you have added boxes in 3 groups with same description and use is assigned with these 3 groups then use can see duplicate boxes on Dashboard.

Let me investigate about it. I will get back to you soon with suggestion.

Thanks.

Regards,
Hemangi.

[2021-02-25 13:07] rupareliyahemangi145 commented on #476
Hello @Radhika435

Can we connect again? I found one solution and want show you.

[2021-02-25 14:05] rupareliyahemangi145 commented on #476
Hello @Radhika435
I will discuss with Anil tomorrow and get back to you soon.

Regards,
Hemangi.

[2021-02-26 09:52] rupareliyahemangi145 commented on #476
Hello @Radhika435

I have created PR https://github.com/vertelab/odoo-web/pull/47 to solve duplicate issue.

Here is some videos to show it:
https://www.loom.com/share/4c53b1234deb4743bf2a457db99a3409
https://www.loom.com/share/f06dde556584450293b85bf2f862686b
https://www.loom.com/share/206b893fbaa64f8aa033f7e7383268c2

Please test it from your side and let me know if anything.

Thanks

Regards,
H

[2021-02-26 13:19] Radhika435 commented on #476
Hi @rupareliyahemangi145
Your first video is paused in the middle so unable to see the total functionality.
could you resend the video once again.

Best regards,
Radhika

[2021-02-26 14:30] rupareliyahemangi145 commented on #476
Hello @Radhika435

I will send you new video tomorrow.

[2021-02-27 05:18] rupareliyahemangi145 commented on #476
Hello @Radhika435

Here is new video:
https://www.loom.com/share/3697fab243ca47c6941ac557e419df07

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi

[2021-03-01 09:37] Radhika435 commented on #476
Hello @rupareliyahemangi145

Could you please this bug as wll with welcome text that i mentioned in the call.
![image](https://user-images.githubusercontent.com/59916603/109478912-1b723380-7a7a-11eb-873a-fc2e8cc4b104.png)

BR,
Radhika

[2021-03-01 12:19] rupareliyahemangi145 commented on #476
Hello @Radhika435

I have create PR https://github.com/vertelab/odoo-web/pull/48 to prevent duplicate and for translation.

I have added translation inside po file for mentioned screenshot. So upgrade module with latest code and load translation from Setting >> Translation >> Load a Translation.

And for **Welcome** I didn't found way to translate it from po file because It is a default data of fi

[2021-03-02 11:11] rupareliyahemangi145 commented on #476
Hello @Radhika435

I have pushed code for server action to update welcome message. Created new commit in same PR https://github.com/vertelab/odoo-web/pull/48.

Server action name is **Update Welcome String**.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi

[2021-03-02 12:04] rupareliyahemangi145 commented on #476
Hello @Radhika435

Here is video for above commit.
https://www.loom.com/share/62772fc7323446178deab41bbc77218a

Thanks.

Regards,
Hemangi.

[2021-03-09 20:52] fredrikarvas-vertel commented on #513
Merged for continued testing

[2021-03-09 20:52] #513 closed, assigned to iammiracle

[2021-04-06 07:11] #511 closed, assigned to iammiracle

[2021-04-06 07:12] #489 closed, assigned to iammiracle

[2021-04-06 07:12] #470 closed, assigned to iammiracle

[2021-04-06 07:14] #483 closed, assigned to iammiracle

[2021-04-09 13:48] fredrikarvas-vertel opened #527 "AFC-2063 - Lift this module mail_browser_view to v12"
**Userstory:**
As a news-letter-user, I would like to see a link to the newsletter with my web-browser.

Upgrade this module:
https://github.com/OCA/social/tree/11.0/mail_browser_view
to version 12.

**Module name:** (added by Nils or Fredrik)
odoo-mail/mail_browser_view

**Development Branch name:**
Dev-12.0-CRM-AFC-2063_mail_browser_view

**Target Branch name:**
https://github.com/vertelab/odoo-

[2021-04-09 20:30] fredrikarvas-vertel commented on #527
@AnilKesariya or @rupareliyahemangi145 do you have time to lift this module before Monday (or explain if there is a similar function in Odoo v!2 CE.

[2021-04-11 08:46] fredrikarvas-vertel commented on #527
Thanks @iammiracle for lifting the module. I can test this on my dev-server tomorrow.

[2021-04-11 08:47] fredrikarvas-vertel commented on #527
Give the link to the PR here as usual.

[2021-04-11 11:42] iammiracle commented on #527
@FredrikArvas here is the [PR](https://github.com/vertelab/odoo-mail/pull/32)

[2021-04-12 15:18] fredrikarvas-vertel opened #529 "AFC-2078 - Change to workdays and send email based on individuals registration date"
1 Change Display in the Kanban-view to:
![image](https://user-images.githubusercontent.com/61729317/114416956-7a66b480-9bb1-11eb-87bb-6376d7d25523.png)

2 Change calculation to workdays.
![image](https://user-images.githubusercontent.com/61729317/114418863-3674af00-9bb3-11eb-8b94-9099f6b16b6d.png)

3 Change the send logic to send individual emails each day to all recipients that match the criteria

[2021-04-12 15:37] fredrikarvas-vertel commented on #527
Hi Miracle,
I have tested this module and it works as specified!

I wonder if you can see if we can change the "magic tag" or add a second one like this:

This line of code triggers the "display link": <a href="#" class="view_in_browser_url">View this mail in browser</a>

I would like to be able to use an other trigger than "#". Maybe #browser_url or similar.
I think this is calculated here: https

[2021-04-13 12:29] iammiracle commented on #529
@FredrikArvas

Starting from the last point, the emails sent to a contact for the criteria is not repeated. That is email is not sent to the partner again. That seems to be sorted already.

Point 2: What I am not clear of is the workdays. Do you intend on removing weekends, that is calculation should be based on week days or work days, meaning holidays will be considered, or you just want me to ch

[2021-04-13 12:39] fredrikarvas-vertel commented on #529
Point 2: Weekdays is fine to start with.

Point 1: Count of Sample is fine (in the image above it is 35 records)

[2021-04-13 13:12] iammiracle commented on #529
Does it mean number of partner records?

[2021-04-13 17:00] fredrikarvas-vertel commented on #529
Yes for that "event"

[2021-04-14 08:39] Radhika435 opened #530 "AFC-2067 - improve the mass mailing template for AF"
1) Customize the mailbox widgets so that it appears like the "Af's" default widgets.

![image](https://user-images.githubusercontent.com/59916603/114684154-ef9ccb80-9d10-11eb-84cd-b1b50118e10f.png)

2) Adjust the mass-mail box widgets as shown in the figure below.

![image](https://user-images.githubusercontent.com/59916603/114678982-0c82d000-9d0c-11eb-87a9-1f4864a2cf9e.png)

Create a module for t

[2021-04-14 10:26] fredrikarvas-vertel commented on #530
Hi @rupareliyahemangi145
We have two options here:
1 adjust the existing email template to match the colours etc above.
2 adjust Odoos mass-mailing-widgets to match the colours etc above.
Could you please have a look and give an estimate?
/Fredrik

[2021-04-14 11:05] rupareliyahemangi145 commented on #530
Hello @FredrikArvas

Do I need to add **Pre Header**, **Header**, **Full with image** each sections(which are in 2nd image) as snippet(In left side)?

![mail_template](https://user-images.githubusercontent.com/36560391/114700104-b9764080-9d3e-11eb-9d7b-a37279dc447e.png)

So user just need to take it from left side. It like for now there is one snippet **Left Logo** - Which is for Image and some so

[2021-04-14 11:07] fredrikarvas-vertel commented on #530
Yes please, if this is possible, it would be useful.
/Fredrik

[2021-04-14 11:09] rupareliyahemangi145 commented on #530
Ok Thanks @FredrikArvas Let me check possibility.

[2021-04-14 11:24] rupareliyahemangi145 commented on #530
Hello @FredrikArvas

I have checked possibility. Yes it is possible. Need to add 9 snippets as in image there is 9 sections.

Time estimation for this is near about 6 to 7 hours. Because need to create template for each snippet and need to add those in exiting template.

Please check it and let me know.

Thanks.

Regards,
Hemangi.

[2021-04-14 11:33] FredrikArvas commented on #530
Yes,
Please proceed.
/Fredrik

On Wed, 14 Apr 2021 at 13:24, rupareliyahemangi145 ***@***.***>
wrote:

--

______________________________________________________________

Fredrik Arvas, ***@***.***
Send PGP-encrypted messages to me: https://flowcrypt.com/me/fredrikarvasse
///handduken.arbetade.rymd (exakt adress med what3words)
Lillebovägen 13, 132 36 Saltsjö-Boo, Sweden
Mobil: +46708145595
Webb <

[2021-04-14 11:34] rupareliyahemangi145 commented on #530
Ok Sure, Thanks @FredrikArvas

[2021-04-14 18:29] iammiracle commented on #529
@FredrikArvas [PR Created](https://github.com/vertelab/odoo-mail/pull/34)

[2021-04-15 11:53] fredrikarvas-vertel commented on #529
Hi @iammiracle
It worked one step better. But when I run the scheduler. I get this:

Odoo Server Error
Traceback (most recent call last):
  File "/opt/af/odoo/odoo_crm/odoo-server-crm/odoo/tools/safe_eval.py", line 352, in safe_eval
    return unsafe_eval(c, globals_dict, locals_dict)
  File "", line 1, in <module>
  File "/opt/af/odoo/odoo_crm/src/odoo-mail/mail_autoresponder/models/partner_event

[2021-04-15 12:26] iammiracle commented on #529
Are you sure the field interval_nbr on the lines has a value?

[2021-04-15 13:07] fredrikarvas-vertel commented on #529
I changed the sample to a sample where all records had a date and got a new error.
(please add a "skip" funktion if the date-field is empty)

  File "/opt/af/odoo/odoo_crm/src/odoo-mail/mail_autoresponder/models/partner_event.py", line 126, in before_event
    if week_day_date[-1].strftime("%Y-%m-%d") == today_date:
ValueError: <class 'IndexError'>: "list index out of range" while evaluating
'mode

[2021-04-15 13:54] rupareliyahemangi145 commented on #530
Hello @FredrikArvas and @Radhika435

I have worked on this issue and here is video to show things which are done.
https://www.loom.com/share/6969722faeb24a64b7d784a58326a2e3

Do you have Html for each section? So I can apply same style for each section.

Please check video and let me know your comments. So tomorrow I will create PR with comments if any.

Thanks.

Regards,
Hemangi.

[2021-04-15 14:47] fredrikarvas-vertel commented on #530
This is a great start.

Please make a PR and we can test it on our side as well.

@Radhika435 - could you please ask for the html-link to the new APSIS-template and give that to Hemangi?

[2021-04-15 15:18] Radhika435 commented on #530
@FredrikArvas
@rupareliyahemangi145
Here is the html link to APSIS template
https://www.anpdm.com/public/Editor4PreviewPublic.anp/Show/41455D43774747504078414259?ns=5D4A584770414A5B4A78404A5A4B7040465E4379

[2021-04-15 15:27] fredrikarvas-vertel commented on #530
Thanks @Radhika435 - very good!

[2021-04-16 04:44] rupareliyahemangi145 commented on #530
Thanks @Radhika435 this link will help a lot.
@FredrikArvas  and @Radhika435 I will create PR for current version. Then I will update style using APSIS template.

[2021-04-16 04:59] rupareliyahemangi145 commented on #530
Hello @FredrikArvas and @Radhika435

I have created PR https://github.com/vertelab/odoo-mail/pull/35 for first version.

[2021-04-16 07:43] Radhika435 opened #531 "AFC-2100a - Follow up for emails sent in autoresponder and massmail"
As a user I wanted to create the report for the newsletter sent to Job seekers.

We want the report to show the following.

**massmailing-module**
1 Please change the kanban-view to:
![image](https://user-images.githubusercontent.com/61729317/116044442-35428800-a671-11eb-9f65-ce40b8f1a530.png)

**Module name:**
odoo-mail/mail_massmailing_statistics_af

**Development Branch name:**
Dev-12.0-CRM-AFC

[2021-04-16 07:50] rupareliyahemangi145 commented on #530
Hello @FredrikArvas  and @Radhika435

I have updated HTML and pushed code in same PR.

Here is latest video:
https://www.loom.com/share/4c295be72eb94e0a953196a98f2cb6f9

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-04-16 08:00] rupareliyahemangi145 commented on #530
@FredrikArvas I have spent 7 hours and 40 mins in development for this issue. I have given estimation of 6-7 hours but styling has taken 40 mins more. I have updated spent time in issue detail.

[2021-04-16 11:14] fredrikarvas-vertel commented on #530
Thanks, We will test it today.
/Fredrik

[2021-04-16 11:15] rupareliyahemangi145 commented on #530
Ok Thanks @FredrikArvas

[2021-04-16 11:34] fredrikarvas-vertel commented on #529
@iammiracle  Please tell me when you have time to look at this error. I can share my screen if that helps.

[2021-04-16 16:10] iammiracle commented on #529
Hi @FredrikArvas I found out the issue. I have made the correction.

[2021-04-19 15:42] fredrikarvas-vertel commented on #529
@iammiracle
The workdays looks right now. And I get no error-messages (but I do not see any emails either).

[Autoresponder_troubleshooting.pdf](https://github.com/vertelab/odoo-af/files/6337300/Autoresponder_troubleshooting.pdf)

I have added some images two which I would like some instructions on the trouble shooting.
[Autoresponder_troubleshooting.zip](https://github.com/vertelab/odoo-af/files/

[2021-04-19 15:43] fredrikarvas-vertel commented on #529
Please add a view for emails sent for each segment.
Columns:
"Autoresponder-name", "Email-template", "res_partner.name", "res_partner.email", Sent Date, "No of Workdays", "Before/After", "Field", "Status",

Please add import/Export functionality to this table.

[2021-04-21 11:36] fredrikarvas-vertel commented on #529
@AnilKesariya  - I think I need to explain this to you. I just need to find time to do it. Maybe tomorrow morning
07:00 Wednesday, Central European Time (CET)  / 10:30 Wednesday, Indian Standard Time (IST)

[2021-04-22 05:40] AnilKesariya commented on #529
@fredrikarvas-vertel : I've  noticed that one PR is not merged to Dev-12.0, from this branch Dev-12.0-CRM-AFC-2078-Imp-Autoresponder, which is submitted 6 days ago. Do I need to clone Dev-12.0 with existing status or you want to merge that changes first?

Regards,
Anil

[2021-04-22 07:55] fredrikarvas-vertel commented on #530
I have merged the PR now and @Radhika435  will come back with improvements.

[2021-04-22 08:05] rupareliyahemangi145 commented on #530
Ok @FredrikArvas

[2021-04-23 05:31] AnilKesariya commented on #529
https://www.loom.com/share/c90042c907a0443f93330750217d3bde
https://www.loom.com/share/09ce162bdda042c2aec1059f1c060e6c

Hi Fredrik, I've tested with fields applied on schedule line, checked on both type of field date and datetime and done some improvements and pushed the code.

[2021-04-23 06:12] Radhika435 commented on #530
Hi @rupareliyahemangi145 ,
Hope all is well !
I have tested the mail template and the quality is not up to the mark comparatively with the existing Apsis template
I am attaching the pictures of both the templates to compare and to improve the quality.

Picture 1 shows the mail template that you developed.
![image](https://user-images.githubusercontent.com/59916603/115826366-180c8000-a40b-11eb-99e8

[2021-04-23 06:32] rupareliyahemangi145 commented on #530
Ok @Radhika435  I will work on it.

@FredrikArvas Do you I need to give estimation to improve quality of template? I have given 6-7 hours estimation for this. But as We need same quality as Apsis template I need more hours. As I need to take all css and HTML from that template.

Please let me know. So I can start work on this.

Thanks.

Regards,
Hemangi.

[2021-04-23 06:33] fredrikarvas-vertel commented on #530
Hi Hemangi,
I do not need estmate on this.
Do you use the CSS-template our developer Anders have made?

[2021-04-23 06:34] rupareliyahemangi145 commented on #530
Hello @FredrikArvas

No I didn't used.

[2021-04-23 06:35] fredrikarvas-vertel commented on #530
Please try to use that as much as possible, since it will be a lot easier to maintain.

[2021-04-23 06:36] rupareliyahemangi145 commented on #530
Where I can find that template?

[2021-04-23 06:36] fredrikarvas-vertel commented on #530
https://github.com/vertelab/odoo-web/tree/Dev-12.0/web_backend_theme_af

[2021-04-23 06:37] rupareliyahemangi145 commented on #530
Ok Thanks @FredrikArvas

[2021-04-23 11:28] rupareliyahemangi145 commented on #530
Hello @FredrikArvas  and @Radhika435

I have updated code to improve quality of mail template. Here is PR for that https://github.com/vertelab/odoo-mail/pull/37.

Video link to show result:
https://www.loom.com/share/de475fd9978a490190de61ea082ed00e

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-04-23 13:57] AnilKesariya commented on #529
HI @FredrikArvas

I've pushed the code for email rich body that can allow use to chose website snippet on email template code is pushed on same branch

Here is the video link

https://www.loom.com/share/4da0452e6f9f4a7897f1ea7f3a0ee7b8

Regards,
Anil

[2021-04-23 16:04] fredrikarvas-vertel commented on #529
Great!
Thank you!

[2021-04-23 16:09] fredrikarvas-vertel commented on #529
https://github.com/vertelab/odoo-mail/pull/38

[2021-04-24 04:23] fredrikarvas-vertel opened #535 "AFC-2142 - add a message box with "login reason" when a user log in to Odoo"
**Userstory:**
As an security auditor, i want each user (in certain groups) to give a mandatory reason for loggin in to odoo, as part of the login-screen, because it should be easy to follow up afterwards.

**New**
1 Make "login_reason" required only for users with: "odoo_base_login.show_login_reason"-group.
Otherwise this might make a conflict with the SAML SingleSignOn module.

2 Make the reason

[2021-04-24 08:30] fredrikarvas-vertel commented on #530
@rupareliyahemangi145

It looks better now.
I have some more adjustments:

- Please change Apsis%20Newsletter%20Pro_files/pixel.gif to something else.
- Please change ##SubscriberEmail## to the email-recipient
- Please add the new snippets in a separate group before the current "Header" group.
-
![image](https://user-images.githubusercontent.com/61729317/115952738-0e0c7f00-a4e8-11eb-8a9c-8c23d59c3

[2021-04-24 08:30] fredrikarvas-vertel commented on #530
I have merged the last PR. Please create a new branch when you do these fixes.

[2021-04-24 08:32] rupareliyahemangi145 commented on #530
Ok Sure @FredrikArvas

[2021-04-24 08:58] fredrikarvas-vertel commented on #530
An other question. Did you import the css files from the web_backend_theme-module, or did you link to them?

It is important that we link, rather then store the same code in different modules. (But do not know how to do this...)

[2021-04-24 09:03] rupareliyahemangi145 commented on #530
No I didn't imported css files from web_backend_theme module. I have imported CSS files of Apsis Html template.

But why we need to import web_backend_theme module's css in this module as I have already imported template css?

[2021-04-24 09:07] rupareliyahemangi145 commented on #530
If there is same CSS then we can do one thing. We can add web_backend_theme in manifest of this module. So this module will be depend on web_backend_theme. And need to remove same CSS from this module.

[2021-04-24 09:10] rupareliyahemangi145 commented on #530
Is it ok if this module will depend on web_backend_theme?

[2021-04-24 09:30] FredrikArvas commented on #530
yes please.
This will be perfect.
And if we need special css that is only used in the email-module, then
please add it to the email-module.
/Fredrik

On Sat, 24 Apr 2021 at 11:10, rupareliyahemangi145 ***@***.***>
wrote:

--

______________________________________________________________

Fredrik Arvas, ***@***.***
Send PGP-encrypted messages to me: https://flowcrypt.com/me/fredrikarvasse
///handd

[2021-04-24 09:31] rupareliyahemangi145 commented on #530
Ok Sure @FredrikArvas

[2021-04-24 11:21] rupareliyahemangi145 commented on #530
Hello @FredrikArvas,

I've create new PR https://github.com/vertelab/odoo-mail/pull/40.

Done following adjustments:
1. Please change Apsis%20Newsletter%20Pro_files/pixel.gif to something else.
- Added pixel.gif with odoo path. src="/mass_mailing_editor_af/static/src/img/blocks/pixel.gif"
2. Please change ##SubscriberEmail## to the email-recipient
- Changed  '##SubscriberEmail##' to 'email-recipie

[2021-04-24 14:01] fredrikarvas-vertel commented on #530
The changes works fine with one exception.

When the module is installed.
Then the "menu" to "Settings" get's it's URL changed:
From normal:
http://172.16.42.112:8069/web#action=77&menu_id=4
To (non working)
http://172.16.42.112:8069/web#menu_id=4
(I can not use the normal working meny with the module installed).

Thanks for looking into this.
/Fredrik

[2021-04-24 14:06] fredrikarvas-vertel commented on #530
I got an other problem when sending the email:

In the email-que I get this error message:
The requested operation cannot be completed due to security restrictions. Please contact your system administrator.
(Document type: Message, Operation: read) - (Records: [4218], User: 2)
![image](https://user-images.githubusercontent.com/61729317/115961503-f698ba80-a516-11eb-97f9-4fdc32a88aad.png)

[2021-04-24 14:30] fredrikarvas-vertel commented on #530
The blue background is not displayed in the snippets on the server.
Is that a html-color or an background image?
![image](https://user-images.githubusercontent.com/61729317/115962166-5b094900-a51a-11eb-82f0-0ca22c4bffe1.png)

[2021-04-24 15:38] #476 closed, assigned to FredrikArvas, rupareliyahemangi145

[2021-04-24 15:41] fredrikarvas-vertel opened #536 "AFC-2144 - set up central admin of Dashboard-messages."
**Userstory:**
As a user, I want the DAFA Dashboard messages to be downloaded from a server

Is this config correct on each slave-server when syncronizing the DAFA Dashboard from one master-server?
![image](https://user-images.githubusercontent.com/61729317/115964116-251c9280-a523-11eb-9e83-20cf3955f301.png)

Is there a chron-job in the syncornize-module?
I do not see one here, but it might run el

[2021-04-25 17:14] Radhika435 commented on #531
@FredrikArvas could you please review it.

[2021-04-26 04:43] rupareliyahemangi145 commented on #536
@FredrikArvas I will check this issue.

[2021-04-26 04:44] rupareliyahemangi145 commented on #530
@FredrikArvas I will check all points and get back to you soon.

[2021-04-26 05:10] rupareliyahemangi145 commented on #530
Hello @FredrikArvas ,

I have fixed setting URL issue in my system. For blue background color, it is HTML-Color not background image.

Can you please give me server credential so can test there why background color doesn't work? Then I will push code for both issue.

Thanks.

[2021-04-26 05:34] fredrikarvas-vertel commented on #530
@rupareliyahemangi145
Could you please push the changes you have made, and I can test them. Then if you can within the next 30 min, then we can connect with Google Meet to see my dev-server (inside the clients network) to find the issue with the blue-background.
/Fredrik

[2021-04-26 05:36] rupareliyahemangi145 commented on #530
Ok Sure @FredrikArvas Let me push changes. And yes we can connect in next 30 min.

[2021-04-26 06:00] rupareliyahemangi145 commented on #530
@FredrikArvas https://github.com/vertelab/odoo-mail/pull/41 Created PR to fix setting menu URL issue.

Please check it and let me know if anything.

Thanks.

[2021-04-26 08:04] fredrikarvas-vertel commented on #531
@rupareliyahemangi145 @AnilKesariya
I have now updated this issue.
Should we separate it into two one for statistics of the modules we have, and one for the "website"-statistic features?

[2021-04-26 08:16] rupareliyahemangi145 commented on #531
@FredrikArvas I think for now it is ok.

[2021-04-26 09:20] rupareliyahemangi145 commented on #530
Hello @FredrikArvas

I've fixed background color and font issue when email load in Gmail. Here is PR for that https://github.com/vertelab/odoo-mail/pull/42.

For image I have researched and read some blogs related to odoo & gmail, I found that issue is related with domain.
Even when I am sending odoo base mass mail template image is not loading in Gmail.

Gmail will not load images form insecure d

[2021-04-26 09:48] rupareliyahemangi145 commented on #536
Hello @fredrikarvas-vertel

No there no cron in sync module. There is menu inside Setting >> General Setting >> Synchronization >> Synchronize. Where you have to select Instance and it will sync all active objects of that instance.

I am bit confused what you need in this issue. Af dashboard and Dashboard boxes are not syncing when you click on Synchronize button? Or you need Cron job that will sy

[2021-04-26 10:07] fredrikarvas-vertel commented on #530
We will have a secure domain when we go in production.
Thanks

[2021-04-26 10:27] rupareliyahemangi145 commented on #530
Ok @FredrikArvas

Thanks.

[2021-04-27 06:17] AnilKesariya commented on #535
@fredrikarvas-vertel : Can we discuss over the call this issues before I  do estimate hours?

[2021-04-27 07:01] Radhika435 opened #537 "AFC-2154 Dashboard is not updating New name of the employee"
**Userstory:**
As a user, I want to see the new name of the employee in the configuration view.

Step 1: When a user change the name of the employee to the new name, old name is still visible on the configuration page of the dashboard.
![image](https://user-images.githubusercontent.com/59916603/116197622-43f27300-a735-11eb-9140-eebfad529575.png)

Step 2: Add a server action that allows you to upda

[2021-04-27 13:35] rupareliyahemangi145 commented on #531
Hello @FredrikArvas

Today I have worked on two points from this issue.

1. Added counter on kanban and form view.Its not fully completed I have just added in Mass mailing for one field for now)

**Kanban For Opened email tracking.**
![kanban](https://user-images.githubusercontent.com/36560391/116249457-7aa6a880-a78a-11eb-895a-8047631f4295.png)
 = OK

**Form view for Received email tracking**
Can

[2021-04-28 06:03] fredrikarvas-vertel opened #538 "AFC-2078b Autoresponder improved logic"
1
Change the name of ther "after the event" to "after the event (exakt match)"
Add "after the event" to "after the event (greater then match) "
and
Change the name of ther "before the event" to "before the event (exakt match)"
Add "before the event" to "before the event (greater then match) "

2 Please change logic for the of the "Sent"-icon to calculate with the **contact**, not the email.

3 Add

[2021-04-28 07:50] rupareliyahemangi145 commented on #531
Hello @FredrikArvas

Can we arrange meeting to discuss this issue? I have some questions to discuss with you.

Thanks.

Regards,
Hemangi.

[2021-04-28 08:33] fredrikarvas-vertel commented on #531
Yes,
It is 10:30 here now. Could we make it in 90 or 120 minutes
12:00 or 12:30 CET
I think that is 16:30 or 17:00 IST

[2021-04-28 08:34] rupareliyahemangi145 commented on #531
Yes Sure @FredrikArvas We will connect at 16:30 or 17:00 IST.

[2021-04-28 09:30] fredrikarvas-vertel commented on #531
Let's try 16:30

[2021-04-28 09:31] rupareliyahemangi145 commented on #531
Ok @FredrikArvas

[2021-04-28 09:33] rupareliyahemangi145 commented on #531
I am available from now to 7:00 PM IST. You can schedule meeting whenever you can.

[2021-04-28 09:58] FredrikArvas commented on #531
https://meet.google.com/wkr-vrtz-iii

On Wed, 28 Apr 2021 at 11:33, rupareliyahemangi145 ***@***.***>
wrote:

--

______________________________________________________________

Fredrik Arvas, ***@***.***
Send PGP-encrypted messages to me: https://flowcrypt.com/me/fredrikarvasse
///handduken.arbetade.rymd (exakt adress med what3words)
Lillebovägen 13, 132 36 Saltsjö-Boo, Sweden
Mobil: +46708145595

[2021-04-28 10:00] rupareliyahemangi145 commented on #531
Let me join Fredrik

[2021-04-28 10:17] fredrikarvas-vertel opened #539 "AFC-2100b - Autoresponder Delivered Opened Clicked"
**Autoresponder-module**

1 Please make the Autoresponder-header bold
![image](https://user-images.githubusercontent.com/61729317/116044873-b9950b00-a671-11eb-9206-4aa114d4a8bf.png)

Add
1) Count on mails - Sent, delivered, opened (by mail recipients),
    Count on mails - recipients clicked and opened the link, replied
    Count on mails - expired [Radhika - please explain more]
![image](https://

[2021-04-28 10:18] fredrikarvas-vertel opened #540 "AFC-2100c - Email matomo statistics"
Add a code snippet called "Matomo"

 2) If possble add information of the each client/device for example Windows, Mac, Iphone, Android where the
     recipient has logged in to read/open /checked the mail from.
3) Show the geographical location of the recipient (where he have opened the mail )
4) Date and time (When the recipient read the mail)
5) Count of how many times the mail is clicked again/

[2021-04-28 10:29] rupareliyahemangi145 commented on #540
Hello @fredrikarvas-vertel

Which email service clients are using Gmail, Outlook or any other?

[2021-04-28 11:18] rupareliyahemangi145 commented on #531
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-mail/pull/43 for email marking statistics.
Here is screenshots of results.

![mail_form_view](https://user-images.githubusercontent.com/36560391/116395213-76899200-a841-11eb-8621-2fe5d4c9d0d3.png)

![mail_kanban](https://user-images.githubusercontent.com/36560391/116395231-7c7f7300-a841-11eb-982e-f163453955b2.png)

Please check i

[2021-04-28 16:07] fredrikarvas-vertel opened #541 "AFC-1851_Monitoring-value"
**Userstory:**
As a user, I want to see the our internal odoo-server-build-number without logging in to Odoo.

Please insert the value from the text-file:
monitoring_status_af/static/description/version.txt

in line 32 here:
/monitoring_status_af/controllers/main.py#L36

![image](https://user-images.githubusercontent.com/61729317/116436384-a722f900-a84c-11eb-9360-7b3768b9e340.png)

**Module name:*

[2021-04-28 18:26] AnilKesariya commented on #529
@FredrikArvas : I've pushed one more commit on same branch, that will consider the new contacts to be used to sent on same schedule line which already sent email for some contact would consider new contacts which satisfy the criteria for email receive and before and after would work on flexible check not on exact. we can check it together tomorrow morning call. as we are going to discuss some othe

[2021-04-29 04:39] AnilKesariya commented on #541
@FredrikArvas :Have you discussed this task with hemangi? or do let me know if it is assigned to me I need to understand it with you over the short call.

[2021-04-29 04:40] AnilKesariya commented on #539
Thanks @rupareliyahemangi145 : I will work on this.

[2021-04-29 04:41] rupareliyahemangi145 commented on #541
@AnilKesariya I have not discussed with Fredrik. I also need to understand if it is assigned to me.

[2021-04-29 04:44] AnilKesariya commented on #541
Ok. then let's fredrik come in, we will discuss with him.

[2021-04-29 04:44] rupareliyahemangi145 commented on #541
Ok

[2021-04-29 04:48] AnilKesariya commented on #539
@FredrikArvas : in which branch should make these changes? is that Dev-12.0-CRM-AFC-2078-Imp-Autoresponder? or need to create a new branch?

[2021-04-29 05:04] fredrikarvas-vertel commented on #539
Please make a new branch, since I merged all outstanding yesterday

[2021-04-29 05:11] rupareliyahemangi145 commented on #541
Hello @fredrikarvas-vertel

I understood what I need to do for this issue. But monitoring_status_af module is not in Dev-12.0.
It is in Dev-12-AFC-1851_Monitoring_status branch. So how can I create PR from Dev-12.0? Should I need to create PR for Dev-12-AFC-1851_Monitoring_status branch?

I think Dev-12-AFC-1851_Monitoring_status is not merged in Dev-12.0.

[2021-04-29 05:25] #529 closed, assigned to AnilKesariya

[2021-04-29 05:36] fredrikarvas-vertel commented on #538
i will test the code you pushed yesterday

[2021-04-29 05:57] #530 closed, assigned to rupareliyahemangi145, Radhika435, fredrikarvas-vertel

[2021-04-29 05:57] #527 closed, assigned to iammiracle

[2021-04-29 05:58] #486 closed, assigned to anderswallenquist, FredrikArvas, n-development, nils-vertel, Yevhen-Pechurin

[2021-04-29 05:58] #481 closed, assigned to SebastianGieser-Vertel

[2021-04-29 06:24] fredrikarvas-vertel opened #542 "AFC-1822 - Upgrade af_statistics-module to work with system parameter"
https://github.com/vertelab/odoo-af/tree/Dev-12.0/af_statistics

<script type="text/javascript">
var _mtm = _mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src='   Insert URL-value from System Parameter     '; s.parentNo

[2021-04-29 07:29] rupareliyahemangi145 commented on #541
Hello @FredrikArvas

Created PR https://github.com/vertelab/odoo-af/pull/543 for this issue. Please check this issue and let me know if anything.

Thanks.

Regards,
Hemangi

[2021-04-29 08:19] fredrikarvas-vertel commented on #541
I have checked the PR and I would like to speak about it before I merge it.
When can we talk?

[2021-04-29 08:20] rupareliyahemangi145 commented on #541
We can talk now if you can.

[2021-04-29 08:22] rupareliyahemangi145 commented on #541
We can talk now if you can.

On Thu, 29 Apr 2021 at 13:50, Fredrik Arvas, Vertel AB <
***@***.***> wrote:

[2021-04-29 08:30] fredrikarvas-vertel commented on #541
yes
https://meet.google.com/cor-uyit-nyq

[2021-04-29 08:31] rupareliyahemangi145 commented on #541
Ok Let me join

[2021-04-29 08:55] rupareliyahemangi145 commented on #541
Created new PR https://github.com/vertelab/odoo-base/pull/280

[2021-04-29 10:05] rupareliyahemangi145 commented on #541
Hello @fredrikarvas-vertel

Added new commit in same PR https://github.com/vertelab/odoo-base/pull/280 to take value from txt file.
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-04-29 14:00] AnilKesariya commented on #539
Hi @FredrikArvas : pushed the code in same branch

For menu names update and kanban update, related to opened, clicked statistic info, we need to create a mass mailing campaign for each schedule line in backend that will help us to have the real statics for which the logic is already build.

We will discuss in the morning call.

Regards,
Anil.

[2021-04-30 04:40] fredrikarvas-vertel opened #545 "AFC-2163-Imp3-Autoresponder"
1 Please add a "disable" publish "mass mailing"-email to the chatter-log in module: mail_mass_mailing_extention

@FredrikArvas  Add a picture

2 change wording to an "autoresponder"-word in mail_autoresponder and mail_autoresponder_crm
![image](https://user-images.githubusercontent.com/61729317/116648919-91155580-a97e-11eb-8674-5c71cafd1e7d.png)
![image](https://user-images.githubusercontent.com/6

[2021-04-30 05:03] rupareliyahemangi145 commented on #542
Hello @fredrikarvas-vertel

Created PR https://github.com/vertelab/odoo-web/pull/55 for this issue and here is video for result.
https://www.loom.com/share/948b4a63e1cb462881242ca52d6ef746

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-04-30 05:24] #542 closed, assigned to rupareliyahemangi145

[2021-04-30 05:24] fredrikarvas-vertel commented on #542
This works fine now.

[2021-04-30 05:26] rupareliyahemangi145 commented on #542
Ok Thanks Fredrik.

[2021-04-30 06:03] #408 closed

[2021-04-30 07:16] rupareliyahemangi145 commented on #540
Hello @FredrikArvas

I have create PR https://github.com/vertelab/odoo-mail/pull/46 for mail_massmail_matomo_statistics.

Here is video for result:
https://www.loom.com/share/52bbea7a565046b6aaf9d4dc0580b03c

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-04-30 08:26] rupareliyahemangi145 commented on #542
Created PR https://github.com/vertelab/odoo-web/pull/57 for Dev-12.0-Fenix-Sprint-02 branch.

[2021-04-30 09:44] rupareliyahemangi145 commented on #545
Hello @fredrikarvas-vertel

I've created PR https://github.com/vertelab/odoo-mail/pull/47 for following points:
- Renamed word to Autoresponder where Event or Customer Dialog used.
- Removed mail_autoresponder_dafa module.

Please check it and let me know if anything.

This point is not reproduced in my system,
1 Please add a "disable" publish "mass mailing"-email to the chatter-log in module: mai

[2021-04-30 13:31] fredrikarvas-vertel commented on #539
Hi @AnilKesariya

I have done more testing with the updated code. And to mee, it sends less emails now, but still too many.
This config produece 14 emails. I was excepcting 10.
![image](https://user-images.githubusercontent.com/61729317/116702255-289f9600-a9c9-11eb-96e5-a253dc1a8b11.png)
![image](https://user-images.githubusercontent.com/61729317/116702294-3228fe00-a9c9-11eb-80b0-8ca92e104c34.png)

[2021-04-30 19:48] AnilKesariya commented on #535
@fredrikarvas-vertel : I've completed module 90%, 100% from my side, 10% pending to review from your side if any improvements or something pending. attached loom video link on PR and here too.https://www.loom.com/share/36933ca24298425d9aa11b14e538ee07

Total time spent so far on this : 8:00 Hours

Need to know the purpose of alert status, do we need to notify user on email when their time length a

[2021-05-01 06:23] fredrikarvas-vertel commented on #535
@AnilKesariya Great work so far!

I agree that there are only minor items left.

Regarding the Alert-function. Could we use Odoo "followers" functionality?

As a manager, I follow changes on the users I want to be noticed about?
and these changes will include login-records?
(Only high-access accounts will be audited, for persons who have a normal role and a high-access role, they will have two acc

[2021-05-01 07:15] fredrikarvas-vertel opened #548 "AFC-2167_mass_mailing_gdpr-limitations"
**Userstory:**
Please add a module with limitations due to gdpr-regulations

![image](https://user-images.githubusercontent.com/61729317/116774249-a57b5000-aa5b-11eb-8b3d-7447b215a248.png)

tree string="Contacts">
                    field name="display_name" string="Name" invisible="1" />
                    field name="function" invisible="0"/>
                    field name="is_jobseeker" invis

[2021-05-01 07:26] fredrikarvas-vertel commented on #545
@rupareliyahemangi145  I have added a few fields from odoo-base/partner_view_360 module

[2021-05-01 08:40] rupareliyahemangi145 commented on #548
Ok @FredrikArvas I will check this issue.

[2021-05-01 09:06] rupareliyahemangi145 commented on #545
Ok @FredrikArvas

[2021-05-01 09:59] rupareliyahemangi145 commented on #548
Hello @FredrikArvas Which column you want to hide? For now it shows Name, Email and Phone number.

[2021-05-02 15:41] fredrikarvas-vertel commented on #548
I added the code in the issue, but it was not visible in "read"-mode.

[2021-05-03 03:59] AnilKesariya commented on #538
@fredrikarvas-vertel : Please test this and let me know, as we have updated this match the exact days with today date.

[2021-05-03 04:05] AnilKesariya commented on #535
Hi @FredrikArvas : I have seen you have updated the task with feedback, let me start working on it.

[2021-05-03 04:07] AnilKesariya commented on #535
Make "login_reason" required only for users with: "odoo_base_login.show_login_reason"-group. - How do we know the user is belongs to show_login_reason, without entering into the system?

[2021-05-03 04:35] rupareliyahemangi145 commented on #548
Ok @fredrikarvas-vertel Let's discuss on Daily meeting.

[2021-05-03 05:01] AnilKesariya commented on #538
@FredrikArvas :

Here is the update for the feedback :

[2021-05-03 05:25] fredrikarvas-vertel commented on #535
My suggestion is to add a control "in python" when processing the login, and not make the control in the view.

[2021-05-03 05:49] AnilKesariya commented on #535
we will discuss over the call.

[2021-05-03 06:23] fredrikarvas-vertel commented on #535
@FredrikArvas :

Here is the update for the feedback :
1. We can not predict which users try to logged into the system then how can set mandatory based on group?
2. 10 Character is minimum length or maximum? = Minimum
3. Done.
4. Done
5. Done
6 - One user can have access of more then one groups so this group is not possible. but we can list out the groups access to the active users in login access

[2021-05-03 07:19] AnilKesariya commented on #535
@FredrikArvas : I want to know where this http_session_timeout located and which module disable login password for without debug mode activated so we can use that concept. right now at this moment, i'm using other module reference for session time out, do let me know if you find the reference.

Thanks.

[2021-05-03 08:03] rupareliyahemangi145 commented on #548
Hello @fredrikarvas-vertel

I can't reproduce this issue. I can see following list view.

![list_view](https://user-images.githubusercontent.com/36560391/116853543-de5e2500-ac13-11eb-9581-d379a2788650.png)

Is there any module which I am missing? I have tried to install '**af_install_modules_crm_1**' module but missing **auth_saml_ol_groups** module. Where I can find **auth_saml_ol_groups** module

[2021-05-03 08:21] fredrikarvas-vertel commented on #535
Here is the module: https://github.com/vertelab/odoo-auth/tree/Dev-12.0-Fenix-Sprint-02/http_session_timeout

[2021-05-03 09:05] fredrikarvas-vertel commented on #548
Follow these steps:

Go to: Email Marketing:
![image](https://user-images.githubusercontent.com/61729317/116854559-2a02d580-abf8-11eb-9b0b-4433503e99da.png)
-> Click on the Smart-buttons
![image](https://user-images.githubusercontent.com/61729317/116854605-3e46d280-abf8-11eb-8909-224cd387042e.png)

-> Hide these fields:
![image](https://user-images.githubusercontent.com/61729317/116858872-6423a580

[2021-05-03 09:11] rupareliyahemangi145 commented on #548
Ok @fredrikarvas-vertel Thanks.

[2021-05-03 09:53] AnilKesariya commented on #535
Thanks Fredrik, I also found more more useful module for this purpose which is this : https://github.com/OCA/server-auth/tree/12.0/auth_session_timeout This exactly what we need, here it does based on system parameter, we will fetch the timeout info from our audit table.

[2021-05-03 10:32] rupareliyahemangi145 commented on #548
Hello @fredrikarvas-vertel

I've created PR https://github.com/vertelab/odoo-mail/pull/48 for this issue.

Here is video for result:
https://www.loom.com/share/58d1522012e54b659c9b3016067de6bf

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-03 11:03] fredrikarvas-vertel commented on #548
Great.
Merged.

[2021-05-03 11:03] #548 closed, assigned to AnilKesariya, rupareliyahemangi145

[2021-05-03 11:09] rupareliyahemangi145 commented on #548
Thanks @fredrikarvas-vertel

[2021-05-03 13:13] fredrikarvas-vertel commented on #535
Great!

[2021-05-03 16:16] fredrikarvas-vertel commented on #531
@rupareliyahemangi145
We have tested the mass_mailing-module with the extension with statistics and it seems like there is an error.
The smart buttons link correct, but they do not display the correct value

In this image, the email was sent successfully to 4 recipients.
![image](https://user-images.githubusercontent.com/61729317/116902474-73c0df80-ac3b-11eb-9d10-cda8d48c850c.png)

Please test on

[2021-05-04 04:39] rupareliyahemangi145 commented on #531
Ok @FredrikArvas Let me check it.

[2021-05-04 04:49] rupareliyahemangi145 commented on #531
Hello @FredrikArvas I am trying to install mail_installmodules_adkd module but it depends on mail_improved_tracking_value.
Where I can find this module in our repo?

[2021-05-04 05:17] rupareliyahemangi145 commented on #531
@FredrikArvas Also I can't find mass_mailing_custom_unsubscribe module in repo. For now I have downloaded from Odoo app store and fixed issue.

Created https://github.com/vertelab/odoo-mail/pull/49 to fix it.Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-04 05:36] fredrikarvas-vertel commented on #531
Please check the numbers as in th PR-comment.

[2021-05-04 08:02] fredrikarvas-vertel opened #550 "AFC-2170 - Create a mockup module to illustrate design elements"
**Userstory:**
As a user, I want to see data from different classes on the same screen, because i want to see several parts in the same view.

1 Please make a module with one view with a form (res-partner-fields) in two columns and several tabs below from different classes (odoo-standard modules)
![image](https://user-images.githubusercontent.com/61729317/116974676-c099ca00-acbe-11eb-8903-83e2005f

[2021-05-04 08:14] rupareliyahemangi145 commented on #550
Ok @fredrikarvas-vertel  I will check this issue. Should I need to give time estimation for this issue?

[2021-05-04 09:11] fredrikarvas-vertel opened #551 "AFC-2125 Odoo Tray-widget for Interpreter"
***User Story***
As a user I want to be able to see my interpreter bookings.
I want a widget that is similar to the "Current Activity"-widget with the similar numbering of tasks and links to a kanban view of tasks but with the following requirements:

The widget shall have Links for:
- EN: All Bookings                SV: Alla bokningar               (active==True)
- EN: Awaiting response      SV:

[2021-05-04 09:14] fredrikarvas-vertel commented on #551
This module is difficult to test outside of our testing-environment.
Please make a "dry-run"-version and I can test it on our system.

The reason is that the interpreter-bookings are complext to configure without the API to other internal systems.

[2021-05-04 09:25] fredrikarvas-vertel commented on #551
Please suggest an alternative solution, if the widget is complex

[2021-05-04 09:26] fredrikarvas-vertel opened #552 "AFC-1183 - Add an archive button to an outplacement"
**Userstory:**
As a user, I want archive an outplacement-object.

1 Add a field in Outplacement Final report tab when the Final Report is approved.
Populate the field from here:
https://github.com/vertelab/odoo-outplacement/blob/4a9ad21206d6d392dfacefde774a62039efafef5/outplacement_final_report_mq_ipf/models/outplacement.py#L188

Place the field here:
![image](https://user-images.githubusercontent

[2021-05-04 09:42] fredrikarvas-vertel commented on #550
Please make the first image without estimate. And while doing that - please give an idea of the second image

[2021-05-04 09:43] rupareliyahemangi145 commented on #550
Ok @FredrikArvas

[2021-05-04 11:04] fredrikarvas-vertel commented on #535
Will you be able to push a version the module again?

[2021-05-04 11:15] rupareliyahemangi145 commented on #550
Hello @fredrikarvas-vertel Can you please schedule meeting? I want to discuss and want to show something for this issue.

[2021-05-04 11:24] fredrikarvas-vertel commented on #535
The "hide login fields" is added in this module:
https://github.com/vertelab/odoo-af/tree/Dev-12.0/auth_saml_af

[2021-05-04 11:33] fredrikarvas-vertel commented on #535
The auto-logut did not work on the module I tested now.

[2021-05-04 11:34] fredrikarvas-vertel commented on #535
@AnilKesariya  Comment on point 5 above, it is possible to delete a login-reason as admin. Please see in the description above

[2021-05-04 11:37] fredrikarvas-vertel commented on #550
yes,
I have 10 min 1450 - 1500 (CET ) in 15 minutes.
Let's connect in the standard Standup-meeting

[2021-05-04 11:38] rupareliyahemangi145 commented on #550
Ok @fredrikarvas-vertel

[2021-05-04 11:38] fredrikarvas-vertel commented on #531
This module works now

[2021-05-04 11:38] #531 closed, assigned to AnilKesariya, FredrikArvas, rupareliyahemangi145, Radhika435

[2021-05-04 11:41] rupareliyahemangi145 commented on #531
Ok Thanks @FredrikArvas

[2021-05-04 11:50] rupareliyahemangi145 commented on #550
Asked to join

[2021-05-04 13:36] rupareliyahemangi145 commented on #550
Hello @fredrikarvas-vertel and @Radhika435

Here is video to show what I've developed today:
https://www.loom.com/share/34556a0915194f01ba126f1d0cc9ad11

Please check it and let me know if any suggestion.

For **phonecall_ids**, from which module I can find this field? Didn't create PR because want to discuss about layout on tomorrow meeting.

Thanks.

Regards,
Hemangi.

[2021-05-04 13:38] fredrikarvas-vertel commented on #550
I thinkn phonecall_ids is a type of activity. Pick any other object. It is only for illustration.

[2021-05-04 13:40] fredrikarvas-vertel commented on #550
I have looked at the video and it is fine as a reference-point for the second screen.

Please explain why we could not use the normal search-box?

[2021-05-04 21:14] Radhika435 opened #553 "AFC-2173 - Newsletter unsubscribe page"
**Userstory:**
As a user, I wanted to see the unsubscribe page should be matched in accordance with the Swedish public employment service's themes and colors when a mail recipient clicks on unsubscribe link.

Step 1: Adjust the odoo standard unsubscribe form
I have added some comments on the pictures below
First screen shot shows the unsubscribe form and second screenshot shows the confirmation fo

[2021-05-05 04:41] rupareliyahemangi145 commented on #550
Odoo normal search box will show result only in kanban view or list view. We can't show form view direct if there is only one record found.

[2021-05-05 04:42] rupareliyahemangi145 commented on #550
Ok Fredrik

[2021-05-05 05:00] rupareliyahemangi145 commented on #553
Ok @Radhika435 I will wok on this issue.

[2021-05-05 05:38] rupareliyahemangi145 commented on #553
Hello @Radhika435

Are you using **mass_mailing_custom_unsubscribe** module in server? I didn't find this module in repo but this module is depends on **mail_installmodules_adkd**.

**mass_mailing_custom_unsubscribe** is OCA module. This module also change some thing in unsubscribe page. If you are using this module then need to change this issue changes in this module.

Because I have created new

[2021-05-05 06:07] rupareliyahemangi145 commented on #553
![page_base](https://user-images.githubusercontent.com/36560391/117102552-315fe580-ad96-11eb-8763-409b7605157c.png)

[2021-05-05 06:44] fredrikarvas-vertel commented on #553
I may be late with my comments.
It is not important for us to use the mass_mailing_custom_unsubscribe if you have an other module.
We also want the recipients to be able to unsubscribe on individual mailinglists in the future

[2021-05-05 06:51] Radhika435 commented on #553
@rupareliyahemangi145
Please refer to this image
![image](https://user-images.githubusercontent.com/59916603/117105795-0b7b1680-ad7f-11eb-87a3-a2379af64d7a.png)

[2021-05-05 06:54] rupareliyahemangi145 commented on #553
I don't have any other module for unsubscribe we can use mass_mailing_custom_unsubscribe module as it is proving options.

I will do changes in mass_mailing_custom_unsubscribe module to change layout as @Radhika435 mentioned. And will add this module in odoo-mail repo.

[2021-05-05 07:01] fredrikarvas-vertel commented on #553
if possible:
Please do an extend to the oca-module instead of a changed copy of the module.

[2021-05-05 07:02] rupareliyahemangi145 commented on #553
@FredrikArvas It is not possible to do changes of same template in different module. It conflicts.

[2021-05-05 07:09] AnilKesariya commented on #553
@Rupareliya Hemangi ***@***.***> : is it not possible
to put the OCA on depends and override  the template and applying changes
according?

On Wed, May 5, 2021, 12:33 PM rupareliyahemangi145 ***@***.***>
wrote:

[2021-05-05 07:12] rupareliyahemangi145 commented on #553
@AnilKesariya Yes it may work. Let me try to do this.

[2021-05-05 08:45] fredrikarvas-vertel commented on #553
Please use the logotype from this module for the AF-logo
https://github.com/vertelab/odoo-af/tree/Dev-12.0/auth_saml_af
I think it is better to store the logo in this module as well, so we do not need a depend.

[2021-05-05 08:53] rupareliyahemangi145 commented on #553
Ok @fredrikarvas-vertel

[2021-05-05 11:06] rupareliyahemangi145 commented on #553
Hello @Radhika435  and @fredrikarvas-vertel

I've create PR https://github.com/vertelab/odoo-mail/pull/50 for this issue.

Here is screenshots for result:
![unsubscribe_page](https://user-images.githubusercontent.com/36560391/117132039-e78bf500-adbf-11eb-94f2-269a32701b9f.png)

![unsubscribed_page](https://user-images.githubusercontent.com/36560391/117132056-ebb81280-adbf-11eb-89e1-b70237b7bb0e.pn

[2021-05-05 11:10] fredrikarvas-vertel commented on #553
The screenshots look great!

[2021-05-05 11:13] rupareliyahemangi145 commented on #553
Thanks @fredrikarvas-vertel

[2021-05-05 11:21] fredrikarvas-vertel commented on #553
Could you please add the AF-graphical format on this screen as well?
![image](https://user-images.githubusercontent.com/61729317/117133664-d386ca00-ada4-11eb-845b-016c9f24f5f7.png)

[2021-05-05 11:26] rupareliyahemangi145 commented on #553
@fredrikarvas-vertel From where you have taken this screenshot? It is coming from standard module or any custom module?

[2021-05-05 11:41] Radhika435 commented on #553
@rupareliyahemangi145 Thanks a lot 👍

[2021-05-05 11:42] rupareliyahemangi145 commented on #553
Its my pleasure @Radhika435

[2021-05-05 12:08] fredrikarvas-vertel commented on #553
@rupareliyahemangi145 it is from https://github.com/OCA/social/tree/12.0/mass_mailing_custom_unsubscribe

[2021-05-05 12:11] rupareliyahemangi145 commented on #553
Ok @FredrikArvas I've installed this module but can't see. May be missing something. Let me check.

[2021-05-05 12:26] rupareliyahemangi145 commented on #553
Hello @fredrikarvas-vertel You mean following?
![list](https://user-images.githubusercontent.com/36560391/117140344-eca27180-adca-11eb-85db-a85c36fb64da.png)

This contact is in 2 mailing list so those 2 mailing list's name are listed here. So, user can unsubscribe from other mail list also.But I can't see Come back button.

[2021-05-05 12:29] rupareliyahemangi145 commented on #553
I found it it will come after user click on Blacklist me.

[2021-05-05 13:44] rupareliyahemangi145 commented on #553
Hello @Radhika435  and @fredrikarvas-vertel

Created PR https://github.com/vertelab/odoo-mail/pull/51 for other button's layout.

![black_list](https://user-images.githubusercontent.com/36560391/117150679-fe3d4680-add5-11eb-94c6-46c6ffa2a007.png)

![come_back](https://user-images.githubusercontent.com/36560391/117150699-0301fa80-add6-11eb-859a-7a60c29af042.png)

Please check it and let me know if

[2021-05-06 05:56] fredrikarvas-vertel commented on #538
@AnilKesariya
I tested this with new test-data today and on an old set.

  File "/opt/af/odoo/odoo_crm/odoo-server-crm/odoo/tools/safe_eval.py", line 204, in test_expr
    expr = expr.strip()
ValueError: <class 'ValueError'>: ""'bool' object has no attribute 'strip'" while compiling
False" while evaluating
'model.automated_event_mail()'

[2021-05-06 07:11] rupareliyahemangi145 commented on #550
Hello @FredrikArvas  and @Radhika435

Create PR for this issue https://github.com/vertelab/odoo-base/pull/287.Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-06 09:47] rupareliyahemangi145 commented on #550
Hello @fredrikarvas-vertel ,

I've tried to create second view and here is video to show result which is so far.
https://www.loom.com/share/1e059f6bd94246958702570bdc067cdf

This is just for test to show. Please check it and let me know your suggestion on this.

Thanks

Regards,
Hemangi.

[2021-05-06 09:54] fredrikarvas-vertel commented on #550
This looks VERY GOOD!

[2021-05-06 09:55] rupareliyahemangi145 commented on #550
Thanks @FredrikArvas

[2021-05-06 09:56] fredrikarvas-vertel commented on #550
Please push this when you can. And we will show it to the team

[2021-05-06 09:56] rupareliyahemangi145 commented on #550
Ok Sure @fredrikarvas-vertel

[2021-05-06 10:01] rupareliyahemangi145 commented on #550
@FredrikArvas Pushed code in same PR https://github.com/vertelab/odoo-base/pull/287.

For now it will redirect to new form view like I shown in video, instead of first form view like previous video.
Because still don't know when need to show first view and when need to show second view. So for now shown only second view.

[2021-05-06 11:57] rupareliyahemangi145 commented on #536
Hello @Radhika435  and @FredrikArvas

I've prepared video to show how sync module work with dashboard module.
1. https://www.loom.com/share/d606a6d0d0c744ed97d7c835fe4ac487
2. https://www.loom.com/share/f1353a8547df4e3bacb9ac11f1ef61dc

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-07 05:52] fredrikarvas-vertel commented on #550
@rupareliyahemangi145

I have installed the module and it works fine.
For today, I would like to ask if you can add a fram to the different parts of the screen as illustrated.

![image](https://user-images.githubusercontent.com/61729317/117403845-224d7480-af09-11eb-9912-50bcc9a1fce5.png)

We will have a meeting where we will proceed with this concept and create a new gitissue.
/Fredrik

[2021-05-07 05:54] rupareliyahemangi145 commented on #550
Ok @FredrikArvas

[2021-05-07 05:55] #545 closed, assigned to AnilKesariya

[2021-05-07 05:55] #541 closed, assigned to rupareliyahemangi145

[2021-05-07 06:01] fredrikarvas-vertel opened #554 "AFC-2185_Logging of sent messages"
**Userstory:**
As a user I wanted to see the logs information like the mail sent to the recipient,information of the sender who sent the newsletter(mail).
 With standard odoo module  we can see the email sender info in the **options** tab as shown in the figure which can be editable.
![image](https://user-images.githubusercontent.com/59916603/117584278-55138a80-b10c-11eb-9a73-d361095c3c36.png)
Her

[2021-05-07 07:05] rupareliyahemangi145 commented on #536
Hello @fredrikarvas-vertel

Please test above functionality with this PR https://github.com/vertelab/odoo-web/pull/60. I've fixed one error in this PR, which I faced yesterday when syncing dashboard boxes.

Thanks.

Regards,
Hemangi.

[2021-05-07 08:29] rupareliyahemangi145 commented on #550
Hello @FredrikArvas

Pushed code in same PR https://github.com/vertelab/odoo-base/pull/287. Added new menus and border on second view.

Here is video to show result:
https://www.loom.com/share/de19de8a39e14f51b6af005ad439d6f7

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-07 09:25] rupareliyahemangi145 commented on #554
Hello @FredrikArvas

You want only logger like this
![chatter](https://user-images.githubusercontent.com/36560391/117428341-9b69bd80-af43-11eb-9e00-e73332f86067.png)

 or want to add some information in log when email sent? If want to add some information then which information because there is already smart button after emails sent which shows list of email sent?

[2021-05-07 12:49] AnilKesariya commented on #535
@fredrik: I've pushed the code for point 3, to active those extra fields only on debug mode and only create log record when login made from debug model is done and pushed the changes to :  Dev-12.0-AFC-2142-login_reason

About session timeout, first clean up the log table by running this query:

delete from base_login_reason;

Because there could be possible that some login might not have captured

[2021-05-07 12:55] AnilKesariya commented on #535
@FredrikArvas

Pending points 2 and 3 also done.

2 : 10 Character is minimum length or maximum? = Minimum >> Done
3:  Enable extra fields only for debug mode, and only create log for debug mode login. >> Done

10 : session auto log out : please follow the query explained in previous comment.

Regards,
AK

[2021-05-07 13:44] AnilKesariya commented on #535
@Radhika435 @FredrikArvas

Here is the summary for the points those are submitted and works perfectly : 1,2,3,4,5,7,8,9
points 6: is not possible due to m2m field cannot be set as group by on filter.
Point 10: I'm checking on my side.

[2021-05-09 19:39] Radhika435 commented on #554
@rupareliyahemangi145 please check the user story above. we can discuss this in the meeting tomorrow if you any questions.

[2021-05-10 05:13] rupareliyahemangi145 commented on #554
Ok @Radhika435 Thanks

[2021-05-10 06:12] fredrikarvas-vertel commented on #550
![Uploading image.png…]()

[2021-05-10 06:12] fredrikarvas-vertel commented on #550
![image](https://user-images.githubusercontent.com/61729317/117613663-85d4dd80-b167-11eb-8b2f-c669230c4dc4.png)

[2021-05-10 06:19] fredrikarvas-vertel commented on #554
Please add logging on the "State"-field with which res_user

[2021-05-10 07:22] rupareliyahemangi145 commented on #554
Hello @FredrikArvas  and @Radhika435

I've create PR https://github.com/vertelab/odoo-mail/pull/52 for this issue.
Here is video for result:
https://www.loom.com/share/f92528ee682149458ac74992d8b6d4f3

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-10 08:52] rupareliyahemangi145 commented on #550
Hello @FredrikArvas  and @Radhika435

I've added search box in form view.

Here is video to show that:
https://www.loom.com/share/c71a4e33e4f844b2ae2e1b170db0d5c5
- With this functionality user can see whole breadcrumbs in top.

https://www.loom.com/share/72360bd48936423daed1467a4b3d0b0b
- In this video I've removed breadcrumbs.

https://www.loom.com/share/2d36447896284d9ca541410137d130f2
- In thi

[2021-05-10 10:38] fredrikarvas-vertel commented on #554
Thanks @rupareliyahemangi145
Could you skip the changes generated by Odoobot
/Fredrik

[2021-05-10 10:43] fredrikarvas-vertel commented on #550
Hi @rupareliyahemangi145

We want
- without breadcrumbs
- with "seachr without edit".
Please make a PR with that (but do not include the OCA-module in the PR).
Inlude it as a depend in the manifest and make a reference to the Github-link in the description.
Thanks
/Fredrik

[2021-05-10 10:52] rupareliyahemangi145 commented on #550
Ok Thanks @FredrikArvas

[2021-05-10 11:39] rupareliyahemangi145 commented on #550
Hello @FredrikArvas

Pushed code in same PR https://github.com/vertelab/odoo-base/pull/287 for following points.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-10 11:54] rupareliyahemangi145 commented on #554
@FredrikArvas

This one or Status one?
Mailing - Test scheduled by Marc Demo From "Marc Demo" <mark.brown23@example.com>

Can you please mark which one from following screenshot?

![log_1](https://user-images.githubusercontent.com/36560391/117655264-76c84c80-b1b4-11eb-8beb-75ce84d17778.png)

![log_2](https://user-images.githubusercontent.com/36560391/117655280-7af46a00-b1b4-11eb-9f4c-6461b948ac67.

[2021-05-10 12:30] fredrikarvas-vertel commented on #554
These please
Created
Draft  -> In Queue

![image](https://user-images.githubusercontent.com/61729317/117659441-3b218880-b19c-11eb-8129-34531619d079.png)

[2021-05-10 12:44] rupareliyahemangi145 commented on #554
Ok @FredrikArvas Thanks

[2021-05-10 13:17] rupareliyahemangi145 commented on #554
Hello @FredrikArvas

Can you please check? is this ok?
1. https://www.loom.com/share/c8be80df6dfe4e039b8e149b8ddebbd3
2. https://www.loom.com/share/5f205c4db85b45ebaa3ac8f3cf2ebe2f

[2021-05-10 13:28] fredrikarvas-vertel commented on #554
Yes - this looks good. Please make a PR

[2021-05-10 15:30] fredrikarvas-vertel commented on #550
Hi again
I have tested now and would like the following changes
- change name from mocukup to mockup in all places
- The current behavior (with a wizard that gets to edit-mode when we search in the form-view) is not ideal.
Is it possible to create a new (third) view where the normal search box is in the normal place?
I understand that his would go against "search-results to be one form-view", but

[2021-05-10 15:47] fredrikarvas-vertel commented on #535
IMP:
1 As a beeing a member of the "Login Reason"-group need to see the menu "Login Access"-log.
Please move it to the top position.

2
**The usergroup Show Login-reason**
shold have "read only" access to the login-records.
should also only see their own login-records.

**For the Login-Reason Auditor:**
3
Please add label (I think it is auditors comment) above this field.
![image](https://user-ima

[2021-05-10 16:17] #554 closed, assigned to rupareliyahemangi145

[2021-05-10 16:28] fredrikarvas-vertel opened #560 "AFC-2100d - change name of autoresponder module-templates"
![image](https://user-images.githubusercontent.com/61729317/117692563-6ec0da80-b1bd-11eb-856d-5ea5e08d39b6.png)
Please change These to autoresponder instead of customer dialogue

Search thorugh all three mail_autoresponder-modules

https://github.com/vertelab/odoo-mail/blob/Dev-12.0-CRM-AFC-2078-Imp-Autoresponder/mail_autoresponder/data/cron.xml
![image](https://user-images.githubusercontent.com/6

[2021-05-10 17:13] fredrikarvas-vertel commented on #538
1
I added two emails: 1 and 2 working days
I expected two emails:
![image](https://user-images.githubusercontent.com/61729317/117699974-bf3c3600-b1c5-11eb-9a42-ee2dd0b09959.png)
= got 2 mails sent 6 and 7 "Calendar days" after the "customer since"-date

2
I added two emails: 1 and 2 working days
I expected two emails:
![image](https://user-images.githubusercontent.com/61729317/117697626-f5c48180-b

[2021-05-10 17:22] fredrikarvas-vertel commented on #538
No "Customer Since Date" is set
I added two emails: 1 and 2 working days
I expected two emails:
![image](https://user-images.githubusercontent.com/61729317/117699089-b5660300-b1c4-11eb-97b7-5ec9ae2567ab.png)
Recived none.

[2021-05-10 18:24] fredrikarvas-vertel opened #561 "AFC-2217_New_View_and_role_for_interpreter_bookings"
This extens AFC-2125

**Userstory:**
As an admin I want to follow up interpreter bookings

The if any of these fields does not work - simply uncomment them in first release.

Please add
a new security-role: Interpreter Accountant
Here: https://github.com/vertelab/odoo-base/blob/Dev-12.0-Fenix-Sprint-02/base_user_groups_dafa/security/security.xml

a main menu: Interpreters visible to "Interpreter A

[2021-05-11 05:00] rupareliyahemangi145 commented on #554
Hello @FredrikArvas

Created PR https://github.com/vertelab/odoo-mail/pull/53 for latest changes(Removed Odoobot logs).
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-11 05:28] rupareliyahemangi145 commented on #550
Ok @FredrikArvas I will change name mocukup to mockup.

For second one as need Odoo standard search I think we can use following flow:

We will add new smart button with name 'Search' and remove current search box and search button.

![form](https://user-images.githubusercontent.com/36560391/117762708-4a114500-b247-11eb-967e-eb19ae317951.png)

When user click on new Search smart button we can redi

[2021-05-11 07:45] fredrikarvas-vertel commented on #551
@rupareliyahemangi145
Please change the widget from displaying outplacment.tasks to displaying mail.activites (type=interpreter-bookings)

When you install the system - here is a list on repositories and branches that are used,
I think you do not need all of them for DAFA
https://github.com/vertelab/odoo-af/blob/Dev-12.0-Fenix-Sprint-02/af_install_modules_dafa_mvp1/__manifest__.py

[2021-05-11 07:47] rupareliyahemangi145 commented on #551
Ok @FredrikArvas Thanks I will check.

[2021-05-11 07:53] rupareliyahemangi145 commented on #550
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-base/pull/293 for Advance search and name change from mocukup to mockup.
https://www.loom.com/share/1e570ef090d442438c4038ae4a3caefc
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-11 08:14] fredrikarvas-vertel commented on #550
Hi @rupareliyahemangi145
I have looked now and I would like you to create two versions of the page:
One without the new search-button
One with the "new Search"-button and no search-form

So in total, we will have a menu that looks like this:

Mockups
- Formview with Search-button
- Form and Search-view
- Standard View with tabs

OK?

[2021-05-11 08:20] rupareliyahemangi145 commented on #550
Ok @FredrikArvas

[2021-05-11 08:47] AnilKesariya commented on #535
@FredrikArvas : I've pushed these changes to Dev-12.0-AFC-2142-login_reason

[2021-05-11 10:32] rupareliyahemangi145 commented on #550
@FredrikArvas In second one we need following Search form but don't need search text box and old search button, right?

![search_form](https://user-images.githubusercontent.com/36560391/117801560-11d32c00-b272-11eb-9e5a-e053628eac77.png)

![remove_search](https://user-images.githubusercontent.com/36560391/117801635-2ca5a080-b272-11eb-90f4-030f9c71a67f.png)

[2021-05-11 10:47] fredrikarvas-vertel commented on #550
@rupareliyahemangi145  correct

[2021-05-11 10:47] rupareliyahemangi145 commented on #550
Ok Thanks @FredrikArvas

[2021-05-11 12:35] fredrikarvas-vertel commented on #535
Test results: (in order of priority)

1 The Login-text-boxes are mandatory in the GUI, not in the backend.
Desired functionality is that they are mandatory when they are processed, not in the gui.
![image](https://user-images.githubusercontent.com/61729317/117814758-04fc0b80-b265-11eb-856e-8c93fa1b43c4.png)
Please tell me if you would like some input on how to solve this.

2 The Audit-comments-box

[2021-05-11 12:44] rupareliyahemangi145 commented on #550
Hello @FredrikArvas

Pushed code in same PR https://github.com/vertelab/odoo-base/pull/293 for separate menus.
https://www.loom.com/share/e946a040b26141a3b0f29b58b4b140c1

Please check it and let me know if anything.

Thanks

Regards,
Hemangi.

[2021-05-11 13:22] fredrikarvas-vertel commented on #550
I have installed the new version and both menues lead to the same result-page.
Please change them and their names to:
Mockups
- Search-form to Formview with Search-button (the current Advanced)
- Search-form to Form and Search-view (the current search)
- Standard View with tabs

[2021-05-11 13:24] rupareliyahemangi145 commented on #550
Ok Fredrik

On Tue, 11 May 2021 at 18:52, Fredrik Arvas, Vertel AB <
***@***.***> wrote:

[2021-05-11 14:06] rupareliyahemangi145 commented on #550
@FredrikArvas

Please test with latest commit of PR https://github.com/vertelab/odoo-base/pull/293.

Here is latest video:
https://www.loom.com/share/408d7eb12b424c7596ee66a6debe99ba

[2021-05-11 14:22] fredrikarvas-vertel commented on #550
Thanks.
It works fine in your video, on my both links leads to the same formview. I will merge it and see how it works.

[2021-05-11 14:51] AnilKesariya commented on #539
https://www.loom.com/share/04ad82dbfc74450e8bc8cf0b7ed470a7

@FredrikArvas : I've pushed the changes for statistics code.

[2021-05-11 15:46] fredrikarvas-vertel commented on #539
![image](https://user-images.githubusercontent.com/61729317/117845403-cbd19480-b280-11eb-8a31-e64ba47f654b.png)

[2021-05-11 16:00] AnilKesariya commented on #539
@FredrikArvas : did you upgraded the module? As there are XML Changes so required an upgrade.

[2021-05-11 16:40] rupareliyahemangi145 commented on #550
Ok Fredrik

On Tue, May 11, 2021, 19:52 Fredrik Arvas, Vertel AB <
***@***.***> wrote:

[2021-05-12 04:28] rupareliyahemangi145 commented on #550
Please update app list, uninstall **partner_design_mocukup** and then install **partner_design_mockup** rename one.

[2021-05-12 05:50] Radhika435 commented on #553
Hi @rupareliyahemangi145
We are not able to open the "Settings" in debug mode in the podd if this module is installed.
could you please fix the error soon.

BR,
Radhika Thadivaka

[2021-05-12 05:54] rupareliyahemangi145 commented on #553
Yes Sure @Radhika435

[2021-05-12 08:08] rupareliyahemangi145 commented on #553
Hello @Radhika435  and @FredrikArvas

I've fixed Setting menu issue in this PR https://github.com/vertelab/odoo-mail/pull/54.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-12 09:11] Radhika435 commented on #553
@rupareliyahemangi145 will do that
Thank you.

[2021-05-12 10:00] Radhika435 opened #571 "AFC-2145 Interpreter summary in the log."
**Userstory:**
As a user, I wanted to see the text on the chatter logg to be more relevant in context to the Interpreter booking.
Step 1: Please check the picture below which shows the technical text and task created.
![image](https://user-images.githubusercontent.com/59916603/117955741-a3957480-b318-11eb-8ec5-fc48654e0bb6.png)

Step 2: Instead of the technical text we wanted to see the text like

[2021-05-12 10:01] Radhika435 commented on #571
FYI @FredrikArvas

[2021-05-12 12:14] AnilKesariya commented on #535
@FredrikArvas @Radhika435 : I've pushed the change changes explained above all these 5 changes.

[2021-05-12 12:29] AnilKesariya commented on #560
@FredrikArvas @rupareliyahemangi145 : I found two modules for autoresponder,  1. mail_autoresponder and 2. mail_autoresponder_crm, which is the third one?

[2021-05-12 12:33] fredrikarvas-vertel commented on #560
mail_autoresponder = generic functionality that is intended to be standalone of Arbetsformedlingens other modules. It should be useful for any Odoo-user.

mail_autoresponder_crm = adds special functionality linked to vertelab/odoo-base/partner_daily_notes-module. Basically adds the date of the daily notes linked to a res_partner. And in the future, also links other fields to be available in the se

[2021-05-12 12:43] AnilKesariya commented on #560
mail_autoresponder_dafa = is intended to add similar links but to vertelab/odoo-outplacement/outplacement-module. Datefields in that module. And in the future, also links other fields to be available in the selection. - Thanks. I will check update.

[2021-05-12 12:45] AnilKesariya commented on #560
@FredrikArvas : https://github.com/vertelab/odoo-outplacement - Should I clone Dev-12.0 or any specific branch you recommand to have the latest module of mail_autoresponder_dafa

[2021-05-12 12:46] fredrikarvas-vertel commented on #560
the Dev-12.0 is the latest (there are several commits each day now).

[2021-05-12 12:51] AnilKesariya commented on #560
Ok @FredrikArvas : thanks for the quick response. for the changes on this module which branch should I checkout?

[2021-05-12 12:59] AnilKesariya commented on #560
@FredrikArvas : Hemangi told me that you have asked her to remove that module mail_autoresponder_dafa, on issue #545

I have updated the changes on other two modules those are inside odoo-mail respository.

![image1](https://user-images.githubusercontent.com/5101994/117978891-f8081680-b34f-11eb-91d5-a3298b9e6eec.png)
![image2](https://user-images.githubusercontent.com/5101994/117978896-f9d1da00-b3

[2021-05-13 05:30] AnilKesariya commented on #560
@FredrikArvas : In  which branch should i push these changes?

[2021-05-13 05:32] AnilKesariya commented on #535
@FredrikArvas : Here is the link for initiated PR from begining of this module.  Main [PR](https://github.com/vertelab/odoo-base/pull/285) which is not merged yet. All commits are made to this branch for this module

[2021-05-13 06:06] AnilKesariya commented on #538
@fredrikarvas-vertel : Fixed one issue for this.
Pushed the changes to : Dev-12.0-CRM-AFC-2078-Imp-Autoresponder here is it's [PR](https://github.com/vertelab/odoo-mail/pull/55).

[2021-05-13 21:53] fredrikarvas-vertel commented on #535
Hi @AnilKesariya
Thanks for this. What surprices me is that your PR includes modules that are not part of your module?
I can check this when I am back if it difficult to push only the changed module.
Currently the PR includes 47 changed files.

[2021-05-13 21:54] fredrikarvas-vertel commented on #560
I think it is easiest if you use this branch
https://github.com/vertelab/odoo-mail/tree/Dev-12.0-CRM-AFC-2078-Imp-Autoresponder

[2021-05-15 07:34] rupareliyahemangi145 commented on #551
Hello @FredrikArvas

I've worked on this task. Pushed code in https://github.com/vertelab/odoo-outplacement/tree/12.0-DAFA-AFC-2125-interpreter-booking-show-made-bookings branch and here is commit link:
https://github.com/vertelab/odoo-outplacement/commit/a1c30bb77c4da78edac2a4ff41fde164f73aa1bc

Here is videos to show functionality which developed for this task:
1. https://www.loom.com/share/b506

[2021-05-17 06:28] AnilKesariya commented on #535
Yes, This PR may contain many commits which were never merged. so all these files are related to the same modules. but I will verify if any other module changes uploaded with this PR then I will revert back. will shortly comment on this.

[2021-05-17 08:00] rupareliyahemangi145 commented on #561
Hello @FredrikArvas  and @Radhika435

Here is PR https://github.com/vertelab/odoo-base/pull/304 for Interpreter Accountant group in **base_user_groups_dafa** module.

This is commit https://github.com/vertelab/odoo-outplacement/commit/865bc5738061b082401857c5fe1414908f709b92 in odoo-outplacement.

Video link to show result:
https://www.loom.com/share/bf2f1b773340486abed283e345a7721c

Please check

[2021-05-18 07:45] fredrikarvas-vertel commented on #535
@AnilKesariya
When I tested the Loging Access log -> Create record.
I think the "Create"-button will be hidden later. So this might not be necessary to fix.

[2021-05-18 08:34] rupareliyahemangi145 commented on #571
Hello @FredrikArvas I think if we create new branch  **Dev-12.0-AFC-2145_improved_booking_confirmation** that will merge in **Dev-12.0-Fenix-Sprint-02** branch. It will create conflict.

As we have already one branch **12.0-DAFA-AFC-2125-interpreter-booking-show-made-bookings** that will merge in **Dev-12.0-Fenix-Sprint-02** and this branch contain changes of same module **outplacement_order_inter

[2021-05-18 08:38] FredrikArvas commented on #571
I think this is good. And close the PR that should not be used.

You are receiving this because you were mentioned.

--

______________________________________________________________

Fredrik Arvas, ***@***.***
Send PGP-encrypted messages to me: https://flowcrypt.com/me/fredrikarvasse
///handduken.arbetade.rymd (exakt adress med what3words)
Lillebovägen 13, 132 36 Saltsjö-Boo, Sweden
Mobil: +4670

[2021-05-18 08:40] rupareliyahemangi145 commented on #571
Ok @FredrikArvas Thanks.

[2021-05-18 08:50] rupareliyahemangi145 commented on #571
Hello @Radhika435 Can you please send me screenshots of 'Interpreter Types'. You are using 2 interpreter types, right?

Please open form view of both and send me screenshots of them. So I can reproduce and test with same.

[2021-05-18 09:22] fredrikarvas-vertel commented on #571
@Radhika435 I think it is easier to do this on Nils dev-server. Since Hemangi does not have access to Tolkportalen.

[2021-05-18 09:26] rupareliyahemangi145 commented on #571
@Radhika435  and @FredrikArvas In Step 2, We don't need to show address if interpreter type is not 'platstolk'? I mean address should be visible only on 'platstolk' interpreter type?

[2021-05-18 09:32] fredrikarvas-vertel commented on #571
yes.
/Fredrik

[2021-05-18 09:33] rupareliyahemangi145 commented on #571
Ok Thanks @FredrikArvas

[2021-05-18 10:35] rupareliyahemangi145 commented on #571
Hello @Radhika435  and @FredrikArvas ,

I've worked on this issue and here is commit for that:
https://github.com/vertelab/odoo-outplacement/commit/6d3221b39cba1374a634355dd70ec9599f866ad1
https://github.com/vertelab/odoo-outplacement/commit/b4e2ada16188c99669e125db494789c9e15903a4
https://github.com/vertelab/odoo-outplacement/commit/5dbfc292bfd182c2f34edaea21d6260aad605fbb
This commit is for step

[2021-05-18 12:53] fredrikarvas-vertel commented on #535
@AnilKesariya
I have tested on a different database and would like these changes
Add read-only for Loggin-loggin-users (Edit for Auditors)
![image](https://user-images.githubusercontent.com/61729317/118654042-6f262a80-b7e8-11eb-905c-caf93aef22c1.png)

Please move space to after :
![image](https://user-images.githubusercontent.com/61729317/118654182-954bca80-b7e8-11eb-8fba-d4df828cfcad.png)

[2021-05-19 06:24] fredrikarvas-vertel commented on #552
@SebastianGieser-Vertel - Do you know where we have information in DAFA about an approved Final Report?
I would like a state-changed or a Approved Date.

[2021-05-19 07:27] fredrikarvas-vertel commented on #551
@rupareliyahemangi145
I have tested the Odoo-tray and would like this field in the kanban to link to this field (outplacement.order_id_origin) instead
![image](https://user-images.githubusercontent.com/61729317/118772702-553a2580-b884-11eb-9376-edd06da23a3b.png)

[2021-05-19 07:28] fredrikarvas-vertel commented on #551
@nils-vertel with this change above. I am happy for this module to be merged.
/Fredrik

[2021-05-19 07:40] rupareliyahemangi145 commented on #551
@FredrikArvas  and @nils-vertel

Added commit https://github.com/vertelab/odoo-outplacement/commit/f6f7edcf29338ee64fd31e9c7ec99c9ca8020d59 to change Order value on tray widget from outplacement.order_id.name to outplacement.order_id_origin.

[2021-05-19 10:23] fredrikarvas-vertel commented on #561
@rupareliyahemangi145
Hi,
There are two changes that I found in testing of this module:
1 The Interpreter reciever should be linked to the user in the interpreter-booking (mail_acitivity.user.id)
![image](https://user-images.githubusercontent.com/61729317/118797116-8888ae80-b89c-11eb-8d73-98673f2985ab.png)

2 There is a user-rights issue for this new limited role to view Emplyees.
Please add Phone

[2021-05-19 10:28] rupareliyahemangi145 commented on #561
Hello @FredrikArvas

I understood first one.For second one can we discuss on call?

[2021-05-19 10:30] fredrikarvas-vertel commented on #561
yes. I am Logged in into this meeting now.
http://meet.jit.si/standup-oij-wtrh-rzt

[2021-05-19 10:54] rupareliyahemangi145 commented on #561
Hello @FredrikArvas

Added commit https://github.com/vertelab/odoo-outplacement/commit/e05a060b6f19f39d84eed8c05297b99ff84d052d to add Phone & Mobile and to use user_id instead of interpreter_receiver.

Please check it.

[2021-05-19 14:19] fredrikarvas-vertel commented on #561
@rupareliyahemangi145
When testing - I realized that the new view links to a /(unknown) form with Phone and Email for the res.user.
We have Phone and Email on the hr.employee. Could you use them instead?
Otherwise we will need to maintain duplicate data in the system...

Please create a new branch AFC-2117b

[2021-05-19 15:00] rupareliyahemangi145 commented on #561
Yes we can. I will do it.

On Wed, May 19, 2021, 19:49 Fredrik Arvas, Vertel AB <
***@***.***> wrote:

[2021-05-19 17:42] AnilKesariya commented on #535
Hi @FredrikArvas and @Radhika435 ,

I've fixed the auto signout issues, tested with different time slots/length and it worked perfectly attaching the screenshot for the logged in which were auto signout based on their length.

Also added the changes you've mentioned in the above comment.

![auto_logout](https://user-images.githubusercontent.com/5101994/118859219-a0415080-b8f7-11eb-8e26-029e579521e

[2021-05-19 17:45] AnilKesariya commented on #535
![after_space](https://user-images.githubusercontent.com/5101994/118859625-11810380-b8f8-11eb-9a91-c4454763a652.png)

After space on colon on kanban view.

[2021-05-19 17:57] FredrikArvas commented on #535
Great!
I will test tomorrow

[2021-05-20 04:46] fredrikarvas-vertel commented on #535
Thanks.
I have tested some and the "logout"-value was provided, but I was not logged out.
I will ask my collegues to make a clear set of testing cases with proper testing data to proceed.
/Fredrik

[2021-05-20 06:19] rupareliyahemangi145 commented on #561
Hello @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/216.

I found two improvements and one issue for interpreter module when testing which fixed in above PR.

1. AFC-2217: Taken Phone and Mobile from Employee instead of User.
2. AFC-2215:
- Issue: Added cron job that will update activity status from on_going to not_deliver based on current time.
Because I noticed

[2021-05-20 07:37] AnilKesariya commented on #535
@FredrikArvas run the following query

delete from base_login_reason;

[2021-05-20 13:50] fredrikarvas-vertel opened #586 "AFC-1807 - Show logotype in the A11y-report"
**Userstory:**
I want the AF-logotype to be displayed in the A11y-report.
The logo should be visible here:
See code-line:
https://github.com/vertelab/odoo-web/blob/48a741ecf8fa7c4d81935cf6ddfd58638aeaaa50/web_a11y_report/static/src/html/tgr.html#L12

I think the logotype needs to be placed in the source-file in the module, and not be inlcuded from Internet because of Odoos security-settings.

**Mo

[2021-05-21 04:39] rupareliyahemangi145 commented on #586
Ok @FredrikArvas I will check this issue.

[2021-05-21 05:00] rupareliyahemangi145 commented on #586
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-web/pull/62 for this issue.
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-21 05:13] AnilKesariya commented on #560
@FredrikArvas : This is already submitted do let me know if anything on this.

[2021-05-21 05:14] AnilKesariya commented on #539
@FredrikArvas : Is there is any feedback on this?

[2021-05-21 05:14] AnilKesariya commented on #538
@FredrikArvas : Is there is any feedback on this?

[2021-05-21 06:12] fredrikarvas-vertel opened #587 "AFC-2321 - Add user-grops on menu autoresponder"
**Userstory:**
As a  user of the CRM-system, I do not want to see the autoresponder menu, if I am not part of the "Autoresponder"-users.

![image](https://user-images.githubusercontent.com/61729317/119090464-f43d5980-ba0b-11eb-95ac-45e4117c58de.png)

Only users within these groups should see the menu
![image](https://user-images.githubusercontent.com/61729317/119090739-47afa780-ba0c-11eb-90f4-5bdc

[2021-05-21 06:38] AnilKesariya commented on #587
@fredrikarvas-vertel , @Radhika435 : The Dev-12.0 is behind 3 commits Dev-12.0-CRM-AFC-2078-Imp-Autoresponder,

You will merge the changes to Dev-12.0, after should I checkout new branch : Dev-12.0-AFC-2321_added_usergroup_to_menu?

[2021-05-21 06:41] fredrikarvas-vertel opened #588 "AFC-2322 - Add a tab with sent messages to the jobseeker-form"
**Userstory:**
Userstoy: As a Caseworker I want to see messages that have been sent to the current jobseeker.
![image](https://user-images.githubusercontent.com/61729317/119094773-be02d880-ba11-11eb-9074-56fb40359dd8.png)

Solution
Extend the module https://github.com/vertelab/odoo-mail/blob/Dev-12.0/af_mail_client_contact (renamed to mail_partner_messages) will depend on mail and partner_view_360

[2021-05-21 06:43] AnilKesariya commented on #587
We need to merge the last changes of Dev-12.0-CRM-AFC-2078-Imp-Autoresponder to Dev-12.0 because menu name has been changed, once you merge then I can proceed for this.

[2021-05-21 06:57] fredrikarvas-vertel commented on #587
Ok

[2021-05-21 07:09] AnilKesariya commented on #587
@FredrikArvas, @Radhika435 : One more thing, when I try to install the module **mail_autoresponder_crm**, it is installing calendar_af module which is there in **odoo-af**, but calendar_af module uses hr_skill as depends which I didn't find in my existing repositories, will you please help me on this to know that where is **hr_skill** module located?, I've found 1 module with name **hr_skill_ipf**

[2021-05-21 08:03] fredrikarvas-vertel commented on #587
I think hr_skill is an OCA-module.

[2021-05-21 08:17] AnilKesariya commented on #587
Ok. then I will make one OCA folder and load that module from OCA repository, thanks.

[2021-05-21 11:47] rupareliyahemangi145 commented on #551
Hello @FredrikArvas

I found why 'Interpreter Booking confirmed' log prints repetitive.

**interpreter_booking_status**(Booking Status) is compute field means it is not store-able in database.
So, We can't check direct in write method that if this field updated, add log at that time.

That's why I have checked following field in write method whenever any field updated it check conditions for Booki

[2021-05-21 11:56] fredrikarvas-vertel commented on #551
Let's talk about this, I do not understand completely.
https://meet.jit.si/standup-oij-wtrh-rzt

[2021-05-21 11:57] rupareliyahemangi145 commented on #551
Yes Sure

[2021-05-21 13:10] AnilKesariya commented on #587
Hi @FredrikArvas : I've pushed the changes and here is the [PR.](https://github.com/vertelab/odoo-mail/pull/56)

https://www.loom.com/share/83bbfcf99db9425d91a27b2bb45b0a95

[2021-05-21 13:39] rupareliyahemangi145 commented on #551
Hello @FredrikArvas

I've create new PR https://github.com/vertelab/odoo-outplacement/pull/217 for following points:
1. Prevented Booking confirmed message in log repetitive.
2. Prevent other users activity from Tray widget.
3. Counted other activity filter in 'All Booking' filter.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-21 13:46] fredrikarvas-vertel opened #594 "AFC-AFC-2341 - add limitation to Newsletter -menu item"
**Userstory:**
1 Please **add user-role** to the mass-mailing_menu to prevent it to be visible for users outside of the Newsletter-Manual-group
https://github.com/vertelab/odoo-af/blob/cb74ed65f4ca4d9c033382c1b1eb5c7d43b8a554/af_security/security/af_security.xml#L91

For an example on how to do this: see this issue for security-groups-module
https://github.com/vertelab/odoo-base/tree/Dev-12.0-Feni

[2021-05-21 13:47] rupareliyahemangi145 commented on #551
Here is video for PR 217 https://www.loom.com/share/8f7d2e04b9ce4fbc8955abdda88361c9

[2021-05-21 13:59] rupareliyahemangi145 commented on #594
Ok @FredrikArvas I will check this issue.

[2021-05-21 14:46] fredrikarvas-vertel opened #596 "AFC-2343_HideMenues in DAFA"
**Userstory:**
As a DAFA Accounting Read-user, I only want to see the relevant options in DAFA

1
![image](https://user-images.githubusercontent.com/61729317/119155084-17d7c280-ba53-11eb-9644-3983db7a717e.png)

![image](https://user-images.githubusercontent.com/61729317/119155232-3f2e8f80-ba53-11eb-9765-25cd17d1fa7b.png)

![image](https://user-images.githubusercontent.com/61729317/119166624-24faae

[2021-05-22 08:25] rupareliyahemangi145 commented on #551
Hello @FredrikArvas

I've created new PR https://github.com/vertelab/odoo-outplacement/pull/218 for following points:
1. Added new fields of outplacement in Interpreter view -Slide 8 in PPT
2. Added log for Delivered status - Slide 6 in PPT
3. Hide project code field in popup of Delivered button inside activity. - Slide 5 in PPT

Here attached PPT with my comments on each slide with Green color. P

[2021-05-22 10:00] #553 closed, assigned to rupareliyahemangi145, Radhika435

[2021-05-22 10:00] #455 closed

[2021-05-22 10:00] #459 closed

[2021-05-22 10:00] #461 closed, assigned to n-development, Yevhen-Pechurin

[2021-05-22 10:01] #465 closed, assigned to nils-vertel

[2021-05-22 10:01] #469 closed, assigned to n-development, Yevhen-Pechurin

[2021-05-22 10:01] #472 closed, assigned to FredrikArvas, n-development, nils-vertel, Yevhen-Pechurin

[2021-05-22 10:01] #485 closed, assigned to nobody

[2021-05-22 10:02] #427 closed

[2021-05-22 10:02] #429 closed

[2021-05-22 10:02] #440 closed

[2021-05-22 10:02] #446 closed

[2021-05-22 10:02] #436 closed

[2021-05-22 10:03] #466 closed, assigned to nobody

[2021-05-22 10:03] #433 closed

[2021-05-22 10:03] #435 closed

[2021-05-22 10:03] #302 closed

[2021-05-22 10:03] #471 closed, assigned to n-development, Yevhen-Pechurin

[2021-05-22 10:04] #402 closed

[2021-05-22 10:04] #363 closed

[2021-05-22 10:04] #342 closed

[2021-05-22 10:46] rupareliyahemangi145 commented on #588
Hello @FredrikArvas

I checked **af_mail_client_contact** module. This module just add Message menu inside contact and list messages of res.partner(Contact) model. It means it will list message of Contact model's chatter log only.

As we need Newsletter(Email marketing) messages we can't direct list mail.message.Because mail.message are deleted from odoo standard after mail sent.
And we can't show

[2021-05-22 13:34] rupareliyahemangi145 commented on #588
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-mail/pull/57 for this issue.

Here is videos:
1. https://www.loom.com/share/c2c2be991158448ab17e2b2a67be92ad
2. https://www.loom.com/share/d3d46394c156444f8d3add30d8077c9a
3. https://www.loom.com/share/833dc9fa4ccb4b9590f88d88f38bc283
4. https://www.loom.com/share/2fb02aceafb341e7b780d75a206f87bf

Please check it and let me know

[2021-05-22 14:07] FredrikArvas commented on #588
Thanks @rupareliyahemangi145
I have looked through the video and it looks great!

[2021-05-22 15:02] rupareliyahemangi145 commented on #588
Thanks @Fredrik

On Sat, May 22, 2021, 19:37 Fredrik Arvas ***@***.***> wrote:

[2021-05-23 06:26] fredrikarvas-vertel commented on #535
@AnilKesariya

Since the PR you created contains modules that origin from other Odoo-projects/Github-repos I have closed the old PR and cretaed a new one. https://github.com/vertelab/odoo-base/pull/307
I have also renamed the module to better reflect the naming convention.

When I tested the module I found these issues:
1 I tested the logout time set on 1 minute for one account (Security Auditor)

[2021-05-23 06:29] #587 closed, assigned to AnilKesariya

[2021-05-23 06:41] #560 closed, assigned to AnilKesariya

[2021-05-23 06:42] #538 closed, assigned to AnilKesariya

[2021-05-23 06:42] #539 closed, assigned to AnilKesariya

[2021-05-23 09:54] fredrikarvas-vertel commented on #588
Hi @rupareliyahemangi145
I have now tested and I would like to ask for the following changes.

1 Add usergroup for the tab, since it should not be visible for all case-workers yet.
![image](https://user-images.githubusercontent.com/61729317/119255599-f5fa4f00-bbbc-11eb-87fc-516daef27b0b.png)

2 If possible, add statistics to the email-line
![image](https://user-images.githubusercontent.com/6172931

[2021-05-23 10:05] fredrikarvas-vertel commented on #550
Hi @rupareliyahemangi145
I have tested again. Unistalled both modules. Removed partner_design_mocukup from the server. Restarted.
Installed partner_design_mockup
I still get the same view from both menues. :-(
I get different URL:s though:

http://172.16.42.112:8069/web#menu_id=557&action=758 Search-form to Formview with Search-button = partner_design_mockup.action_advance_search_partners

http://

[2021-05-23 14:33] fredrikarvas-vertel commented on #551
Outstanding issues that are left for now. I will close this issue.

![image](https://user-images.githubusercontent.com/61729317/119264719-8d26cd00-bbe4-11eb-9951-0de0e3d057b4.png)
![image](https://user-images.githubusercontent.com/61729317/119264729-957f0800-bbe4-11eb-90cf-3d24022a50a6.png)

[2021-05-23 14:33] #551 closed, assigned to rupareliyahemangi145

[2021-05-24 05:55] rupareliyahemangi145 commented on #551
@FredrikArvas Chatter log for Delivered is done in PR https://github.com/vertelab/odoo-outplacement/pull/218

[2021-05-24 06:13] fredrikarvas-vertel commented on #551
@rupareliyahemangi145 ok. I do not see them in my dev-system. But we will do further testing on that one.

[2021-05-24 06:15] rupareliyahemangi145 commented on #551
Ok @FredrikArvas

[2021-05-24 07:02] rupareliyahemangi145 commented on #550
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-base/pull/308 to fix this issue.
Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-24 07:31] AnilKesariya commented on #596
@FredrikArvas : I've few question regarding DAFA and CRM thing and respective repositories to be used. let's discuss in daily standup meeting that is scheduled after 30 minute.

[2021-05-24 09:43] #550 closed, assigned to rupareliyahemangi145

[2021-05-24 09:50] rupareliyahemangi145 commented on #588
Hello @FredrikArvas

I've worked on previous points and Created PR https://github.com/vertelab/odoo-mail/pull/58 for those.

Here is video for that:
https://www.loom.com/share/841f6a0b61394398960b1bf03f613269

1 Already added Newsletter >> Manual user group in Tab. Please let me know if doesn't work.
If user has access of Newsletter >> Automatic or Editor then user can see because these groups inh

[2021-05-24 10:48] rupareliyahemangi145 commented on #594
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-mail/pull/59 for this issue.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-24 11:34] AnilKesariya commented on #596
Hi Fredrik,

I've created https://github.com/vertelab/odoo-outplacement/pull/219 for the following.

CUD (create, update, delete)
1. Disable smart button on sales views and Disabled CUD  operations on form view of sale screen
2. Disable smart buttons on invoice views and Disabled CUD operations on form view invoice screen.

Here is the screenshot when user logged in with **DAFA Accounting (Read)**

[2021-05-24 11:34] AnilKesariya commented on #596
@FredrikArvas : let me know the right time to understand some pending points on this issue, which are not clear to me.

[2021-05-24 12:46] AnilKesariya commented on #596
@FredrikArvas : Point 5 is not required to do as I've not applied the groups on menu to hide it. used dynamic fields_view_get which will hide the buttons and access right on view load.

[2021-05-24 13:31] AnilKesariya commented on #596
![translation_terms](https://user-images.githubusercontent.com/5101994/119355036-63dc6e80-bcc2-11eb-8a73-91713f9bf7c9.png)

[2021-05-24 16:07] #588 closed, assigned to rupareliyahemangi145

[2021-05-24 16:07] #594 closed, assigned to rupareliyahemangi145

[2021-05-24 16:08] #571 closed, assigned to rupareliyahemangi145

[2021-05-24 20:52] Radhika435 opened #602 "AFC-2363 Interpreter booking bugs"
**Userstory:**
As a user, I need some corrections in the interpreter booking process.

1) Displays messages "odoo bot Task created"   // Ignore this //
![image](https://user-images.githubusercontent.com/59916603/119407491-97c88b80-bce4-11eb-91f7-01caf78ba8d5.png)

2) Unable to order plats interpreter shows an error with the address.
![image](https://user-images.githubusercontent.com/59916603/11940

[2021-05-24 21:04] Radhika435 commented on #602
FYR @fredrikarvas-vertel

[2021-05-25 04:21] rupareliyahemangi145 commented on #602
Hello @Radhika435

Let's discuss this task first on call. Please let me know when we can.

[2021-05-25 05:42] FredrikArvas commented on #602
@Radhika435 Thanks for this report.
Suggestions:
Please add the screenshot close to the description to make it easier to read.
Please describe the "current behaviour" and then the "desired behaviour" to make it easier to understand what change we want.

I know that it is difficult to write requirements and bugreports. I do them with good and bad quality. It is super-clear in my mind all the time,

[2021-05-25 07:35] Radhika435 commented on #602
@FredrikArvas Good suggestion Fredrik we will definitely do that.
@rupareliyahemangi145 I have tested it again for the point 1 and it was created from the previous data so please ignore it.

[2021-05-25 09:29] rupareliyahemangi145 commented on #602
Ok @Radhika435

[2021-05-25 12:11] rupareliyahemangi145 commented on #602
Hello @Radhika435

Please let me know when you free I have to discuss point number 3.

[2021-05-25 13:52] rupareliyahemangi145 commented on #602
Hello @Radhika435  and @FredrikArvas

I've create PR https://github.com/vertelab/odoo-outplacement/pull/220

2. This error comes because another server where interpreter booking integrated may be IPF, is sending response 404 with filled address.May I know which API is used for this integration? So I can check why it is sending 404 response.

3. Need to discuss with Radhika.

4. For wrong delivered

[2021-05-25 14:27] rupareliyahemangi145 commented on #602
Hello @FredrikArvas  and @Radhika435

I've pushed code in same PR for point no. 3

Please check it and let me know if anything.

Thanks

Regards,
Hemangi.

[2021-05-26 07:25] Radhika435 commented on #602
6)When the user clicks on the cancel button on the chatter then the interpreter must be cancelled from DAFA side and before cancellation  a pop up message box should appear which is missing now.
![image](https://user-images.githubusercontent.com/59916603/119619479-53cca800-be04-11eb-8a66-703d4063ddf0.png)

![image](https://user-images.githubusercontent.com/59916603/119619065-e751a900-be03-11eb-86f

[2021-05-26 07:31] rupareliyahemangi145 commented on #602
Ok @Radhika435 I will check this point.

[2021-05-26 07:44] Anushalewis opened #605 "AFC-2319- DAFA IMP Outplacement Tree-view and search"
1a : Userstory: Please add Source Document to search filter

As a user of the DAFA-system, I want to see the Genomförandereferens (technical name : order_id_origin) on the search filter.
please refer below for screen shots.

![image](https://user-images.githubusercontent.com/84374527/119621404-5defa600-be06-11eb-9047-7b7e785a764c.png)

The view : https://github.com/vertelab/odoo-outplacement/blob/

[2021-05-26 09:53] Radhika435 opened #606 "AFC-2368 Display the cancelled order on the kanban view."
**Userstory:**
As a user, I want to see the job seeker order have cancelled on the kanban view.
Step 1: Refer the field "Interruption" which shows the cancellation have done(if its checked in)
![image](https://user-images.githubusercontent.com/59916603/119638582-17ef0e00-be17-11eb-80a3-45caf396027f.png)
Step 2: Display the message "Cancelled by AF" (Avbruten av AF) in the kanban card.
![image](htt

[2021-05-26 10:10] Radhika435 commented on #602
@rupareliyahemangi145 please prioritize this issue.

[2021-05-26 10:11] rupareliyahemangi145 commented on #602
Yes Sure @Radhika435

[2021-05-26 10:17] rupareliyahemangi145 commented on #602
Hello @Radhika435

I've added new commit in same PR https://github.com/vertelab/odoo-outplacement/pull/220 for point no. 6
https://www.loom.com/share/721d909b8469486b8ff341c8051dc54c

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-26 10:39] rupareliyahemangi145 commented on #606
Hello @Radhika435

I've created PR https://github.com/vertelab/odoo-outplacement/pull/221 for this issue.
https://www.loom.com/share/cf8b7f12abfd42f5bab5420c1f490932

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-26 14:22] rupareliyahemangi145 commented on #602
Hello @Radhika435

Here I have mentioned points which we have discussed now and We three(you, me and @FredrikArvas ) need to discuss together tomorrow.

1. For now, User is not able to see Cancel booking after cancel. Not from Interpreter widget and also not from chatter log.
2. There are three filters(Future Activities, Last etc) in Kanban view of Interpreter booking widget. For now may be these

[2021-05-27 05:23] rupareliyahemangi145 commented on #602
Hello @Radhika435  and @FredrikArvas

I checked about above 3 points in modules and here is detail for those:

1. When a user Cancels a booking it set active=false and it goes in Done booking filter. The user can see the booking in "Done"-filter of interpreter widget. As a user i wanted to see the cancelled bookings by AF,submitted etc separately.
2. Status update must be visible in the tolk widge

[2021-05-27 05:32] AnilKesariya commented on #596
Hi Fredrik,

I've completed this task, here is the [PR](https://github.com/vertelab/odoo-outplacement/pull/219)

Here is the video for this task :
https://www.loom.com/share/97e1dd96ce48491f95f16b7dd814bd69

Code is already pushed, we can see on daily stand up

Regards,
Anil

[2021-05-27 05:37] fredrikarvas-vertel commented on #596
Thanks @AnilKesariya.
Did you see that it did not work on my dev-server yesterday?

[2021-05-27 05:39] AnilKesariya commented on #596
@FredrikArvas : yes radhika showed me yesterday, with this latest fix should work.

[2021-05-27 05:40] fredrikarvas-vertel commented on #596
Great!
 I will test it now

[2021-05-27 05:53] fredrikarvas-vertel commented on #596
Logged in with Accounting Read
![image](https://user-images.githubusercontent.com/61729317/119773170-84721780-bec0-11eb-87d1-5fd6b949f6ce.png)
![image](https://user-images.githubusercontent.com/61729317/119773215-96ec5100-bec0-11eb-9f2f-2d3ccb34ddb4.png)
![image](https://user-images.githubusercontent.com/61729317/119773243-9f448c00-bec0-11eb-9340-e833b54ee607.png)

[2021-05-27 05:55] AnilKesariya commented on #535
Ok @FredrikArvas : Thanks for the info. I will double check with this, could be possible auth_timeout creating conflicts with this may be. so, I  will install this module too into system to re-produce the same error.

Regards,
AK

[2021-05-27 09:13] Anushalewis commented on #605
@fredrikarvas-vertel : Could you please verify the module name,target and development branch names added above .

[2021-05-27 15:45] fredrikarvas-vertel opened #608 "AFC-2186 - ADKD Change attributes in "partner_selection"-view"
**Userstory:**
As a "newsletter"-sender, I want to see the following attributes in the "selection"-result-tree-view

Existing view
![image](https://user-images.githubusercontent.com/61729317/119850775-21a76d00-bf0e-11eb-9d20-1f246fbd9946.png)
https://github.com/vertelab/odoo-mail/blob/Dev-12.0/mail_mass_mailing_gdrp_limitations/views/res_partner_view.xml

**Add the following fields to the tree-vie

[2021-05-27 18:51] fredrikarvas-vertel opened #609 "AFC- ADKD Rename mail_... to mass_mailing modules"
**Userstory:**
As a user, I want/do ...., Because...

![image](https://user-images.githubusercontent.com/61729317/119857663-0c354180-bf14-11eb-862c-9baef39714f5.png)

**Screen-shots old GUI:** (illustrations of the old system)

**Screen-shots with changes:** (illustration of proposed changes)

**Screen-shots from development:** (plese add screen-shots of the development in the comment below)

**Bu

[2021-05-28 07:54] #606 closed, assigned to rupareliyahemangi145

[2021-05-28 07:58] SebastianGieser-Vertel commented on #552
Currently the only indication is a chatter message.

https://github.com/vertelab/odoo-outplacement/blob/4a9ad21206d6d392dfacefde774a62039efafef5/outplacement_final_report_mq_ipf/models/outplacement.py#L188

[2021-05-28 07:59] fredrikarvas-vertel commented on #602
@nils-vertel  will contine the testing and do some adjustments for this module.

[2021-05-28 07:59] #602 closed, assigned to rupareliyahemangi145

[2021-05-28 08:00] rupareliyahemangi145 commented on #602
Ok @FredrikArvas

[2021-05-28 09:59] fredrikarvas-vertel commented on #561
@rupareliyahemangi145 Could you please change the tree-view for "interpreter-accountants" to show all interpreterbookings, not only active.

The problem now is that when an interpreter is "delivered" it disappears from the Accountant-list.

[2021-05-28 10:00] rupareliyahemangi145 commented on #561
Yes Sure @FredrikArvas

[2021-05-28 10:22] rupareliyahemangi145 commented on #561
Hello @FredrikArvas

Created PR https://github.com/vertelab/odoo-outplacement/pull/223 to show all booking from Interpreter menu.

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-28 10:55] AnilKesariya commented on #596
@FredrikArvas : I've reproduced problem if credit and edit button after installing module.

Here is the video: https://www.loom.com/share/95200a2f855e41b09be5234032585e5e

Only the new button which are added from some custom module need to find out from where those are added those are not odoo standard buttons. the rest functionality of hiding menus and inside form view button is works perfectly f

[2021-05-28 11:08] rupareliyahemangi145 commented on #552
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/224 for this issue.
Added **Final report Approve date** field and **Archive** button inside **outplacement_final_report** module because **Final report** tab is added by this module and **Archive** button is depends on **Final report approve date** field.

Filled value in Final report approve date field after m

[2021-05-28 11:19] fredrikarvas-vertel commented on #596
Great!

[2021-05-28 11:22] fredrikarvas-vertel commented on #561
Pelase update the manifest also.
(and please change it to .rst-file.)

[2021-05-28 11:23] rupareliyahemangi145 commented on #561
Yes Sure @FredrikArvas

[2021-05-28 11:37] rupareliyahemangi145 commented on #561
Done @FredrikArvas  Added new commit in same PR https://github.com/vertelab/odoo-outplacement/pull/223 for this.

[2021-05-28 12:30] AnilKesariya commented on #596
There is one web module conflicts with this feature that does not allow to disable create and edit option. : web_a11y_create-buttons (odoo-web)

If I uninstall this then it works perfectly fine. so I am trying to figure out how I can resolve this problem a long with this app.

[2021-05-28 12:31] rupareliyahemangi145 commented on #552
Hello @FredrikArvas

I think I have to create new PR for instead of this PR https://github.com/vertelab/odoo-outplacement/pull/224 after you merger this PR https://github.com/vertelab/odoo-outplacement/pull/222.

Because PR#222 contain changes of outplacement_final_report_mq_ipf module and my PR#224 also contain changes of outplacement_final_report_mq_ipf module.

It will create conflict if merge

[2021-05-28 12:41] rupareliyahemangi145 commented on #608
Hello @FredrikArvas

I've create PRs for this issue:
https://github.com/vertelab/odoo-mail/pull/60
and https://github.com/vertelab/odoo-base/pull/316

Here is result:
![jobseeker](https://user-images.githubusercontent.com/36560391/119985229-0442d380-bfe0-11eb-9bdf-11f7bb208abe.png)

![from_domain](https://user-images.githubusercontent.com/36560391/119985232-060c9700-bfe0-11eb-847b-221411aec601.png

[2021-05-28 12:59] fredrikarvas-vertel commented on #596
Ok. Great that you found the issue.
That module is important.
So we need to think of a way to merge them somehow.

[2021-05-28 13:01] fredrikarvas-vertel commented on #552
This is correct.
If you make a note on PR#224 that it can not be merged before PR#222 that is enough.

[2021-05-28 13:24] rupareliyahemangi145 commented on #552
Ok @FredrikArvas

[2021-05-28 13:43] AnilKesariya commented on #596
Yes, I see, it updates the buttons label. but it stopped allowing to update form attributes at all even though we can't update any attribute of form directly with this module.

[2021-05-28 15:59] AnilKesariya commented on #596
@FredrikArvas, @Radhika435

Please have a look at this video https://www.loom.com/share/8ac6fcbc941e4b5291cb114d42521159

Due that odoo-web custom module it shows create and edit button for any model even if users does not have the standard access of create,read.

For now, I've added read access right for accounting read user for sale and accounting operations, even though create/edit button would

[2021-05-28 17:27] fredrikarvas-vertel commented on #596
ok, that is a good solution at this point.
Thanks

[2021-05-28 19:02] #552 closed, assigned to rupareliyahemangi145

[2021-05-28 19:04] fredrikarvas-vertel commented on #605
@rupareliyahemangi145 Please add this functionality in a branch with your name. We will use this as a teaching module as well as solving a real need.

[2021-05-28 19:05] fredrikarvas-vertel commented on #586
@erikrudhe Did you see how this change was implemented?
If yes, please close this issu.

[2021-05-28 19:06] #561 closed, assigned to rupareliyahemangi145

[2021-05-28 19:20] fredrikarvas-vertel opened #612 "AFC-2353 - SM- Proposal for GUI for Secure Messages"
**Userstory:**
Userstoy: As a Caseworker I want to send and see messages to the current jobseeker.

1 Extend the module https://github.com/vertelab/odoo-mail/blob/Dev-12.0/mail_partner_messages
with "Source" (indicating if it is a mass_mailing, mail_autoresponder, or a normal "mail_message".
![image](https://user-images.githubusercontent.com/61729317/120031881-b33fd900-bff9-11eb-99c2-0bfd59a18a75.

[2021-05-29 07:01] rupareliyahemangi145 commented on #605
Ok @FredrikArvas

[2021-05-29 07:23] rupareliyahemangi145 commented on #605
Hello @FredrikArvas  and @Anushalewis

I've create PR https://github.com/vertelab/odoo-outplacement/pull/226 for this issue.
Note: Added search view related changes in sale_outplacement module because order_id_origin added from sale_outplacement module.

Here is video for result:
https://www.loom.com/share/c39a7ddc5eb14596b6abbc6da880fc8e

Please check it and let me know if anything.

Thanks.

Reg

[2021-05-29 08:01] fredrikarvas-vertel opened #613 "AFC-2405 Enhancement and bugfixes in interpreter"
1 Add Translation:
Current EN:
Interpreter request has been sent at the time YYYY-MM-DD HH:MM:SS & YYYY-MM-DD HH:MM:SS, with the language [Language name] and waiting for the confirmation from the Interpreter portal.

(If the language is set in the Javascript - it is ok to only have the message in Swedish).
New EN:
Interpreter request has been sent for YYYY-MM-DD at HH:MM to HH:MM in [Language name

[2021-05-29 08:23] rupareliyahemangi145 commented on #613
Ok @FredrikArvas  I will start work on this issue.

[2021-05-29 08:32] fredrikarvas-vertel opened #614 "AFC-2406 - IMP Interpreter Accountant View"
**Userstory:**
1 Please rearrange the formview:
![image](https://user-images.githubusercontent.com/61729317/120063781-3a786580-c069-11eb-8a89-a2961d5f5983.png)

2 Please separate Date, Start, End into three columns.
![image](https://user-images.githubusercontent.com/61729317/120063940-094c6500-c06a-11eb-8a19-9d2876661dd1.png)

3 Please add Duration (End-Start) displayed in minutes

4 Please displa

[2021-05-29 08:44] rupareliyahemangi145 commented on #614
Ok @FredrikArvas I will check this isssue.

[2021-05-29 08:48] rupareliyahemangi145 commented on #613
Hello @FredrikArvas

Interpreter request has been sent at the time YYYY-MM-DD HH:MM:SS & YYYY-MM-DD HH:MM:SS, with the language [Language name] and waiting for the confirmation from the Interpreter portal.

What should be translation for **and waiting for the confirmation from the Interpreter portal.**?Or should I need to remove this line from message?

[2021-05-29 08:53] fredrikarvas-vertel commented on #613
Yes, please remove that line.

[2021-05-29 08:55] rupareliyahemangi145 commented on #613
Ok Thanks @fredrikarvas-vertel

[2021-05-29 11:08] rupareliyahemangi145 commented on #613
Hello @FredrikArvas
In point 7, Add "search for" in the interpreter-tray-kanban-view

You need same search view in Interpreters menu's list view which is on tray widget?
Here:
![interpreter](https://user-images.githubusercontent.com/36560391/120068042-46c9e600-c09c-11eb-822b-49feefbb6431.png)

Or in tray widget search view, need to add new fields on search view which are in kanban view?

@rupareli

[2021-05-29 12:02] rupareliyahemangi145 commented on #613
Hello @FredrikArvas I don't understand comment of point 10.
@rupareliyahemangi145 Ok. Leave this for now. The calculation get right as soon as the Chron-job has connected to the InterpreterPortal-service.

[2021-05-29 12:40] rupareliyahemangi145 commented on #613
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-project/pull/29 for Point no. 1 and 2

This PR https://github.com/vertelab/odoo-outplacement/pull/227 is for 3,4,5,6,8,9
I've added README.rst file for outplacement_order_interpreter module.

Here is video for 1,2,3,4,5,6,8,9:
https://www.loom.com/share/c677e73de9a546a9a6bd37c3740c9e0f

Remaining points are 7 and 10. Added comme

[2021-05-30 07:41] fredrikarvas-vertel commented on #613
@rupareliyahemangi145 Item 7 is the only thing outstanding now.

[2021-05-30 08:08] fredrikarvas-vertel opened #615 "AFC-2407 Printerfriendly version of the Final Report"
**Userstory:**
As a user, I want create a printerfriendly version of the Final Report, because I want to share it with the Participant.

The report should be "printable" and "possible to email".

Suggestion: Create a report that can printed and can be emailed participant.

Please use the following fields:
![image](https://user-images.githubusercontent.com/61729317/120096567-83ddb900-c12c-11eb-8c7e

[2021-05-30 19:41] Anushalewis opened #616 "AFC-2317- IMP Outplacement Activities - Add Name"
•Userstory: Please add name of the User (outplacement.partner_name) on the Kanban cards in the activity page of Outplacement.

As a user of the DAFA-system, I want to see name of the User (outplacement.partner_name) on the Kanban cards on the activity page of Outplacement.

Illustrations of the existing system
![image](https://user-images.githubusercontent.com/84374527/120117771-12832200-c18f-11eb

[2021-05-30 19:43] Anushalewis commented on #616
@FredrikArvas : Can you please help with the Module name and the target branch name.

[2021-05-31 04:24] rupareliyahemangi145 commented on #613
Ok @FredrikArvas

[2021-05-31 05:03] rupareliyahemangi145 commented on #613
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/228 for point 7.

Here is video for that:https://www.loom.com/share/e0fd543efff0496ea25fcb7a5d860daa

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-31 05:05] rupareliyahemangi145 commented on #615
Ok @FredrikArvas I will start work on this.

[2021-05-31 05:22] fredrikarvas-vertel commented on #613
Thanks @rupareliyahemangi145
The search-view is better now, but I still want to be able to search for partner name etc
![image](https://user-images.githubusercontent.com/61729317/120143742-f9a35c80-c1e0-11eb-97c7-f15e6cc20761.png)

[2021-05-31 05:27] rupareliyahemangi145 commented on #613
Ok Sure @FredrikArvas I will add search for Partner name, Name, Source document, Booking Ref, Performing Operation.

To Add separator I have to check JS part we can't add there via XML.

[2021-05-31 05:34] fredrikarvas-vertel commented on #613
Ok, skip the separators then. :-)

[2021-05-31 05:35] rupareliyahemangi145 commented on #613
Ok @FredrikArvas :)

[2021-05-31 06:03] fredrikarvas-vertel commented on #596
This item is still not working correctly, it might be due to a conflict with something else. I will ask @robch2342 have a look.

[2021-05-31 06:07] rupareliyahemangi145 commented on #613
Hello @FredrikArvas  Added one more commit in same PR https://github.com/vertelab/odoo-outplacement/pull/228 to add new fields on search.

https://www.loom.com/share/9a44f1bf63a343fc9a20bc3b4adc8d11

Also added Outplacement and Task clickable in Interpreter form view.

![interpreter_form_view](https://user-images.githubusercontent.com/36560391/120147611-89a6cd80-c204-11eb-8a66-f11e3f6f18f8.png)

P

[2021-05-31 06:52] rupareliyahemangi145 commented on #613
Hello @FredrikArvas

Added group on **Outplacement** and **Task** fields of Interpreter view in same PR https://github.com/vertelab/odoo-outplacement/pull/228

Please check it and let me know if anything.

Thanks.

Regards,
Hemangi.

[2021-05-31 09:54] fredrikarvas-vertel opened #618 "AFC-2410 - add import wizard for deregistration to mass_mailing"
**Userstory:**
As a Mass_Mailing-user, I want to upload a csv/xlsx-file with a list of "blacklisted" email-addresses to the "de-register"-table in Odoo. Becauase if a Jobseeker has deregistred from one newsletter in one of our systems, they should not need to deregister again.

A Suggested Format is:  email, date-time, reason (pick one default value)

Security aspects:
The normal "Import"-function

[2021-05-31 11:34] rupareliyahemangi145 commented on #614
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/229 for this issue.

Here is results:
![tree_view](https://user-images.githubusercontent.com/36560391/120186934-c89f4800-c231-11eb-8f38-e869a20794ee.png)

![form_view](https://user-images.githubusercontent.com/36560391/120186950-cd63fc00-c231-11eb-8002-3e4e3aa0e6d2.png)

Note:

In Order field I've displayed Ord

[2021-05-31 12:16] fredrikarvas-vertel commented on #614
Great!

[2021-05-31 12:17] rupareliyahemangi145 commented on #614
Thanks @FredrikArvas

[2021-05-31 13:12] rupareliyahemangi145 commented on #615
Hello @FredrikArvas

Here I attached today's work of Report. Remaining to add some fields and some improvements
[AKTTEST-4831 - Final Report.pdf](https://github.com/vertelab/odoo-af/files/6570441/AKTTEST-4831.-.Final.Report.pdf)
 in layout.

[2021-05-31 13:15] fredrikarvas-vertel commented on #615
yes, this is good!

[2021-05-31 13:17] rupareliyahemangi145 commented on #615
Thanks @FredrikArvas

[2021-05-31 16:11] #608 closed, assigned to rupareliyahemangi145

[2021-06-01 05:56] #614 closed, assigned to rupareliyahemangi145

[2021-06-01 06:02] rupareliyahemangi145 commented on #615
Hello @FredrikArvas

Here I attached latest version of PDF report. Please check it and let me know changes for this report.
[AKTTEST-9311 - Final Report.pdf](https://github.com/vertelab/odoo-af/files/6573697/AKTTEST-9311.-.Final.Report.pdf)

Now I will add button to send this report via Email. Like this:
![sale_button](https://user-images.githubusercontent.com/36560391/120274103-01d8c600-c2cd-11eb

[2021-06-01 08:49] rupareliyahemangi145 commented on #615
Hello @FredrikArvas

I've created PR https://github.com/vertelab/odoo-outplacement/pull/230 for first version of this issue.

![outplacement](https://user-images.githubusercontent.com/36560391/120294950-52a7e900-c2e4-11eb-92e3-00a47e156cbb.png)

![outplacement_mail](https://user-images.githubusercontent.com/36560391/120294974-58053380-c2e4-11eb-9960-ff2974bea4b3.png)

Please check it and let me kn